In [144]:
import pandas as pd
import numpy as np
import math as math
import matplotlib.pyplot as plt
import seaborn as sns
import dateutil
%matplotlib inline

In [145]:
def conv(val):
    if val == np.nan:
        return 0
    return val

In [146]:
df = pd.read_csv("../../diaries_transactions_all.csv", low_memory=False);
df['trx_yr_mo'].value_counts()

2013_08    45270
2013_07    45159
2013_06    44974
2013_05    42875
2013_09    42087
2013_04    41322
2013_03    37349
2013_01    35684
2013_02    34936
2012_11    33870
2012_10    28721
2012_12    26873
2013_10    16895
2012_09     6934
2013_11      914
2012_08       47
2013_12       39
Name: trx_yr_mo, dtype: int64

### Only considering all formal loans

In [148]:
frmloan = df[((df["trx_family_code"]=="FRMLN")&(df['trx_direction'] == 'Outflow'))]

### Group formal loans by IDs

In [149]:
frmloan.groupby(['m_ids_owner', 'trx_yr_mo']).groups.keys()

dict_keys([('50135271114900000', '2013_01'), ('50135271114900000', '2013_02'), ('50135271114900000', '2013_05'), ('50135271114900000', '2013_06'), ('50135271114900000', '2013_07'), ('50135271114900000', '2013_10'), ('56134328473900000', '2012_11'), ('56134328473900000', '2013_02'), ('56134328473900000', '2013_03'), ('56134328473900000', '2013_05'), ('56134328473900000', '2013_06'), ('56134328473900000', '2013_07'), ('56134328473900000', '2013_08'), ('56134328473900000', '2013_09'), ('56134328473900000', '2013_10'), ('56134329355600000', '2013_03'), ('56134329355600000', '2013_04'), ('56134329355600000', '2013_05'), ('56134329355600000', '2013_06'), ('56134329355600000', '2013_07'), ('56134329355600000', '2013_08'), ('56134329355600000', '2013_09'), ('56134381592900000', '2012_10'), ('56134381592900000', '2012_11'), ('56134381592900000', '2012_12'), ('56134381592900000', '2013_01'), ('56134381592900000', '2013_02'), ('56134381592900000', '2013_03'), ('56134381592900000', '2013_04'), ('56134381592900000', '2013_05'), ('56134381592900000', '2013_06'), ('56134381592900000', '2013_07'), ('56134381592900000', '2013_08'), ('56134381592900000', '2013_09'), ('56134381592900000', '2013_10'), ('56134388724900000', '2012_10'), ('56134388724900000', '2012_11'), ('56134388724900000', '2012_12'), ('56134388724900000', '2013_01'), ('56134388724900000', '2013_02'), ('56134388724900000', '2013_03'), ('56134388724900000', '2013_04'), ('56134388724900000', '2013_05'), ('56134388724900000', '2013_06'), ('56134388724900000', '2013_07'), ('56134388724900000', '2013_08'), ('56134389503000000', '2012_09'), ('56134389503000000', '2012_10'), ('56134389503000000', '2012_11'), ('56134389503000000', '2012_12'), ('56134389503000000', '2013_01'), ('56134389503000000', '2013_02'), ('56134389503000000', '2013_03'), ('56134389503000000', '2013_04'), ('56134389503000000', '2013_05'), ('56134389503000000', '2013_06'), ('56134389503000000', '2013_07'), ('56134389503000000', '2013_08'), ('56134389503000000', '2013_09'), ('56134397318700000', '2012_10'), ('56134397318700000', '2012_11'), ('56134397318700000', '2013_01'), ('56134397318700000', '2013_05'), ('56134397318700000', '2013_07'), ('56134397318700000', '2013_08'), ('56134397318700000', '2013_09'), ('56134410709700000', '2012_11'), ('56134410709700000', '2012_12'), ('57134303074500000', '2013_04'), ('57134303074500000', '2013_05'), ('57134303074500000', '2013_06'), ('57134303074500000', '2013_07'), ('57134303074500000', '2013_08'), ('57134303074500000', '2013_09'), ('57134305072200000', '2013_05'), ('57134305072200000', '2013_06'), ('57134305072200000', '2013_07'), ('57134319815200000', '2013_08'), ('57134319815200000', '2013_09'), ('57134320447800000', '2012_09'), ('57134320447800000', '2012_10'), ('57134320447800000', '2012_11'), ('57134320447800000', '2012_12'), ('57134320447800000', '2013_02'), ('57134320447800000', '2013_03'), ('57134320447800000', '2013_04'), ('57134320447800000', '2013_05'), ('57134320447800000', '2013_06'), ('57134320447800000', '2013_07'), ('57134320447800000', '2013_08'), ('57134320861700000', '2013_08'), ('57134322015900000', '2012_09'), ('57134322015900000', '2012_10'), ('57134322015900000', '2012_11'), ('57134322015900000', '2012_12'), ('57134322015900000', '2013_01'), ('57134322015900000', '2013_02'), ('57134322015900000', '2013_03'), ('57134322015900000', '2013_04'), ('57134322015900000', '2013_05'), ('57134322015900000', '2013_06'), ('57134322015900000', '2013_07'), ('57134322015900000', '2013_08'), ('57134339147100000', '2012_10'), ('57134339147100000', '2012_12'), ('57134339147100000', '2013_01'), ('57134339147100000', '2013_02'), ('57134339147100000', '2013_03'), ('57134339147100000', '2013_05'), ('57134339147100000', '2013_06'), ('57134339147100000', '2013_07'), ('57134339147100000', '2013_09'), ('57134346769300000', '2013_05'), ('57134363181700000', '2013_07'), ('57134363181700000', '2013_08'), ('57134363181700000', '2013_09'), ('57134364414700000', '2012_10'), ('57134364414700000', '2012_11'), ('57134364414700000', '2012_12'), ('57134364414700000', '2013_02'), ('57134372871700000', '2013_09'), ('57134381707600000', '2012_09'), ('57134381707600000', '2012_10'), ('57134381707600000', '2012_11'), ('57134381707600000', '2012_12'), ('57134381707600000', '2013_01'), ('57134381707600000', '2013_02'), ('57134381707600000', '2013_03'), ('57134381707600000', '2013_04'), ('57134381707600000', '2013_05'), ('57134381707600000', '2013_06'), ('57134381707600000', '2013_07'), ('57134381707600000', '2013_08'), ('57134381707600000', '2013_09'), ('57134407687800000', '2012_09'), ('57134407687800000', '2012_10'), ('57134407687800000', '2012_11'), ('57134407687800000', '2012_12'), ('57134407687800000', '2013_01'), ('57134407687800000', '2013_02'), ('57134407687800000', '2013_03'), ('57134407687800000', '2013_04'), ('57134407687800000', '2013_05'), ('57134407687800000', '2013_06'), ('57134408247700000', '2013_03'), ('57134408247700000', '2013_04'), ('57134408247700000', '2013_05'), ('57134408247700000', '2013_07'), ('57134408247700000', '2013_08'), ('57134408247700000', '2013_09'), ('57134433115100000', '2013_09'), ('57134458997500000', '2013_08'), ('58134382346100000', '2012_10'), ('58134382346100000', '2012_12'), ('58134382346100000', '2013_01'), ('58134382346100000', '2013_03'), ('58134382346100000', '2013_04'), ('58134382346100000', '2013_05'), ('58134382346100000', '2013_06'), ('58134382346100000', '2013_07'), ('58134433254800000', '2012_10'), ('58134433254800000', '2012_11'), ('58134433254800000', '2012_12'), ('58134433254800000', '2013_04'), ('58134433254800000', '2013_05'), ('58134433254800000', '2013_06'), ('58134433254800000', '2013_07'), ('58134433254800000', '2013_08'), ('58134444870500000', '2013_05'), ('58134444870500000', '2013_06'), ('59134311227800000', '2012_10'), ('59134311227800000', '2012_11'), ('59134311227800000', '2012_12'), ('59134311227800000', '2013_01'), ('59134311227800000', '2013_02'), ('59134311227800000', '2013_03'), ('59134311227800000', '2013_04'), ('59134311227800000', '2013_05'), ('59134311227800000', '2013_06'), ('59134311227800000', '2013_07'), ('59134311227800000', '2013_08'), ('59134311227800000', '2013_09'), ('59134327942800000', '2012_10'), ('59134327942800000', '2012_11'), ('59134327942800000', '2013_01'), ('59134327942800000', '2013_02'), ('59134327942800000', '2013_03'), ('59134327942800000', '2013_04'), ('59134327942800000', '2013_07'), ('59134327942800000', '2013_08'), ('59134327942800000', '2013_09'), ('59134337917700000', '2013_03'), ('59134337917700000', '2013_04'), ('59134337917700000', '2013_06'), ('59134337917700000', '2013_07'), ('59134337917700000', '2013_08'), ('59134362693600000', '2012_10'), ('59134362693600000', '2012_11'), ('59134362693600000', '2012_12'), ('59134362693600000', '2013_02'), ('59134362693600000', '2013_03'), ('59134362693600000', '2013_04'), ('59134362693600000', '2013_05'), ('59134362693600000', '2013_06'), ('59134362693600000', '2013_07'), ('59134362693600000', '2013_08'), ('59134362693600000', '2013_09'), ('59134364992800000', '2013_06'), ('59134364992800000', '2013_07'), ('59134364992800000', '2013_08'), ('59134372493300000', '2012_10'), ('59134379470300000', '2012_11'), ('59134379470300000', '2012_12'), ('59134379470300000', '2013_04'), ('59134379470300000', '2013_05'), ('59134379470300000', '2013_06'), ('59134379470300000', '2013_07'), ('59134379470300000', '2013_08'), ('59134379470300000', '2013_09'), ('59134380191400000', '2012_10'), ('59134380191400000', '2012_11'), ('59134380191400000', '2012_12'), ('59134380191400000', '2013_01'), ('59134380191400000', '2013_04'), ('59134380191400000', '2013_05'), ('59134380191400000', '2013_06'), ('59134380191400000', '2013_07'), ('59134380191400000', '2013_08'), ('59134380191400000', '2013_09'), ('59134381215900000', '2012_11'), ('59134381215900000', '2012_12'), ('59134381215900000', '2013_01'), ('59134381215900000', '2013_02'), ('59134381215900000', '2013_03'), ('59134381215900000', '2013_04'), ('59134381215900000', '2013_05'), ('59134381215900000', '2013_06'), ('59134381215900000', '2013_07'), ('59134381215900000', '2013_08'), ('59134388500400000', '2013_01'), ('59134388500400000', '2013_05'), ('59134388500400000', '2013_07'), ('59134388500400000', '2013_09'), ('59134391035200000', '2013_03'), ('59134391035200000', '2013_04'), ('59134391035200000', '2013_05'), ('59134391035200000', '2013_07'), ('59134391035200000', '2013_08'), ('59134399785800000', '2013_02'), ('59134399785800000', '2013_03'), ('59134399785800000', '2013_04'), ('59134399785800000', '2013_05'), ('59134399785800000', '2013_06'), ('59134399785800000', '2013_07'), ('59134399785800000', '2013_08'), ('60134322152600000', '2013_02'), ('60134322152600000', '2013_07'), ('60134336915700000', '2013_03'), ('60134337376400000', '2013_01'), ('60134371895700000', '2013_03'), ('60134371895700000', '2013_04'), ('60134371895700000', '2013_05'), ('60134371895700000', '2013_08'), ('60134380370600000', '2013_03'), ('60134382168100000', '2012_12'), ('60134433892200000', '2012_10'), ('60134433892200000', '2012_11'), ('60134433892200000', '2012_12'), ('60134433892200000', '2013_01'), ('60134433892200000', '2013_02'), ('60134433892200000', '2013_03'), ('60134543832000000', '2013_06'), ('60134547419200000', '2012_10'), ('60134547419200000', '2012_11'), ('60134547419200000', '2012_12'), ('60134547419200000', '2013_01'), ('60134547419200000', '2013_02'), ('60134547419200000', '2013_03'), ('60134547419200000', '2013_04'), ('60134547419200000', '2013_05'), ('60134547419200000', '2013_06'), ('60134547419200000', '2013_07'), ('60134547419200000', '2013_08'), ('60134547419200000', '2013_09'), ('61134338082500000', '2012_10'), ('61134338082500000', '2012_11'), ('61134338082500000', '2012_12'), ('61134338082500000', '2013_02'), ('61134338082500000', '2013_03'), ('61134338082500000', '2013_04'), ('61134363655200000', '2012_09'), ('61134363655200000', '2012_11'), ('61134363655200000', '2013_03'), ('61134363655200000', '2013_04'), ('61134364505100000', '2012_10'), ('61134364505100000', '2012_12'), ('61134364505100000', '2013_01'), ('61134364505100000', '2013_02'), ('61134364505100000', '2013_04'), ('61134364505100000', '2013_06'), ('61134364505100000', '2013_07'), ('61134364505100000', '2013_08'), ('61134364505100000', '2013_09'), ('61134381034300000', '2012_08'), ('61134381034300000', '2012_09'), ('61134381034300000', '2012_10'), ('61134381034300000', '2012_11'), ('61134381034300000', '2012_12'), ('61134381034300000', '2013_01'), ('61134381034300000', '2013_02'), ('61134381034300000', '2013_03'), ('61134381034300000', '2013_04'), ('61134381034300000', '2013_09'), ('61134382134100000', '2012_10'), ('61134382134100000', '2012_11'), ('61134382134100000', '2012_12'), ('61134382134100000', '2013_01'), ('61134382134100000', '2013_02'), ('61134382134100000', '2013_03'), ('61134382134100000', '2013_08'), ('61134382134100000', '2013_09'), ('61134394294700000', '2012_10'), ('61134394294700000', '2012_11'), ('61134394294700000', '2012_12'), ('61134394294700000', '2013_01'), ('61134394294700000', '2013_02'), ('61134394294700000', '2013_03'), ('61134394294700000', '2013_04'), ('61134394294700000', '2013_07'), ('61134394294700000', '2013_08'), ('61134394294700000', '2013_09'), ('61134398779000000', '2013_06'), ('61134398779000000', '2013_07'), ('61134398779000000', '2013_09'), ('61134406243400000', '2012_11'), ('61134406243400000', '2013_01'), ('61134406243400000', '2013_03'), ('61134406243400000', '2013_04'), ('61134406243400000', '2013_05'), ('61134406243400000', '2013_06'), ('61134406243400000', '2013_07'), ('61134406243400000', '2013_08'), ('61134406243400000', '2013_10'), ('61134406652800000', '2013_07'), ('61134406652800000', '2013_08'), ('61134423778900000', '2012_11'), ('61134423778900000', '2012_12'), ('61134423778900000', '2013_01'), ('61134423778900000', '2013_02'), ('61134423778900000', '2013_03'), ('61134423778900000', '2013_04'), ('61134423778900000', '2013_05'), ('61134423778900000', '2013_06'), ('61134423778900000', '2013_07'), ('61134423778900000', '2013_08'), ('61134423778900000', '2013_09'), ('61134423778900000', '2013_10'), ('61134442496500000', '2012_09'), ('61134442496500000', '2012_11'), ('61134442496500000', '2012_12'), ('61134458558400000', '2012_11'), ('61134458558400000', '2012_12'), ('61134458558400000', '2013_01'), ('61134458558400000', '2013_02'), ('61134458558400000', '2013_03'), ('61134458558400000', '2013_04'), ('61134458558400000', '2013_05'), ('61134458558400000', '2013_06'), ('61134458558400000', '2013_07'), ('61134458558400000', '2013_08'), ('61134458558400000', '2013_09'), ('61134458558400000', '2013_10'), ('61134467126800000', '2013_02'), ('61134467126800000', '2013_03'), ('61134467126800000', '2013_04'), ('61134467126800000', '2013_05'), ('61134467126800000', '2013_06'), ('61134467126800000', '2013_07'), ('61134467126800000', '2013_08'), ('61134467126800000', '2013_09'), ('61134467335400000', '2012_10'), ('61134467335400000', '2012_11'), ('61134467335400000', '2012_12'), ('61134467335400000', '2013_01'), ('61134467335400000', '2013_02'), ('61134467335400000', '2013_03'), ('61134467335400000', '2013_04'), ('61134467335400000', '2013_05'), ('61134467335400000', '2013_06'), ('61134467335400000', '2013_07'), ('61134467335400000', '2013_08'), ('61134467335400000', '2013_09'), ('61134468689200000', '2013_06'), ('61134469028000000', '2013_05'), ('61134469028000000', '2013_06'), ('61134469982600000', '2013_01'), ('61134469982600000', '2013_02'), ('61134469982600000', '2013_03'), ('61134469982600000', '2013_04'), ('61134469982600000', '2013_05'), ('61134469982600000', '2013_06'), ('61134469982600000', '2013_08'), ('61134469982600000', '2013_09'), ('61134479318400000', '2012_10'), ('61134479318400000', '2012_11'), ('61134479318400000', '2012_12'), ('61134479318400000', '2013_02'), ('61134479318400000', '2013_03'), ('61134479318400000', '2013_04'), ('61134479318400000', '2013_05'), ('61134479318400000', '2013_07'), ('61134491524800000', '2012_11'), ('61134553127800000', '2012_10'), ('61134553127800000', '2012_11'), ('61134553127800000', '2012_12'), ('61134553127800000', '2013_02'), ('61134553127800000', '2013_03'), ('61134553127800000', '2013_04'), ('61134553127800000', '2013_07'), ('62134330289700000', '2012_11'), ('62134330289700000', '2013_01'), ('62134330289700000', '2013_02'), ('62134330289700000', '2013_10'), ('62134347056700000', '2012_11'), ('62134347056700000', '2013_01'), ('62134347056700000', '2013_05'), ('62134347056700000', '2013_06'), ('62134362978100000', '2013_07'), ('62134362978100000', '2013_10'), ('62134424394500000', '2012_10'), ('62134424394500000', '2012_11'), ('62134424394500000', '2012_12'), ('62134424394500000', '2013_01'), ('62134424394500000', '2013_02'), ('62134424394500000', '2013_03'), ('62134424394500000', '2013_04'), ('62134424394500000', '2013_05'), ('62134424394500000', '2013_06'), ('62134424394500000', '2013_07'), ('62134424394500000', '2013_08'), ('62134424394500000', '2013_09'), ('62134424394500000', '2013_10'), ('62134426330600000', '2012_10'), ('62134426330600000', '2012_11'), ('62134426330600000', '2013_01'), ('62134426330600000', '2013_02'), ('62134443073700000', '2012_10'), ('62134443073700000', '2012_11'), ('62134443073700000', '2012_12'), ('62134443073700000', '2013_01'), ('62134443073700000', '2013_02'), ('62134443073700000', '2013_03'), ('62134443073700000', '2013_04'), ('62134443073700000', '2013_05'), ('62134443073700000', '2013_06'), ('62134443073700000', '2013_07'), ('62134443073700000', '2013_09'), ('63134363237200000', '2012_10'), ('63134363237200000', '2012_11'), ('63134363237200000', '2012_12'), ('63134363237200000', '2013_01'), ('63134363237200000', '2013_02'), ('63134363237200000', '2013_03'), ('63134363237200000', '2013_04'), ('63134363237200000', '2013_05'), ('63134363237200000', '2013_06'), ('63134363237200000', '2013_07'), ('63134363237200000', '2013_08'), ('63134363237200000', '2013_09'), ('63134382172900000', '2012_10'), ('63134382172900000', '2012_11'), ('63134382172900000', '2013_02'), ('63134382172900000', '2013_03'), ('63134382172900000', '2013_04'), ('63134382172900000', '2013_05'), ('63134382172900000', '2013_06'), ('63134382172900000', '2013_07'), ('63134382172900000', '2013_08'), ('63134425702500000', '2013_02'), ('63134425702500000', '2013_04'), ('63134425702500000', '2013_05'), ('63134425702500000', '2013_06'), ('63134425702500000', '2013_07'), ('63134425702500000', '2013_08'), ('63134425702500000', '2013_09'), ('63134433360400000', '2012_10'), ('63134433360400000', '2012_11'), ('63134433360400000', '2012_12'), ('63134433360400000', '2013_01'), ('63134433360400000', '2013_02'), ('63134433360400000', '2013_03'), ('63134433360400000', '2013_04'), ('63134433360400000', '2013_05'), ('63134433360400000', '2013_06'), ('63134433360400000', '2013_07'), ('63134433360400000', '2013_08'), ('63134433360400000', '2013_09'), ('63134459785700000', '2013_04'), ('63134459785700000', '2013_05'), ('63134459785700000', '2013_06'), ('63134459785700000', '2013_08'), ('63134459785700000', '2013_09'), ('64134382466300000', '2013_08'), ('64134382466300000', '2013_10'), ('64134399713800000', '2013_07'), ('64134399713800000', '2013_09'), ('64134445268900000', '2012_12'), ('64134445268900000', '2013_01'), ('64134445268900000', '2013_03'), ('64134445268900000', '2013_04'), ('64134445268900000', '2013_06'), ('64134452134100000', '2013_08'), ('64134452134100000', '2013_09'), ('64134452134100000', '2013_10'), ('64134482630800000', '2013_09'), ('65134432186900000', '2013_03'), ('65134432186900000', '2013_06'), ('65134432186900000', '2013_07'), ('65134432186900000', '2013_08'), ('65134432186900000', '2013_09'), ('65134432186900000', '2013_10'), ('65134432610100000', '2013_05'), ('65134432610100000', '2013_06'), ('65134432610100000', '2013_07'), ('65134432610100000', '2013_08'), ('65134432610100000', '2013_09'), ('65134432610100000', '2013_10'), ('65134433094700000', '2012_10'), ('65134433094700000', '2013_04'), ('65134433094700000', '2013_05'), ('65134433094700000', '2013_06'), ('65134433094700000', '2013_08'), ('65134433094700000', '2013_09'), ('65134435629400000', '2012_08'), ('65134435629400000', '2012_09'), ('65134435629400000', '2012_10'), ('65134435629400000', '2012_11'), ('65134435629400000', '2012_12'), ('65134435629400000', '2013_01'), ('65134435629400000', '2013_02'), ('65134435629400000', '2013_03'), ('65134435629400000', '2013_08'), ('65134435629400000', '2013_09'), ('65134436228800000', '2013_08'), ('65134436228800000', '2013_09'), ('65134441422200000', '2012_09'), ('65134441422200000', '2012_10'), ('65134441422200000', '2012_11'), ('65134441422200000', '2012_12'), ('65134441422200000', '2013_01'), ('65134441422200000', '2013_02'), ('65134441422200000', '2013_03'), ('65134441422200000', '2013_04'), ('65134441422200000', '2013_05'), ('65134441422200000', '2013_06'), ('65134441422200000', '2013_07'), ('65134441422200000', '2013_08'), ('65134441422200000', '2013_09'), ('65134442822400000', '2012_10'), ('65134442822400000', '2012_11'), ('65134442822400000', '2013_01'), ('65134442822400000', '2013_02'), ('65134442822400000', '2013_03'), ('65134442822400000', '2013_04'), ('79134821776500000', '2013_01'), ('79134821776500000', '2013_02'), ('79134821776500000', '2013_03'), ('79134821776500000', '2013_04'), ('79134821776500000', '2013_05'), ('79134821776500000', '2013_06'), ('79134821776500000', '2013_07'), ('79134821776500000', '2013_08'), ('79134829266800000', '2013_03'), ('79134829266800000', '2013_05'), ('79134829266800000', '2013_06'), ('79134985767500000', '2012_12'), ('79134985767500000', '2013_01'), ('79134985767500000', '2013_02'), ('79134985767500000', '2013_04'), ('79134985767500000', '2013_05'), ('79134985767500000', '2013_06'), ('79134985767500000', '2013_07'), ('79134985767500000', '2013_08'), ('79134985767500000', '2013_09'), ('79135062746000000', '2013_04'), ('79135062746000000', '2013_05'), ('79135062746000000', '2013_06'), ('79135062746000000', '2013_07'

### Get the sum of the loan payments per id

In [150]:
frmloan.groupby('m_ids_owner')['trx_value_kes'].sum()

m_ids_owner
50135271114900000      6489.0
56134328473900000     56500.0
56134329355600000     21300.0
56134381592900000    172821.0
56134388724900000    162500.0
56134389503000000    287850.0
56134397318700000    129559.0
56134410709700000      7700.0
57134303074500000     41000.0
57134305072200000      1500.0
57134319815200000      1076.0
57134320447800000     76182.0
57134320861700000       500.0
57134322015900000    284507.0
57134339147100000     49360.0
57134346769300000        50.0
57134363181700000       478.0
57134364414700000     12550.0
57134372871700000     75000.0
57134381707600000     90900.0
57134407687800000     29400.0
57134408247700000     12200.0
57134433115100000     28000.0
57134458997500000       108.0
58134382346100000     23750.0
58134433254800000     47000.0
58134444870500000      1300.0
59134311227800000    170950.0
59134327942800000     83900.0
59134337917700000      6300.0
                       ...
61134553127800000     30300.0
62134330289700000      2700.0
62134347056700000     16500.0
62134362978100000       738.0
62134424394500000    223567.0
62134426330600000       900.0
62134443073700000    319000.0
63134363237200000     33060.0
63134382172900000     12200.0
63134425702500000     18000.0
63134433360400000     86796.0
63134459785700000     41359.0
64134382466300000       835.0
64134399713800000     13500.0
64134445268900000     42044.0
64134452134100000     39500.0
64134482630800000      9500.0
65134432186900000     43000.0
65134432610100000     54500.0
65134433094700000     53500.0
65134435629400000     40580.0
65134436228800000      3000.0
65134441422200000    386134.0
65134442822400000     23950.0
79134821776500000     45300.0
79134829266800000     15300.0
79134985767500000     72063.0
79135062746000000     20000.0
79135089120200000      2300.0
HH                    76559.0
Name: trx_value_kes, Length: 97, dtype: float64

### Montly paymetns amount

In [151]:
frmloan.groupby(['m_ids_owner', 'trx_value_kes'])['trx_yr_mo'].sum()

m_ids_owner        trx_value_kes
50135271114900000  500.0                                                      2013_01
                   540.0                                                      2013_10
                   576.0                                                      2013_02
                   1000.0                                                     2013_06
                   1075.0                                                     2013_05
                   1398.0                                                     2013_07
                   1400.0                                                     2013_07
56134328473900000  2000.0           2013_092013_062013_082013_022013_072013_102013_05
                   4500.0                                                     2012_11
                   38000.0                                                    2013_03
56134329355600000  300.0                                                      2013_06
                   500.0                                                      2013_04
                   1500.0                                              2013_062013_06
                   2500.0                                                     2013_04
                   3000.0                         2013_072013_092013_082013_032013_05
56134381592900000  9000.0           2013_072013_032013_092013_082013_042013_022013...
                   12770.0                                                    2012_11
                   30000.0                                                    2012_10
                   31051.0                                                    2012_11
56134388724900000  12250.0          2013_072013_052013_022013_012013_082013_042013...
                   12500.0                                                    2013_06
                   27500.0                                                    2012_10
56134389503000000  22000.0          2013_072013_092013_082013_012013_062013_052012...
                   22500.0                                                    2012_10
                   22600.0                                                    2012_11
                   22750.0                                                    2012_09
56134397318700000  5500.0                                                     2013_08
                   10000.0                                                    2012_11
                   10020.0                                                    2013_05
                   11098.0                               2013_072013_052013_092013_08
                                                          ...
79134829266800000  1500.0                                                     2013_06
                   3000.0                                              2013_052013_03
                   6800.0                                                     2013_03
79134985767500000  6500.0                                              2013_052013_09
                   7000.0                                                     2013_08
                   7063.0                                                     2013_07
                   7500.0                  2013_012012_122013_022013_062013_052013_04
79135062746000000  2000.0           2013_062013_092013_052013_042013_072013_102013...
79135089120200000  2300.0                                                     2013_10
HH                 30.0                                                       2012_11
                   50.0                                                       2013_02
                   100.0                                                      2013_02
                   150.0                                                      2012_10
                   200.0                                 2013_032012_112012_122013_01
                   275.0                                                      2013_07
                   300.0                                                      2012_12
                   400.0            2013_072013_052013_042013_062013_052013_062013...
                   450.0                                                      2012_11
                   500.0                          2012_122013_012012_112013_012013_01
                   900.0                                                      2013_10
                   1000.0                                                     2013_03
                   1500.0                                                     2013_08
                   2000.0                                       2013_052013_062013_03
                   2800.0                                                     2012_10
                   3000.0                                              2013_082013_08
                   4000.0                                              2013_082013_02
                   4034.0                  2013_042013_072012_122013_062013_012013_03
                   4100.0                                                     2013_05
                   4200.0                                                     2012_11
                   10000.0                                                    2013_09
Name: trx_yr_mo, Length: 429, dtype: object

In [152]:
frmloan.groupby(['trx_yr_mo','m_ids_owner']).agg({"trx_value_kes": "sum"})

                             trx_value_kes
trx_yr_mo m_ids_owner
2012_08   61134381034300000         3900.0
          65134435629400000         2500.0
2012_09   56134389503000000        22750.0
          57134320447800000         2850.0
          57134322015900000        32300.0
          57134381707600000         2000.0
          57134407687800000         3350.0
          61134363655200000         2000.0
          61134381034300000         3900.0
          61134442496500000         1200.0
          65134435629400000         2500.0
          65134441422200000        13459.0
2012_10   56134381592900000        30000.0
          56134388724900000        27500.0
          56134389503000000        22500.0
          56134397318700000        21509.0
          57134320447800000         2800.0
          57134322015900000        17233.0
          57134339147100000         5875.0
          57134364414700000         3850.0
          57134381707600000         8000.0
          57134407687800000         3350.0
          58134382346100000         4500.0
          58134433254800000         1000.0
          59134311227800000        18325.0
          59134327942800000        40500.0
          59134362693600000          500.0
          59134372493300000        23000.0
          59134380191400000         6150.0
          60134433892200000         2000.0
...                                    ...
2013_09   63134459785700000         8284.0
          64134399713800000        10000.0
          64134452134100000        10500.0
          64134482630800000         9500.0
          65134432186900000         5000.0
          65134432610100000         3700.0
          65134433094700000        25000.0
          65134435629400000         1500.0
          65134436228800000         1000.0
          65134441422200000        29677.0
          79134985767500000         6500.0
          79135062746000000         2000.0
          HH                       10000.0
2013_10   50135271114900000          540.0
          56134328473900000         2000.0
          56134381592900000         9000.0
          61134406243400000        44389.0
          61134423778900000         6000.0
          61134458558400000        10500.0
          62134330289700000         2000.0
          62134362978100000          538.0
          62134424394500000        24000.0
          64134382466300000          300.0
          64134452134100000        10500.0
          65134432186900000         5000.0
          65134432610100000         3700.0
          79135062746000000         2000.0
          79135089120200000         2300.0
          HH                         900.0
2013_11   79135062746000000         2000.0

[606 rows x 1 columns]

### Get income info per ID

In [157]:
inc = df[df["trx_class_code"] =='income']

In [158]:
inc.head()

,hh_ids,unique_hhs,first_trx_date_hh,last_trx_date_hh,tot_hh_daysofobs,tot_hh_monthsofobs,interview_designation,int_date,int_month,int_year,...,trx_distance_km,trx_outlet,trx_direction,trx_value_kes,trx_value_usd,ddd_gift,trx_inkind_units,trx_inkind_value_usd,trx_inkind_value_kes,trx_stdtime_mnths_hh_nr
9,KELDK02,NaN,01sep2012,01oct2013,395,13,04=Diaries Interview,19apr2013,4,2013,...,NaN,NaN,Outflow,8820.0,103.764700,0,NaN,NaN,NaN,6.448276
34,KNBOM14,NaN,01sep2012,28dec2013,483,16,04=Diaries Interview,20dec2012,12,2012,...,NaN,NaN,Inflow,400.0,4.705883,0,NaN,NaN,NaN,3.448276
36,KNBOK39,NaN,01nov2012,12nov2013,376,12,04=Diaries Interview,12nov2013,11,2013,...,NaN,NaN,Outflow,150.0,1.764706,0,NaN,NaN,NaN,12.586210
71,KNBOK17,NaN,02nov2012,23oct2013,355,12,04=Diaries Interview,10may2013,5,2013,...,NaN,NaN,Outflow,40.0,0.470588,0,NaN,NaN,NaN,5.862069
84,KNBOK04,NaN,31oct2012,31oct2013,365,12,04=Diaries Interview,15mar2013,3,2013,...,NaN,NaN,Inflow,3000.0,35.294120,0,NaN,NaN,NaN,3.655172

In [159]:

inc.groupby(['m_ids_owner', 'trx_value_kes'])['trx_yr_mo'].sum()

m_ids_owner         trx_value_kes
105136530871900000  30.0             2013_042013_032013_032013_032013_032013_032013...
                    50.0                                                2013_042013_06
                    60.0                                  2013_052013_042013_032013_03
                    65.0                                                       2013_04
                    70.0                                                2013_042013_05
                    80.0                                                2013_062013_04
                    90.0                                                       2013_05
                    100.0            2013_062013_052013_062013_062013_052013_072013...
                    120.0                   2013_052013_052013_042013_032013_032013_03
                    125.0                                                      2013_04
                    130.0                                                      2013_06
                    150.0                          2013_052013_062013_062013_052013_03
                    200.0            2013_042013_052013_052013_062013_072013_062013...
                    300.0                                               2013_042013_07
                    350.0                                               2013_052013_04
105136582937000000  50.0                                  2013_052013_042013_052013_04
                    70.0             2013_062013_062013_062013_062013_062013_062013...
                    80.0             2013_052013_052013_052013_052013_052013_052013...
                    100.0                                        2013_052013_052013_05
                    200.0                                 2013_072013_062013_072013_06
                    400.0                                               2013_072013_08
                    700.0                                 2013_042013_042013_052013_08
                    800.0                                               2013_092013_08
                    1100.0                                                     2013_08
                    1500.0                                                     2013_09
                    2000.0                                                     2013_06
105136980992800000  1000.0                                                     2013_09
105137525767700000  10.0                                                       2013_08
                    15.0                                                2013_082013_08
                    20.0                                                2013_082013_08
                                                           ...
HH                  6100.0                                                     2013_03
                    6240.0                                                     2013_03
                    6285.0                                                     2013_03
                    6610.0                                                     2013_03
                    7000.0                         2013_062013_022012_102013_022013_07
                    7100.0                                                     2013_05
                    7500.0                                                     2013_02
                    7600.0                                              2013_032013_03
                    8000.0                                       2013_012012_112012_10
                    8050.0                                                     2013_06
                    8250.0                                                     2012_10
                    8900.0                                                     2013_04
                    9000.0                                                     2013_04
                    10000.0                 2013_062013_062013_072013_052012_112012_12
                    10110.0                                                    2013_08
                    11000.0                                                    2013_03
                    11400.0                                                    2013_03
                    11500.0                                                    2013_09
                    12000.0                                                    2013_03
                    12635.0                                                    2013_03
                    14000.0                                                    2013_01
                    14300.0                                                    2013_04
                    15000.0                                                    2013_09
                    15800.0                                                    2013_06
                    17000.0                                                    2013_07
                    17500.0                                                    2013_02
                    18900.0                                                    2012_11
                    20000.0                                                    2012_10
                    25000.0                                                    2012_10
                    65000.0                                                    2013_09
Name: trx_yr_mo, Length: 20634, dtype: object

In [160]:
inc.groupby(['trx_yr_mo','m_ids_owner']).agg({"trx_value_kes": "sum"})

                             trx_value_kes
trx_yr_mo m_ids_owner
2012_08   62134381483200000          200.0
          62134390089800000         2000.0
          HH                        2000.0
2012_09   56134329355600000          600.0
          56134346796800000          850.0
          56134380965500000         3090.0
          56134382808300000         5000.0
          56134388724900000        24900.0
          56134389503000000        25700.0
          56134397318700000          600.0
          57134294208000000         3061.0
          57134294490600000        10125.0
          57134295585600000         7590.0
          57134295592300000         1340.0
          57134303074500000        54800.0
          57134304447500000         1600.0
          57134305072200000         6370.0
          57134320447800000        15750.0
          57134320879700000         4450.0
          57134321506500000        10050.0
          57134322015900000       140378.0
          57134322363700000          640.0
          57134336927400000         2500.0
          57134338351700000          700.0
          57134345619700000         8450.0
          57134346769300000         2685.0
          57134347060700000          613.0
          57134347631100000         3550.0
          57134347789400000         1000.0
          57134355497700000        51120.0
...                                    ...
2013_10   65134442822400000          150.0
          79134813357500000       229930.0
          79134821776500000        90670.0
          79134829266800000       297221.0
          79134829490300000         1440.0
          79134848198800000         6000.0
          79134985767500000         2500.0
          79134985945000000          600.0
          79134986039800000          350.0
          79134986123400000          100.0
          79135062746000000        25450.0
          79135089120200000        84110.0
          79135114710200000        68026.0
          79135124188900000         9051.0
          89136177805000000         3400.0
          89136369003600000         1800.0
          89136376471200000        29500.0
          89136428585200000         8100.0
          89136428764400000            0.0
          HH                       67992.0
2013_11   50135271114900000        24885.0
          62134345726400000         4000.0
          62134426330600000        23879.0
          64134445268900000        46000.0
          64134445408400000        10000.0
          64134482630800000         4400.0
          79135062746000000        24450.0
          79135089120200000        23900.0
          79135114710200000        28026.0
          HH                        5600.0

[5447 rows x 1 columns]