In [1]:
import os
import pandas as pd 
import glob

In [2]:
glob.glob('../aux_data/*con*kes*csv')

['../aux_data/con_pur_hh_by_trx_yr_mo_kes.csv',
 '../aux_data/con_pur_hh_over_trx_yr_mo_kes.csv',
 '../aux_data/con_prod_hh_over_trx_yr_mo_kes.csv',
 '../aux_data/con_prod_hh_by_trx_yr_mo_kes.csv']

Notes: 
- con_pur_hh_over_trx_yr_mo_kes = Mean/ Median aggregate calendar month purchases by type and household (over study period)
- con_pur_hh_by_trx_yr_mo_kes = Aggregate purchases by type, calendar month and household
- con_prod_hh_over_trx_yr_mo_kes  = Total value of own production (for food) by household (median monthly food production) 
- con_prod_hh_by_trx_yr_mo_kes = Total value of own production (for food) by household and calendar month

In [3]:
con_pur_hh_over_trx_yr_mo_kes  = pd.read_csv('../aux_data/con_pur_hh_over_trx_yr_mo_kes.csv')
con_pur_hh_by_trx_yr_mo_kes    = pd.read_csv('../aux_data/con_pur_hh_by_trx_yr_mo_kes.csv')
con_prod_hh_over_trx_yr_mo_kes = pd.read_csv('../aux_data/con_prod_hh_over_trx_yr_mo_kes.csv')
con_prod_hh_by_trx_yr_mo_kes   = pd.read_csv('../aux_data/con_prod_hh_by_trx_yr_mo_kes.csv')

In [4]:
con_pur_hh_over_trx_yr_mo_kes.head()

,hh_ids,con_pur_hh_meanptrx,con_pur_hh_sdptrx,con_pur_hh_minpti,con_pur_hh_meanpti,con_pur_hh_medpti,con_pur_hh_maxpti,con_pur_hh_meanpti_ALC,con_pur_hh_medpti_ALC,con_pur_hh_meanpti_CLN,...,con_pur_hh_meanpti_MED,con_pur_hh_medpti_MED,con_pur_hh_meanpti_OTH,con_pur_hh_medpti_OTH,con_pur_hh_meanpti_PERS,con_pur_hh_medpti_PERS,con_pur_hh_meanpti_REL,con_pur_hh_medpti_REL,con_pur_hh_meanpti_TRNSP,con_pur_hh_medpti_TRNSP
0,KELDK01,83.46289,228.7540,1470,7122.167,8805.0,10055,0.0000,0.0,110.83330,...,109.16670,0,132.5,0.0,183.33330,150.0,81.666660,0.0,212.50000,0.0
1,KELDK02,321.83330,1245.0830,5815,12873.330,10665.0,31300,0.0000,0.0,180.41670,...,170.00000,0,0.0,0.0,36.66667,0.0,475.000000,200.0,748.33330,715.0
2,KELDK08,47.59043,142.9910,800,3137.308,2890.0,4590,0.0000,0.0,90.76923,...,20.76923,0,0.0,0.0,33.84615,0.0,8.461538,0.0,53.07692,0.0
3,KELDK09,123.30040,549.5599,3600,8507.728,6415.0,18105,0.0000,0.0,219.54550,...,0.00000,0,0.0,0.0,528.18180,510.0,117.272700,100.0,377.27270,100.0
4,KELDK10,82.70786,186.6864,40,6134.167,6005.0,12035,320.8333,0.0,238.33330,...,41.66667,0,0.0,0.0,912.08330,827.5,82.500000,0.0,734.16670,825.0

In [5]:
con_pur_hh_over_trx_yr_mo_kes.columns

Index(['hh_ids', 'con_pur_hh_meanptrx', 'con_pur_hh_sdptrx',
       'con_pur_hh_minpti', 'con_pur_hh_meanpti', 'con_pur_hh_medpti',
       'con_pur_hh_maxpti', 'con_pur_hh_meanpti_ALC', 'con_pur_hh_medpti_ALC',
       'con_pur_hh_meanpti_CLN', 'con_pur_hh_medpti_CLN',
       'con_pur_hh_meanpti_CLTH', 'con_pur_hh_medpti_CLTH',
       'con_pur_hh_meanpti_COMM', 'con_pur_hh_medpti_COMM',
       'con_pur_hh_meanpti_EDU', 'con_pur_hh_medpti_EDU',
       'con_pur_hh_meanpti_ENRGY', 'con_pur_hh_medpti_ENRGY',
       'con_pur_hh_meanpti_ENT', 'con_pur_hh_medpti_ENT',
       'con_pur_hh_meanpti_FOOD', 'con_pur_hh_medpti_FOOD',
       'con_pur_hh_meanpti_H20', 'con_pur_hh_medpti_H20',
       'con_pur_hh_meanpti_HSNG', 'con_pur_hh_medpti_HSNG',
       'con_pur_hh_meanpti_MED', 'con_pur_hh_medpti_MED',
       'con_pur_hh_meanpti_OTH', 'con_pur_hh_medpti_OTH',
       'con_pur_hh_meanpti_PERS', 'con_pur_hh_medpti_PERS',
       'con_pur_hh_meanpti_REL', 'con_pur_hh_medpti_REL',
       'con_pur_hh_meanpti_TRNSP', 'con_pur_hh_medpti_TRNSP'],
      dtype='object')

In [6]:
con_pur_hh_over_trx_yr_mo_kes.shape

(298, 37)

In [7]:
con_pur_hh_by_trx_yr_mo_kes.head()

,hh_ids,trx_yr_mo,con_pur_hh_byti,con_pur_hh_byti_ALC,con_pur_hh_byti_CLN,con_pur_hh_byti_CLTH,con_pur_hh_byti_COMM,con_pur_hh_byti_EDU,con_pur_hh_byti_ENRGY,con_pur_hh_byti_ENT,con_pur_hh_byti_FOOD,con_pur_hh_byti_H20,con_pur_hh_byti_HSNG,con_pur_hh_byti_MED,con_pur_hh_byti_OTH,con_pur_hh_byti_PERS,con_pur_hh_byti_REL,con_pur_hh_byti_TRNSP
0,KELDK01,2012_10,1470,0,0,700,40,20,300,0,410,0,0,0,0,0,0,0
1,KELDK01,2012_11,3445,0,0,0,80,0,920,0,865,360,600,600,0,0,20,0
2,KELDK01,2012_12,3607,0,90,600,50,0,390,0,1377,0,0,0,0,0,0,1100
3,KELDK01,2013_01,4100,0,0,0,300,600,320,0,1350,0,600,0,0,60,120,750
4,KELDK01,2013_02,9140,0,0,0,700,0,1240,0,6240,0,600,0,0,120,240,0

In [8]:
con_pur_hh_by_trx_yr_mo_kes.columns

Index(['hh_ids', 'trx_yr_mo', 'con_pur_hh_byti', 'con_pur_hh_byti_ALC',
       'con_pur_hh_byti_CLN', 'con_pur_hh_byti_CLTH', 'con_pur_hh_byti_COMM',
       'con_pur_hh_byti_EDU', 'con_pur_hh_byti_ENRGY', 'con_pur_hh_byti_ENT',
       'con_pur_hh_byti_FOOD', 'con_pur_hh_byti_H20', 'con_pur_hh_byti_HSNG',
       'con_pur_hh_byti_MED', 'con_pur_hh_byti_OTH', 'con_pur_hh_byti_PERS',
       'con_pur_hh_byti_REL', 'con_pur_hh_byti_TRNSP'],
      dtype='object')

In [9]:
con_pur_hh_by_trx_yr_mo_kes.shape

(3466, 18)

## So this is on a per-household basis, and is giving averages of different consumption statistics here.

In [10]:
## Here I will merge the two datasets:

In [11]:
os.listdir()

['Untitled.ipynb',
 'wellbeing_goingson.csv',
 'Goings-On-To-csv.ipynb',
 'Pure_Truncation_Start_Bal_Ella.ipynb',
 'consumption_julia.ipynb',
 'goingson.csv',
 '.ipynb_checkpoints',
 'Well-Being_CSV.ipynb',
 'wellbeing.csv']

We need to merge w/ hh to individual id!

In [12]:
con_pur_hh_over_trx_yr_mo_kes.describe()

,con_pur_hh_meanptrx,con_pur_hh_sdptrx,con_pur_hh_minpti,con_pur_hh_meanpti,con_pur_hh_medpti,con_pur_hh_maxpti,con_pur_hh_meanpti_ALC,con_pur_hh_medpti_ALC,con_pur_hh_meanpti_CLN,con_pur_hh_medpti_CLN,...,con_pur_hh_meanpti_MED,con_pur_hh_medpti_MED,con_pur_hh_meanpti_OTH,con_pur_hh_medpti_OTH,con_pur_hh_meanpti_PERS,con_pur_hh_medpti_PERS,con_pur_hh_meanpti_REL,con_pur_hh_medpti_REL,con_pur_hh_meanpti_TRNSP,con_pur_hh_medpti_TRNSP
count,298.000000,298.000000,298.000000,298.000000,298.000000,298.000000,298.000000,298.000000,298.000000,298.000000,...,298.000000,298.000000,298.000000,298.000000,298.000000,298.000000,298.000000,298.000000,298.000000,298.000000
mean,126.598419,490.652002,1918.127517,8001.986538,7103.894295,19204.060403,158.168218,133.015101,172.819700,130.036913,...,314.239108,46.983221,339.108841,88.739933,120.496525,66.005034,142.287746,68.139262,483.769695,291.963087
std,103.206386,622.049551,2957.169382,7809.719385,7698.218112,21005.000154,1457.215166,1482.072705,261.895791,266.517560,...,711.436922,209.371168,1235.224399,621.137098,181.983106,162.150440,278.131260,174.053728,587.196533,540.903352
min,27.469430,29.810620,10.000000,568.416700,439.000000,1540.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,60.822405,147.576875,345.500000,3662.312500,3059.375000,7109.000000,0.000000,0.000000,66.303573,20.000000,...,22.814682,0.000000,4.562938,0.000000,22.774620,0.000000,12.307690,0.000000,119.375025,0.000000
50%,96.543005,264.221600,937.500000,5655.557000,4947.500000,12207.000000,0.000000,0.000000,109.087100,80.000000,...,80.384615,0.000000,41.987180,0.000000,55.090910,12.500000,50.000000,0.000000,277.867100,100.000000
75%,156.267225,561.234700,2290.000000,9892.958000,8620.500000,23291.750000,0.000000,0.000000,175.520825,150.000000,...,249.943150,0.000000,178.236550,0.000000,161.687525,60.000000,156.780325,60.000000,619.261350,337.500000
max,1061.190000,5431.841000,24919.000000,71189.360000,79977.500000,190920.000000,24235.420000,24997.500000,2409.091000,3000.000000,...,4775.909000,2750.000000,14018.460000,9410.000000,1901.643000,1970.000000,2061.111000,1350.000000,4805.833000,4560.000000

In [13]:
con_pur_hh_over_trx_yr_mo_kes.columns

Index(['hh_ids', 'con_pur_hh_meanptrx', 'con_pur_hh_sdptrx',
       'con_pur_hh_minpti', 'con_pur_hh_meanpti', 'con_pur_hh_medpti',
       'con_pur_hh_maxpti', 'con_pur_hh_meanpti_ALC', 'con_pur_hh_medpti_ALC',
       'con_pur_hh_meanpti_CLN', 'con_pur_hh_medpti_CLN',
       'con_pur_hh_meanpti_CLTH', 'con_pur_hh_medpti_CLTH',
       'con_pur_hh_meanpti_COMM', 'con_pur_hh_medpti_COMM',
       'con_pur_hh_meanpti_EDU', 'con_pur_hh_medpti_EDU',
       'con_pur_hh_meanpti_ENRGY', 'con_pur_hh_medpti_ENRGY',
       'con_pur_hh_meanpti_ENT', 'con_pur_hh_medpti_ENT',
       'con_pur_hh_meanpti_FOOD', 'con_pur_hh_medpti_FOOD',
       'con_pur_hh_meanpti_H20', 'con_pur_hh_medpti_H20',
       'con_pur_hh_meanpti_HSNG', 'con_pur_hh_medpti_HSNG',
       'con_pur_hh_meanpti_MED', 'con_pur_hh_medpti_MED',
       'con_pur_hh_meanpti_OTH', 'con_pur_hh_medpti_OTH',
       'con_pur_hh_meanpti_PERS', 'con_pur_hh_medpti_PERS',
       'con_pur_hh_meanpti_REL', 'con_pur_hh_medpti_REL',
       'con_pur_hh_meanpti_TRNSP', 'con_pur_hh_medpti_TRNSP'],
      dtype='object')

In [14]:
mapping = pd.read_csv('../diaries_transactions_all.csv', low_memory = False)

In [15]:
mapping = mapping[['m_ids_owner', 'hh_ids']]

In [16]:
print(len(mapping.hh_ids.unique()))
print(len(mapping.m_ids_owner.unique()))

298
670

In [17]:
mapping_unique = mapping.drop_duplicates(['m_ids_owner'])

In [18]:
mapping_unique.shape

(670, 2)

In [19]:
merge = mapping_unique.merge(con_pur_hh_over_trx_yr_mo_kes,  'right', 'hh_ids')

In [20]:
merge.shape

(670, 38)

In [21]:
merge.head()

,m_ids_owner,hh_ids,con_pur_hh_meanptrx,con_pur_hh_sdptrx,con_pur_hh_minpti,con_pur_hh_meanpti,con_pur_hh_medpti,con_pur_hh_maxpti,con_pur_hh_meanpti_ALC,con_pur_hh_medpti_ALC,...,con_pur_hh_meanpti_MED,con_pur_hh_medpti_MED,con_pur_hh_meanpti_OTH,con_pur_hh_medpti_OTH,con_pur_hh_meanpti_PERS,con_pur_hh_medpti_PERS,con_pur_hh_meanpti_REL,con_pur_hh_medpti_REL,con_pur_hh_meanpti_TRNSP,con_pur_hh_medpti_TRNSP
0,58134383397900000,KELDL02,107.9147,286.7984,3293,14372.27,15640.0,23670,204.5455,0.0,...,27.27273,0,14.09091,0.0,274.72730,286.0,64.54546,20.0,487.7273,550.0
1,58134383535800000,KELDL02,107.9147,286.7984,3293,14372.27,15640.0,23670,204.5455,0.0,...,27.27273,0,14.09091,0.0,274.72730,286.0,64.54546,20.0,487.7273,550.0
2,HH,KVIHC16,115.6588,345.8901,1070,5825.00,5470.0,15380,0.0000,0.0,...,50.00000,0,27.27273,0.0,10.90909,0.0,15.45455,0.0,173.6364,60.0
3,59134423954300000,KVIHC16,115.6588,345.8901,1070,5825.00,5470.0,15380,0.0000,0.0,...,50.00000,0,27.27273,0.0,10.90909,0.0,15.45455,0.0,173.6364,60.0
4,65134441430300000,KELDK21,1061.1900,4257.9390,1150,26529.75,17300.0,75020,0.0000,0.0,...,16.66667,0,2018.50000,0.0,90.83334,0.0,816.66670,100.0,1198.3330,550.0

In [22]:
merge.to_csv('consumption_mapped_to_m_ids.csv', index = False)