In [1]:
import os
import pandas as pd
import glob

In [2]:
glob.glob('../aux_data/*demo*csv')

['../aux_data/demo_ind.csv', '../aux_data/demo_hh.csv']

In [22]:
demo_ind = pd.read_csv('../aux_data/demo_ind.csv', dtype = {'m_ids': 'object'})
demo_hh  = pd.read_csv('../aux_data/demo_hh.csv')
trx = pd.read_csv('../diaries_transactions_all.csv',dtype = {'m_ids_owner': 'object'}, low_memory = False)

In [23]:
keep_ids = list(trx.m_ids_owner.unique())

In [25]:
demo_ind.shape

(1565, 12)

In [26]:
demo_hh.shape

(298, 18)

In [27]:
demo_ind.head()

,hh_ids,m_ids,dem_i_male,dem_i_age_yrs,dem_i_age_5yrgrp,dem_i_age_workage,dem_i_relhead,dem_i_hhead,dem_i_marstat,dem_i_tribe,dem_i_children_tot,dem_i_children_inhh
0,KELDK01,56134392820800000,Female,8,[5 - 10),0,Son or daughter,0,Never married/lived together,Kalenjin,NaN,NaN
1,KELDK01,56134390476100000,Male,30,[30 - 35),1,Household head,1,Married/living together,Kalenjin,2.0,0.0
2,KELDK01,56134392826900000,Male,2,[0 - 5),0,Son or daughter,0,Never married/lived together,Kalenjin,NaN,NaN
3,KELDK01,56134390654900000,Female,24,[20 - 25),1,Husband or wife,0,Married/living together,Kalenjin,2.0,0.0
4,KELDK02,56134389772300000,Female,35,[35 - 40),1,Husband or wife,0,Married/living together,Luhya,1.0,1.0

In [28]:
demo_ind = demo_ind.loc[demo_ind['m_ids'].isin(keep_ids)]

In [29]:
demo_ind.shape

(669, 12)

In [30]:
demos = demo_ind.merge(demo_hh, how = 'left', on='hh_ids')

In [31]:
demos.shape

(669, 29)

In [32]:
demos.head()

,hh_ids,m_ids,dem_i_male,dem_i_age_yrs,dem_i_age_5yrgrp,dem_i_age_workage,dem_i_relhead,dem_i_hhead,dem_i_marstat,dem_i_tribe,...,dem_hh_ages15plus,dem_hh_ages18plus,dem_hh_ages65plus,dem_hh_ages20_30,dem_hh_workage,dem_hh_dependents,dem_hh_agehead,dem_hh_malehead,dem_pae_oecd,dem_pae_kihbs
0,KELDK01,56134390476100000,Male,30,[30 - 35),1,Household head,1,Married/living together,Kalenjin,...,2,2,0,2,0.500000,0.500000,30,1,2.7,2.89
1,KELDK01,56134390654900000,Female,24,[20 - 25),1,Husband or wife,0,Married/living together,Kalenjin,...,2,2,0,2,0.500000,0.500000,30,1,2.7,2.89
2,KELDK02,56134389503000000,Male,42,[40 - 45),1,Household head,1,Married/living together,Luhya,...,3,2,0,0,1.000000,0.000000,42,1,2.4,3.00
3,KELDK08,56134410709700000,Female,20,[20 - 25),1,Husband or wife,0,Married/living together,Kalenjin,...,2,2,0,2,0.666667,0.333333,26,1,2.2,2.24
4,KELDK08,56134410699600000,Male,26,[25 - 30),1,Household head,1,Married/living together,Luhya,...,2,2,0,2,0.666667,0.333333,26,1,2.2,2.24

In [33]:
demos.to_csv('demos_merged.csv', index = False)