In [66]:
import pandas as pd
import numpy as np
import math as math
import matplotlib.pyplot as plt
import seaborn as sns
import dateutil
import glob

%matplotlib inline

In [67]:
def conv(val):
    if val == np.nan:
        return 0
    return val

In [68]:
df = pd.read_csv("../../diaries_transactions_all.csv", low_memory=False);

### Poverty file

In [69]:
pov = pd.read_csv("../../pov_hh_over_trx_yr_mo_kes_excRR.csv", low_memory=False);
pov.head()

,hh_ids,inc_hh_medianpti,dem_hh_size,con_hh_medpti,inc_hh_pti_pae_oecd,con_hh_pti_pae_oecd,inc_hh_pti_pae_kihbs,con_hh_pti_pae_kihbs,inc_below_85_kes_oecd,con_below_85_kes_oecd,inc_below_85_kes_kihbs,con_below_85_kes_kihbs,inc_below_170_kes_oecd,con_below_170_kes_oecd,inc_below_170_kes_kihbs,con_below_170_kes_kihbs,inc_below_425_kes_oecd,con_below_425_kes_oecd,inc_below_425_kes_kihbs,con_below_425_kes_kihbs
0,KELDK01,9900.0,4,8805.0,120.21860,106.92170,112.31490,99.89222,0,0,0,0,1,1,1,1,1,1,1,1
1,KELDK02,35472.5,3,10665.0,484.59700,145.69670,387.67760,116.55740,0,0,0,0,0,1,0,1,0,1,1,1
2,KELDK08,3520.0,3,2890.0,52.45901,43.07005,51.52225,42.30094,1,1,1,1,1,1,1,1,1,1,1,1
3,KELDK09,8400.0,2,6415.0,183.60660,140.21860,166.91510,127.47140,0,0,0,0,0,1,1,1,1,1,1,1
4,KELDK10,5105.0,1,6005.0,167.37700,196.88520,167.37700,196.88520,0,0,0,0,1,0,1,0,1,1,1,1

In [70]:
pov.shape

(297, 20)

In [71]:
pov.describe()

,inc_hh_medianpti,dem_hh_size,con_hh_medpti,inc_hh_pti_pae_oecd,con_hh_pti_pae_oecd,inc_hh_pti_pae_kihbs,con_hh_pti_pae_kihbs,inc_below_85_kes_oecd,con_below_85_kes_oecd,inc_below_85_kes_kihbs,con_below_85_kes_kihbs,inc_below_170_kes_oecd,con_below_170_kes_oecd,inc_below_170_kes_kihbs,con_below_170_kes_kihbs,inc_below_425_kes_oecd,con_below_425_kes_oecd,inc_below_425_kes_kihbs,con_below_425_kes_kihbs
count,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000
mean,9094.099327,5.265993,7588.094667,104.927213,83.273941,94.664234,74.669408,0.686869,0.696970,0.720539,0.737374,0.814815,0.905724,0.851852,0.922559,0.949495,0.979798,0.959596,0.979798
std,14728.635601,2.611039,7626.027923,171.854604,89.161937,161.804226,83.462333,0.464550,0.460344,0.449492,0.440804,0.389103,0.292706,0.355846,0.267741,0.219354,0.140928,0.197237,0.140928
min,-1550.000000,1.000000,439.000000,-9.411050,5.757377,-7.365170,6.757484,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2000.000000,4.000000,3640.500000,17.377050,34.412570,15.912370,30.178080,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,4475.000000,5.000000,5561.607000,44.780540,53.993440,38.688530,46.564750,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
75%,11137.500000,6.000000,9055.000000,112.685400,97.917730,96.827680,85.983600,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,144018.000000,23.000000,79977.500000,1227.089000,680.977900,1270.954000,609.517300,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

### Here we check poverty info with housing conditions

In [72]:
hou = pd.read_csv('../../housing_conditions_ownership.csv')

In [73]:
hou.head()

,hh_ids,hh_int_situation,hh_circ_move_why,hh_circ_move_when,hh_circ_problems,hh_inf_wall_material,hh_inf_roof_material,hh_inf_floor_material,hh_inf_cookfuel_source,hh_inf_lighting_source,...,hh_othershamba_N,hh_othershamba1_docu,hh_othershamba1_use,hh_othershamba1_value,hh_othershamba2_docu,hh_othershamba2_use,hh_othershamba2_value,hh_othershamba3_docu,hh_othershamba3_use,hh_othershamba3_value
0,KNBOK31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,KNBOK01,01=Initial questionnaire,05=To be closer to family,7/1/1997,"01=Leaky roof or ceilling,04=Pests: mice, rats...",Stone,"Corrugated iron, mabati",Cement/Concrete/Slab,Paraffin,Paraffin,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,KNBOK02,01=Initial questionnaire,12=Wanted better neighborhood,2/1/2011,01=Leaky roof or ceilling,Stone,"Corrugated iron, mabati",Cement/Concrete/Slab,Paraffin,Electricity,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,KNBOK04,01=Initial questionnaire,17=Private displacement (owner moved into unit...,2/19/2006,"03=Broken or missing windows,07=Extremely hot ...",Stone,Concrete,Cement/Concrete/Slab,Gas/LPG,Electricity,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,KNBOK05,01=Initial questionnaire,13=Change from renter to owner,1/1/1993,"07=Extremely hot or cold,08=Mold",Corrugated Iron Sheet,"Corrugated iron, mabati",Cement/Concrete/Slab,Collected firewood,Electricity,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
ids_pov = set(pov["hh_ids"].unique())
len(ids_pov)

297

In [75]:
ids_hou = set(hou["hh_ids"].unique())
len(ids_hou)

297

In [76]:
if (ids_pov & ids_hou):
    print(len(ids_pov & ids_hou))
else:
    print("no matches")

296

In [77]:
for ids in ids_pov:
    if ids in ids_hou:
        continue
    else: print(ids)

KMOMK09

### Check matches for the remittances as well

In [78]:
rem= pd.read_csv("../../rem_ind_over_trx_yr_mo_kes.csv")
rem.head()

,hh_ids,m_ids_owner,rem_i_unique_sources,rem_i_meanptrx,rem_i_sdptrx,rem_i_meanptrx_RG,rem_i_sdptrx_RG,rem_i_meanptrx_RR,rem_i_sdptrx_RR,rem_i_count_medianpti,...,rem_i_net_medianpti_cash,rem_i_count_medianpti_inkind,rem_i_abs_medianpti_inkind,rem_i_net_medianpti_inkind,rem_i_count_medianpti_mm,rem_i_abs_medianpti_mm,rem_i_net_medianpti_mm,rem_i_count_medianpti_other,rem_i_abs_medianpti_other,rem_i_net_medianpti_other
0,KELDK02,56134389503000000,1,4606.4210,2317.3330,4606.421,2317.333,NaN,NaN,2.0,...,-3135.0,0.0,0.0,0.0,1.0,2500.0,-2500.0,0.0,0,0
1,KELDK08,56134410709700000,2,428.5000,139.3000,NaN,NaN,330.0000,NaN,1.0,...,0.0,0.0,0.0,0.0,1.0,428.5,-98.5,0.0,0,0
2,KELDK09,56134329944600000,5,656.1765,1560.7240,5000.000,1732.051,NaN,NaN,2.0,...,0.0,2.0,300.0,30.0,0.0,0.0,0.0,0.0,0,0
3,KELDK10,56134337157200000,6,166.8349,618.0686,NaN,NaN,114.8535,503.7492,29.0,...,-100.0,27.0,950.0,570.0,0.0,0.0,0.0,0.0,0,0
4,KELDK12,65134436228800000,1,2000.0000,NaN,2000.000,NaN,NaN,NaN,1.0,...,-2000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0

In [79]:
rem["m_ids_owner"].describe()

count     513
unique    451
top        HH
freq       63
Name: m_ids_owner, dtype: object

In [80]:
rem["hh_ids"].describe()

count         513
unique        288
top       KMOMK08
freq            8
Name: hh_ids, dtype: object

In [81]:
ids_rem = rem["hh_ids"].unique()

In [82]:
for ids in ids_rem:
    if ids in ids_pov:
        continue
    else: print(ids)

KMAKL07

In [83]:
ids_rem = set(rem["m_ids_owner"].unique())
ids_rem.remove("HH")
rem["m_ids_owner"].value_counts()

HH                   63
62134424842100000     1
61134399881000000     1
57134295585600000     1
61134406243400000     1
63134398303000000     1
64134392465100000     1
58134382346100000     1
62134330289700000     1
61134424108900000     1
56134380729800000     1
61134491532800000     1
79134985767500000     1
63134417371400000     1
65134330487000000     1
59134338164800000     1
63134442641500000     1
61134407559000000     1
64134434203200000     1
57134319815200000     1
62134467309300000     1
65134423801800000     1
64134399713800000     1
59134364519500000     1
59134388500400000     1
57134322015900000     1
64134399155700000     1
64134408292500000     1
59134382487600000     1
61134470234100000     1
                     ..
63134380563500000     1
59134389306700000     1
64134373843900000     1
65134391087600000     1
60134322391300000     1
61134426731700000     1
63134390012700000     1
61134425818500000     1
79134829266800000     1
62134432136100000     1
63134372777000000     1
63134399377500000     1
61134393126800000     1
62134391031900000     1
60134380370600000     1
64134380651800000     1
61134363286800000     1
62134433461500000     1
79134848198800000     1
61134474659700000     1
61134435259400000     1
64134416720600000     1
61134478937200000     1
59134328466300000     1
59134337917700000     1
57134364414700000     1
57134303074500000     1
65134390587800000     1
63134458362700000     1
61134381474300000     1
Name: m_ids_owner, Length: 451, dtype: int64

In [84]:
(rem["m_ids_owner"].value_counts()>1).value_counts()

False    450
True       1
Name: m_ids_owner, dtype: int64

### Here we are interested in hh size, monthly consumption and income


  WE can assess whether family has enough money to cover their needs or they rely on help of relatives and friends most of the time. If monthly left is negative, then family is in debt and they are unable to take any other financil burden as they will not be able to pay it off.

In [85]:
pov['monthly_left'] = pov.apply(lambda row: row.inc_hh_medianpti - row.con_hh_medpti, axis = 1)

In [86]:
pov[['hh_ids', 'inc_hh_medianpti', 'dem_hh_size', 'con_hh_medpti', 'monthly_left']]

      hh_ids  inc_hh_medianpti  dem_hh_size  con_hh_medpti  monthly_left
0    KELDK01            9900.0            4       8805.000      1095.000
1    KELDK02           35472.5            3      10665.000     24807.500
2    KELDK08            3520.0            3       2890.000       630.000
3    KELDK09            8400.0            2       6415.000      1985.000
4    KELDK10            5105.0            1       6005.000      -900.000
5    KELDK12            3700.0            4       3897.857      -197.857
6    KELDK13            2352.5            4       4117.500     -1765.000
7    KELDK14            4240.0            4       4775.000      -535.000
8    KELDK15           18510.0            5      15193.500      3316.500
9    KELDK16            3125.0            5       3395.278      -270.278
10   KELDK17            5950.0            9       6490.159      -540.159
11   KELDK18           14200.0            6       7710.000      6490.000
12   KELDK19           24847.5            7      16041.250      8806.250
13   KELDK20            4700.0            6       4559.615       140.385
14   KELDK21           41606.0            4      18420.640     23185.360
15   KELDK22            1572.5            4       2052.500      -480.000
16   KELDK23            2900.0            1       1110.000      1790.000
17   KELDK24            3439.0            7       2317.500      1121.500
18   KELDK25            2440.0            1       2185.000       255.000
19   KELDK27            2980.0            3       2075.000       905.000
20   KELDK28           16587.0            5      14460.000      2127.000
21   KELDK29            3830.0            3       3730.000       100.000
22   KELDK30            6090.0            7       5812.500       277.500
23   KELDK31            3600.0            5       3669.857       -69.857
24   KELDK32            5757.5            6       3870.000      1887.500
25   KELDK33            8390.0            7       7150.000      1240.000
26   KELDK36           16970.0            5      11046.360      5923.640
27   KELDK37            8045.0            6       9346.107     -1301.107
28   KELDK38           35136.0            3      12821.790     22314.210
29   KELDK40            5780.0            2       4247.500      1532.500
..       ...               ...          ...            ...           ...
267  KVIHK07             550.0            6       2828.214     -2278.214
268  KVIHK09            -550.0           10       2155.000     -2705.000
269  KVIHK10            2000.0            6       2568.696      -568.696
270  KVIHK11            6200.0            5       4735.000      1465.000
271  KVIHK13            2155.0            6       2390.000      -235.000
272  KVIHK14            1200.0            6       5561.607     -4361.607
273  KVIHK15            1313.5            5       3499.000     -2185.500
274  KVIHK16            2165.0            4       4117.000     -1952.000
275  KVIHK17            1750.0            6       5512.414     -3762.414
276  KVIHK18            5230.0            5       2457.000      2773.000
277  KVIHK19           14775.0            4      12738.570      2036.430
278  KVIHK20            3775.0            8       5419.464     -1644.464
279  KVIHK21            1250.0            5       4425.714     -3175.714
280  KVIHK22             875.0            7       4028.572     -3153.572
281  KVIHK23            1020.0            2       2822.500     -1802.500
282  KVIHK24            -685.0            9       4140.000     -4825.000
283  KVIHK26               0.0            5       8357.500     -8357.500
284  KVIHK29            8000.0            7      10125.240     -2125.240
285  KVIHK30             150.0            4       1692.903     -1542.903
286  KVIHK31           -1550.0            9       3608.024     -5158.024
287  KVIHK32             600.0            6       3400.000     -2800.000
288  KVIHK33             920.0            5       2737.500     -1817.500
289  KVIHK34            3250.0            6       3585.800      -335.800
290  KVIHK36            5570.0            7       6316.000      -746.000
291  KVIHK38            3000.0            3       3161.500      -161.500
292  KVIHK39           17860.0            3      10615.000      7245.000
293  KVIHK40           25757.5            4      15589.500     10168.000
294  KZIMA04            3847.5            2       4468.000      -620.500
295  KZIMA05            2765.0            1       3190.000      -425.000
296  KZIMA08           27150.0            3      11300.000     15850.000

[297 rows x 5 columns]

### Here is another file with RR included. Not a big sifference, so I assume we can exclude RR and see if the famili is not in debt without RR

In [87]:
pov2 = pd.read_csv("../../pov_hh_over_trx_yr_mo_kes_incRR.csv", low_memory=False);
pov2.head()

,hh_ids,inc_hh_medianpti,con_pur_hh_medpti,con_prod_hh_medpti,dem_urban,dem_hh_size,dem_pae_oecd,dem_pae_kihbs,con_hh_medpti,inc_hh_pti_pae_oecd,...,inc_below_85_kes_kihbs,con_below_85_kes_kihbs,inc_below_170_kes_oecd,con_below_170_kes_oecd,inc_below_170_kes_kihbs,con_below_170_kes_kihbs,inc_below_425_kes_oecd,con_below_425_kes_oecd,inc_below_425_kes_kihbs,con_below_425_kes_kihbs
0,KELDK01,9900.0,8805.0,0.0,0,4,2.7,2.89,8805.0,120.21860,...,0,0,1,1,1,1,1,1,1,1
1,KELDK02,35472.5,10665.0,0.0,0,3,2.4,3.00,10665.0,484.59700,...,0,0,0,1,0,1,0,1,1,1
2,KELDK08,3555.0,2890.0,0.0,0,3,2.2,2.24,2890.0,52.98063,...,1,1,1,1,1,1,1,1,1,1
3,KELDK09,9000.0,6415.0,0.0,0,2,1.5,1.65,6415.0,196.72130,...,0,0,0,1,0,1,1,1,1,1
4,KELDK10,8250.0,6005.0,0.0,0,1,1.0,1.00,6005.0,270.49180,...,0,0,0,0,0,0,1,1,1,1

In [88]:
pov2['monthly_left'] = pov2.apply(lambda row: row.inc_hh_medianpti - row.con_hh_medpti, axis = 1) 
pov2[['hh_ids', 'inc_hh_medianpti', 'dem_hh_size', 'con_hh_medpti', 'monthly_left']]

      hh_ids  inc_hh_medianpti  dem_hh_size  con_hh_medpti  monthly_left
0    KELDK01            9900.0            4       8805.000      1095.000
1    KELDK02           35472.5            3      10665.000     24807.500
2    KELDK08            3555.0            3       2890.000       665.000
3    KELDK09            9000.0            2       6415.000      2585.000
4    KELDK10            8250.0            1       6005.000      2245.000
5    KELDK12            3700.0            4       3897.857      -197.857
6    KELDK13            3440.0            4       4117.500      -677.500
7    KELDK14            4380.0            4       4775.000      -395.000
8    KELDK15           18510.0            5      15193.500      3316.500
9    KELDK16            3125.0            5       3395.278      -270.278
10   KELDK17            8240.0            9       6490.159      1749.841
11   KELDK18           14200.0            6       7710.000      6490.000
12   KELDK19           24847.5            7      16041.250      8806.250
13   KELDK20            4700.0            6       4559.615       140.385
14   KELDK21           41606.0            4      18420.640     23185.360
15   KELDK22            2205.0            4       2052.500       152.500
16   KELDK23            3260.0            1       1110.000      2150.000
17   KELDK24            3439.0            7       2317.500      1121.500
18   KELDK25            2440.0            1       2185.000       255.000
19   KELDK27            3100.0            3       2075.000      1025.000
20   KELDK28           17799.0            5      14460.000      3339.000
21   KELDK29            3830.0            3       3730.000       100.000
22   KELDK30            6090.0            7       5812.500       277.500
23   KELDK31            3600.0            5       3669.857       -69.857
24   KELDK32            6202.5            6       3870.000      2332.500
25   KELDK33            8390.0            7       7150.000      1240.000
26   KELDK36           16970.0            5      11046.360      5923.640
27   KELDK37            8045.0            6       9346.107     -1301.107
28   KELDK38           35136.0            3      12821.790     22314.210
29   KELDK40            5780.0            2       4247.500      1532.500
..       ...               ...          ...            ...           ...
268  KVIHK07            3920.0            6       2828.214      1091.786
269  KVIHK09            3834.0           10       2155.000      1679.000
270  KVIHK10            2050.0            6       2568.696      -518.696
271  KVIHK11            7800.0            5       4735.000      3065.000
272  KVIHK13            2160.0            6       2390.000      -230.000
273  KVIHK14            8540.0            6       5561.607      2978.393
274  KVIHK15            2737.5            5       3499.000      -761.500
275  KVIHK16            5316.5            4       4117.000      1199.500
276  KVIHK17            4755.0            6       5512.414      -757.414
277  KVIHK18            5895.0            5       2457.000      3438.000
278  KVIHK19           16125.0            4      12738.570      3386.430
279  KVIHK20            3775.0            8       5419.464     -1644.464
280  KVIHK21            4417.5            5       4425.714        -8.214
281  KVIHK22            5350.0            7       4028.572      1321.428
282  KVIHK23            1550.0            2       2822.500     -1272.500
283  KVIHK24            2897.5            9       4140.000     -1242.500
284  KVIHK26            6795.0            5       8357.500     -1562.500
285  KVIHK29           13515.0            7      10125.240      3389.760
286  KVIHK30            1480.0            4       1692.903      -212.903
287  KVIHK31            5100.0            9       3608.024      1491.976
288  KVIHK32            3580.0            6       3400.000       180.000
289  KVIHK33            4755.0            5       2737.500      2017.500
290  KVIHK34            6955.0            6       3585.800      3369.200
291  KVIHK36            5830.0            7       6316.000      -486.000
292  KVIHK38            6990.0            3       3161.500      3828.500
293  KVIHK39           19305.0            3      10615.000      8690.000
294  KVIHK40           25757.5            4      15589.500     10168.000
295  KZIMA04            5197.5            2       4468.000       729.500
296  KZIMA05            4365.0            1       3190.000      1175.000
297  KZIMA08           27150.0            3      11300.000     15850.000

[298 rows x 5 columns]

In [109]:
pov['monthly_left'].equals(pov2['monthly_left'])

False

In [110]:
hou.dtypes

hh_ids                            object
hh_int_situation                  object
hh_circ_move_why                  object
hh_circ_move_when                 object
hh_circ_problems                  object
hh_inf_wall_material              object
hh_inf_roof_material              object
hh_inf_floor_material             object
hh_inf_cookfuel_source            object
hh_inf_lighting_source            object
hh_inf_water_source               object
hh_inf_rooms_habitable           float64
hh_inf_rooms_other               float64
hh_inf_toilet_type                object
hh_inf_toilet_shared              object
hh_inf_housing_type               object
hh_inf_electricity_access         object
hh_inf_interiorcond               object
hh_inf_exteriorcond               object
hh_asset_internet_access          object
hh_asset_iron_any                 object
hh_asset_mosqnets_N              float64
hh_asset_towels_N                float64
hh_asset_fryingpan_N             float64
hh_env_settingdesc                object
hh_env_desc                       object
hh_env_dilapbuildings             object
hh_env_streets                    object
hh_env_trash                      object
hh_ownership_type                float64
hh_ownership_plotacquisition      object
hh_ownership_houseacquisition     object
hh_ownership_docu                 object
hh_otherprop_any                  object
hh_otherprop_N                   float64
hh_otherprop1_docu                object
hh_otherprop1_use                 object
hh_otherprop1_value              float64
hh_otherprop2_use                 object
hh_otherprop2_value              float64
hh_otherprop2_docu                object
hh_otherprop3_docu                object
hh_otherprop3_use                 object
hh_otherprop3_value              float64
hh_othershamba_N                 float64
hh_othershamba1_docu              object
hh_othershamba1_use               object
hh_othershamba1_value            float64
hh_othershamba2_docu              object
hh_othershamba2_use               object
hh_othershamba2_value            float64
hh_othershamba3_docu              object
hh_othershamba3_use               object
hh_othershamba3_value            float64
dtype: object

In [111]:
hou.columns

Index(['hh_ids', 'hh_int_situation', 'hh_circ_move_why', 'hh_circ_move_when',
       'hh_circ_problems', 'hh_inf_wall_material', 'hh_inf_roof_material',
       'hh_inf_floor_material', 'hh_inf_cookfuel_source',
       'hh_inf_lighting_source', 'hh_inf_water_source',
       'hh_inf_rooms_habitable', 'hh_inf_rooms_other', 'hh_inf_toilet_type',
       'hh_inf_toilet_shared', 'hh_inf_housing_type',
       'hh_inf_electricity_access', 'hh_inf_interiorcond',
       'hh_inf_exteriorcond', 'hh_asset_internet_access', 'hh_asset_iron_any',
       'hh_asset_mosqnets_N', 'hh_asset_towels_N', 'hh_asset_fryingpan_N',
       'hh_env_settingdesc', 'hh_env_desc', 'hh_env_dilapbuildings',
       'hh_env_streets', 'hh_env_trash', 'hh_ownership_type',
       'hh_ownership_plotacquisition', 'hh_ownership_houseacquisition',
       'hh_ownership_docu', 'hh_otherprop_any', 'hh_otherprop_N',
       'hh_otherprop1_docu', 'hh_otherprop1_use', 'hh_otherprop1_value',
       'hh_otherprop2_use', 'hh_otherprop2_value', 'hh_otherprop2_docu',
       'hh_otherprop3_docu', 'hh_otherprop3_use', 'hh_otherprop3_value',
       'hh_othershamba_N', 'hh_othershamba1_docu', 'hh_othershamba1_use',
       'hh_othershamba1_value', 'hh_othershamba2_docu', 'hh_othershamba2_use',
       'hh_othershamba2_value', 'hh_othershamba3_docu', 'hh_othershamba3_use',
       'hh_othershamba3_value'],
      dtype='object')

In [130]:
hou1 = hou.drop(['hh_int_situation', 'hh_circ_move_why', 'hh_circ_move_when',
       'hh_circ_problems', "hh_othershamba3_use"], axis=1)
hou1.to_csv("hou.csv")

In [131]:
h= pd.read_csv("hou.csv")

In [132]:
h.head()

,Unnamed: 0,hh_ids,hh_inf_wall_material,hh_inf_roof_material,hh_inf_floor_material,hh_inf_cookfuel_source,hh_inf_lighting_source,hh_inf_water_source,hh_inf_rooms_habitable,hh_inf_rooms_other,...,hh_otherprop3_value,hh_othershamba_N,hh_othershamba1_docu,hh_othershamba1_use,hh_othershamba1_value,hh_othershamba2_docu,hh_othershamba2_use,hh_othershamba2_value,hh_othershamba3_docu,hh_othershamba3_value
0,0,KNBOK31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,KNBOK01,Stone,"Corrugated iron, mabati",Cement/Concrete/Slab,Paraffin,Paraffin,Piped into dwelling,3.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,KNBOK02,Stone,"Corrugated iron, mabati",Cement/Concrete/Slab,Paraffin,Electricity,Piped into dwelling,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,KNBOK04,Stone,Concrete,Cement/Concrete/Slab,Gas/LPG,Electricity,"Piped somewhere else (outside, neighbor)",2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,KNBOK05,Corrugated Iron Sheet,"Corrugated iron, mabati",Cement/Concrete/Slab,Collected firewood,Electricity,Piped into dwelling,5.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [133]:
obj_h =h.select_dtypes(include=['object']).copy()
obj_h.columns

Index(['hh_ids', 'hh_inf_wall_material', 'hh_inf_roof_material',
       'hh_inf_floor_material', 'hh_inf_cookfuel_source',
       'hh_inf_lighting_source', 'hh_inf_water_source', 'hh_inf_toilet_type',
       'hh_inf_toilet_shared', 'hh_inf_housing_type',
       'hh_inf_electricity_access', 'hh_inf_interiorcond',
       'hh_inf_exteriorcond', 'hh_asset_internet_access', 'hh_asset_iron_any',
       'hh_env_settingdesc', 'hh_env_desc', 'hh_env_dilapbuildings',
       'hh_env_streets', 'hh_env_trash', 'hh_ownership_plotacquisition',
       'hh_ownership_houseacquisition', 'hh_ownership_docu',
       'hh_otherprop_any', 'hh_otherprop1_docu', 'hh_otherprop1_use',
       'hh_otherprop2_use', 'hh_otherprop2_docu', 'hh_otherprop3_docu',
       'hh_otherprop3_use', 'hh_othershamba1_docu', 'hh_othershamba1_use',
       'hh_othershamba2_docu', 'hh_othershamba2_use', 'hh_othershamba3_docu'],
      dtype='object')

In [134]:
cleanup_nums = {"hh_inf_wall_material":     {"other": 1, "Mud/wood": 2, "Brick/block": 3, "Wood only": 4, "Corrugated Iron Sheet": 5, "Mud/cement": 6, "Stone":7 },
                "hh_inf_roof_material": {"Other": 1, "Grass, thatch, makuti": 2, "Corrugated iron, mabati": 3, "Asbestos sheet": 4,
                                  "Concrete": 5, "Tiles": 6 }, 
               "hh_inf_floor_material": {"Earth/Cowdung": 1, "Wood": 4, "Cement/Concrete/Slab":5, "Tiles": 6 },
                "hh_inf_cookfuel_source": {"Collected firewood": 1, "Charcoal": 2, "Purchased firewood": 3, "Paraffin": 4, "Gas/LPG": 5, "Eats at establishment": 6, "Biogas": 7},
              "hh_inf_lighting_source":{"Paraffin": 4, "Purchased firewood": 3,"Collected firewood": 1, "Electricity": 6, "Solar": 7, "Candles": 2, "Dry cell": 5}, 
            "hh_inf_water_source":{"Piped somewhere else (outside, neighbor)": 1, "Protected well": 2, "Protected spring": 3, "Water vendor": 4, "Unprotected well": 5, "Stream/River": 6, "Piped into dwelling": 7, "Borehole": 8, "Unprotected spring": 9, "Dam": 10, "Rain/harvested": 11},
              "hh_inf_toilet_type": {"Pit latrine, covered": 1, 
"Pit latrine, uncovered": 2, "Main sewer": 3, "Bush": 4, "Pit latrine, VIP": 5, "Septic tank": 6, "Cess pool": 7}, 
              "hh_inf_toilet_shared": {"Shared": 0, "Private": 1}, 
 'hh_inf_housing_type': {"Other temporary or semi-permanent structure": 1, "House/bungalow": 2, "Flat": 3, "Shack": 4, 
                         "Swahili type house": 5, "Maisonette/townhouse":6},               
               'hh_inf_electricity_access': {"No access": 0,"Yes, from neighbor or unofficial soure": 1, "Yes, own electricity": 2},
               'hh_inf_interiorcond': {"No major problems": 3, "Needs substantial painting, refilling, repair": 2, 
                                       "Some peeling paint, cracks in walls, rusted iron sheets": 1, "Dilapidated": 0}, 
'hh_asset_internet_access':{"Does not access internet": 0, "Other's mobile phone(s)": 1, "Cyber cafe": 2, 
                            "Own mobile phone": 3, "Own house connection through cable, dialup, mobile modem": 5,
                            "Office/workplace": 4}, 
                'hh_asset_iron_any': {"No": 0, "Yes": 1}, 
                'hh_env_settingdesc': {"Rural": 0, "Urban": 1}, 
                  
                'hh_env_desc': {"02=Single family detached houses": 8, "03=Single family attached houses": 6, 
                 "07=Open space, park, forest, farm, ranch": 7, "04=Mult- unit residential buildings (flats)": 5, 
"05=Commercial or institutional property": 4, "06=Busy road or highway": 2, "multi unit mudwalled rental houses": 3, 
"crowded houses": 1, "Anumber of rental houses with different tpye of people living in": 1, "multi unit mudwaled rental houses": 3,       
"Multi unit mudwalled rental plots": 3, "multi rental mud walled houses": 3,             
"Residentials and a busy highway": 2, "rental mud walled houses butfar apart": 3,
"muilti unit mud walled rental houses": 3, "Busy road and tea farm": 2, "multi unit mud walled rental houses": 3}, 
            'hh_env_dilapbuildings':{ "01=A few of them": 2, "98=None": 2, "02=Most of them": 1, "03=There are no buildings within 100meters": 0},
     'hh_env_trash': {"01=Minor accumulation": 0, "02=Major accumulation ": 0, "there": 1, "bushy background":2, "98=None":3}, 
                'hh_ownership_docu': {"No written agreement": 0, "Yes, a written agreement, but not a title deed": 1, "Yes, a title deed": 2}, 
               "hh_othershamba3_docu": {"01=No written agreement": 0, "03=Yes, a title deed": 1}, 
                
               'hh_otherprop_any': {"Yes": 1, "No": 0},
                'hh_otherprop1_docu': {"01=No written agreement": 0, "can have access to it": 0,
                                       "Can have access to it whenever there is need.": 0,
                                       "no documentation everyone there knows it his home": 0, 
                                       "no,but the house is ours because we are the ones who built it": 0,
                                       "He can acess it anytime he wants": 0, 
                                       "02=Yes, a written agreement, but not a title deed": 1, "its also another asset owned by the group": 1, 
                                       "03=Yes, a title deed": 2, "title deed, is with the parents": 2, "Its on a family plot": 2, 
                                       "still in his fathers home stead": 2}, 
       'hh_otherprop1_use': {"04=Agricultural property": 4, "03=Rental or commercial": 4, "03=Rental or commercial,04=Agricultural property": 4, 
                             "05=Currently unused": 0, "01=Personal use,04=Agricultural property": 3, "02=Used by friends and family": 2, "01=Personal use": 1}, 
  
                'hh_otherprop2_use': {"05=Currently unused": 0, "03=Rental or commercial": 4, "01=Personal use": 1, "04=Agricultural property": 4}, 
               'hh_otherprop2_docu': {"02=Yes, a written agreement, but not a title deed": 1, "01=No written agreement": 0, 
                                      "owned generally by the group but working towards individual ownr": 1, "03=Yes, a title deed": 2}, 
 'hh_otherprop3_docu': {"03=Yes, a title deed": 2}, 
                'hh_otherprop3_use':{"05=Currently unused": 0}, 
                'hh_othershamba1_docu':{"03=Yes, a title deed": 2, 
                 "02=Yes, a written agreement, but not a title deed": 1, "01=No written agreement": 0, 
                "inherited it from his father": 2, "have shamba number": 0, "Not collected": 0, "have an allotment lette": 1},
                
                'hh_othershamba1_use':{"04=Agricultural property": 4, "03=Rental or commercial": 4, "05=Currently unused": 0, 
                "02=Used by friends and family": 2, "01=Personal use": 1, "02=Used by friends and family,04=Agricultural property": 4}, 
                
                
                'hh_othershamba2_docu': {"02=Yes, a written agreement, but not a title deed": 1, "01=No written agreement": 0},
                'hh_othershamba2_use': {"05=Currently unused":0, "04=Agricultural property": 4}, 
       'hh_othershamba3_docu': {"01=No written agreement": 0, "03=Yes, a title deed": 2}}

In [138]:
h.replace(cleanup_nums, inplace=True)
h.drop(["Unnamed: 0"], axis=1)

h.head()

SyntaxError: EOL while scanning string literal (<ipython-input-138-bd1d48deb3a9>, line 2)

In [136]:

h.to_csv("hou_merge.csv")

In [137]:
test = pd.read_csv("hou_merge.csv")
test.head()

,Unnamed: 0,Unnamed: 0.1,hh_ids,hh_inf_wall_material,hh_inf_roof_material,hh_inf_floor_material,hh_inf_cookfuel_source,hh_inf_lighting_source,hh_inf_water_source,hh_inf_rooms_habitable,...,hh_otherprop3_value,hh_othershamba_N,hh_othershamba1_docu,hh_othershamba1_use,hh_othershamba1_value,hh_othershamba2_docu,hh_othershamba2_use,hh_othershamba2_value,hh_othershamba3_docu,hh_othershamba3_value
0,0,0,KNBOK31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,KNBOK01,7,3.0,5.0,4.0,4,7.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2,KNBOK02,7,3.0,5.0,4.0,6,7.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3,KNBOK04,7,5.0,5.0,5.0,6,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,4,KNBOK05,5,3.0,5.0,1.0,6,7.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
pov_hh = pd.read_csv('../../pov_hh_over_trx_yr_mo_kes_excRR.csv', dtype = {'hh_ids': 'object'})
trx = pd.read_csv('../../diaries_transactions_all.csv',dtype = {'hh_ids': 'object'}, low_memory = False)

In [ ]:
keep_ids = list(trx.m_ids_owner.unique())

In [ ]:
pov_hh.head()

In [144]:
pov_hou = pov.merge(test, how = 'left', on='hh_ids')

In [145]:
pov_hou.shape

(301, 71)

In [146]:
pov_hou_rem = rem.merge(pov_hou, how = 'left', on = 'hh_ids')

In [147]:
pov_hou_rem.shape

(521, 98)

In [149]:
pov_hou_rem.to_csv('pov_hou_rem_merge.csv')