In [194]:
import pandas as pd
import numpy as np
import math as math
import matplotlib.pyplot as plt
import seaborn as sns
import dateutil
import glob

%matplotlib inline

In [195]:
def conv(val):
    if val == np.nan:
        return 0
    return val

In [232]:
df = pd.read_csv("../../income.csv", low_memory=False);

### Poverty file

In [233]:
dfp = pd.read_csv("../../pov_hh_over_trx_yr_mo_kes_excRR.csv", low_memory=False);
dfp.head()

,hh_ids,inc_hh_medianpti,dem_hh_size,con_hh_medpti,inc_hh_pti_pae_oecd,con_hh_pti_pae_oecd,inc_hh_pti_pae_kihbs,con_hh_pti_pae_kihbs,inc_below_85_kes_oecd,con_below_85_kes_oecd,inc_below_85_kes_kihbs,con_below_85_kes_kihbs,inc_below_170_kes_oecd,con_below_170_kes_oecd,inc_below_170_kes_kihbs,con_below_170_kes_kihbs,inc_below_425_kes_oecd,con_below_425_kes_oecd,inc_below_425_kes_kihbs,con_below_425_kes_kihbs
0,KELDK01,9900.0,4,8805.0,120.21860,106.92170,112.31490,99.89222,0,0,0,0,1,1,1,1,1,1,1,1
1,KELDK02,35472.5,3,10665.0,484.59700,145.69670,387.67760,116.55740,0,0,0,0,0,1,0,1,0,1,1,1
2,KELDK08,3520.0,3,2890.0,52.45901,43.07005,51.52225,42.30094,1,1,1,1,1,1,1,1,1,1,1,1
3,KELDK09,8400.0,2,6415.0,183.60660,140.21860,166.91510,127.47140,0,0,0,0,0,1,1,1,1,1,1,1
4,KELDK10,5105.0,1,6005.0,167.37700,196.88520,167.37700,196.88520,0,0,0,0,1,0,1,0,1,1,1,1

In [234]:
dfp.shape

(297, 20)

In [235]:
dfp.describe()

,inc_hh_medianpti,dem_hh_size,con_hh_medpti,inc_hh_pti_pae_oecd,con_hh_pti_pae_oecd,inc_hh_pti_pae_kihbs,con_hh_pti_pae_kihbs,inc_below_85_kes_oecd,con_below_85_kes_oecd,inc_below_85_kes_kihbs,con_below_85_kes_kihbs,inc_below_170_kes_oecd,con_below_170_kes_oecd,inc_below_170_kes_kihbs,con_below_170_kes_kihbs,inc_below_425_kes_oecd,con_below_425_kes_oecd,inc_below_425_kes_kihbs,con_below_425_kes_kihbs
count,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000
mean,9094.099327,5.265993,7588.094667,104.927213,83.273941,94.664234,74.669408,0.686869,0.696970,0.720539,0.737374,0.814815,0.905724,0.851852,0.922559,0.949495,0.979798,0.959596,0.979798
std,14728.635601,2.611039,7626.027923,171.854604,89.161937,161.804226,83.462333,0.464550,0.460344,0.449492,0.440804,0.389103,0.292706,0.355846,0.267741,0.219354,0.140928,0.197237,0.140928
min,-1550.000000,1.000000,439.000000,-9.411050,5.757377,-7.365170,6.757484,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2000.000000,4.000000,3640.500000,17.377050,34.412570,15.912370,30.178080,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,4475.000000,5.000000,5561.607000,44.780540,53.993440,38.688530,46.564750,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
75%,11137.500000,6.000000,9055.000000,112.685400,97.917730,96.827680,85.983600,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,144018.000000,23.000000,79977.500000,1227.089000,680.977900,1270.954000,609.517300,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

### Here we check poverty info with housing conditions

In [236]:
dfh = pd.read_csv('../../housing_conditions_ownership.csv')

In [237]:
dfh.head()

,hh_ids,hh_int_situation,hh_circ_move_why,hh_circ_move_when,hh_circ_problems,hh_inf_wall_material,hh_inf_roof_material,hh_inf_floor_material,hh_inf_cookfuel_source,hh_inf_lighting_source,...,hh_othershamba_N,hh_othershamba1_docu,hh_othershamba1_use,hh_othershamba1_value,hh_othershamba2_docu,hh_othershamba2_use,hh_othershamba2_value,hh_othershamba3_docu,hh_othershamba3_use,hh_othershamba3_value
0,KNBOK31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,KNBOK01,01=Initial questionnaire,05=To be closer to family,7/1/1997,"01=Leaky roof or ceilling,04=Pests: mice, rats...",Stone,"Corrugated iron, mabati",Cement/Concrete/Slab,Paraffin,Paraffin,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,KNBOK02,01=Initial questionnaire,12=Wanted better neighborhood,2/1/2011,01=Leaky roof or ceilling,Stone,"Corrugated iron, mabati",Cement/Concrete/Slab,Paraffin,Electricity,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,KNBOK04,01=Initial questionnaire,17=Private displacement (owner moved into unit...,2/19/2006,"03=Broken or missing windows,07=Extremely hot ...",Stone,Concrete,Cement/Concrete/Slab,Gas/LPG,Electricity,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,KNBOK05,01=Initial questionnaire,13=Change from renter to owner,1/1/1993,"07=Extremely hot or cold,08=Mold",Corrugated Iron Sheet,"Corrugated iron, mabati",Cement/Concrete/Slab,Collected firewood,Electricity,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [238]:
ids_pov = set(dfp["hh_ids"].unique())
len(ids_pov)

297

In [239]:
ids_hou = set(dfh["hh_ids"].unique())
len(ids_hou)

297

In [240]:
if (ids_pov & ids_hou):
    print(len(ids_pov & ids_hou))
else:
    print("no matches")

296

In [241]:
for ids in ids_pov:
    if ids in ids_hou:
        continue
    else: print(ids)

KMOMK09

### Check matches for the remittances as well

In [242]:
dfr= pd.read_csv("../../rem_ind_over_trx_yr_mo_kes.csv")
dfr.head()

,hh_ids,m_ids_owner,rem_i_unique_sources,rem_i_meanptrx,rem_i_sdptrx,rem_i_meanptrx_RG,rem_i_sdptrx_RG,rem_i_meanptrx_RR,rem_i_sdptrx_RR,rem_i_count_medianpti,...,rem_i_net_medianpti_cash,rem_i_count_medianpti_inkind,rem_i_abs_medianpti_inkind,rem_i_net_medianpti_inkind,rem_i_count_medianpti_mm,rem_i_abs_medianpti_mm,rem_i_net_medianpti_mm,rem_i_count_medianpti_other,rem_i_abs_medianpti_other,rem_i_net_medianpti_other
0,KELDK02,56134389503000000,1,4606.4210,2317.3330,4606.421,2317.333,NaN,NaN,2.0,...,-3135.0,0.0,0.0,0.0,1.0,2500.0,-2500.0,0.0,0,0
1,KELDK08,56134410709700000,2,428.5000,139.3000,NaN,NaN,330.0000,NaN,1.0,...,0.0,0.0,0.0,0.0,1.0,428.5,-98.5,0.0,0,0
2,KELDK09,56134329944600000,5,656.1765,1560.7240,5000.000,1732.051,NaN,NaN,2.0,...,0.0,2.0,300.0,30.0,0.0,0.0,0.0,0.0,0,0
3,KELDK10,56134337157200000,6,166.8349,618.0686,NaN,NaN,114.8535,503.7492,29.0,...,-100.0,27.0,950.0,570.0,0.0,0.0,0.0,0.0,0,0
4,KELDK12,65134436228800000,1,2000.0000,NaN,2000.000,NaN,NaN,NaN,1.0,...,-2000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0

In [243]:
dfr["m_ids_owner"].describe()

count     513
unique    451
top        HH
freq       63
Name: m_ids_owner, dtype: object

In [244]:
dfr["hh_ids"].describe()

count         513
unique        288
top       KMOMK08
freq            8
Name: hh_ids, dtype: object

In [245]:
ids_rem = dfr["hh_ids"].unique()

In [246]:
for ids in ids_rem:
    if ids in ids_pov:
        continue
    else: print(ids)

KMAKL07

In [247]:
ids_rem = set(dfr["m_ids_owner"].unique())
ids_rem.remove("HH")
dfr["m_ids_owner"].value_counts()

HH                   63
64134399155700000     1
59134328466300000     1
62134424394500000     1
61134364059400000     1
63134372777000000     1
65134442721400000     1
61134468689200000     1
65134435629400000     1
63134363237200000     1
61134363655200000     1
58134444870500000     1
60134372960800000     1
63134398581600000     1
61134434981400000     1
62134348506600000     1
60134388680600000     1
61134363474900000     1
89136428585200000     1
56134337157200000     1
57134458997500000     1
57136300943300000     1
59134390567400000     1
60134433892200000     1
64134380651800000     1
56134346796800000     1
62134363376300000     1
56134329944600000     1
57137024579500000     1
65134391087600000     1
                     ..
65134390587800000     1
63134347224900000     1
59134423416900000     1
62134425991900000     1
58134425834800000     1
65134432872600000     1
63134449728600000     1
63134364973600000     1
61134478937200000     1
59134364519500000     1
59134337917700000     1
57134371779000000     1
60134372759400000     1
58134390510800000     1
61134458558400000     1
63134338421700000     1
57134294208000000     1
61134406243400000     1
59134381215900000     1
61134435830700000     1
63134417371400000     1
58134363374100000     1
62134362978100000     1
58134433388100000     1
61134470234100000     1
59134399785800000     1
61134381034300000     1
63134399377500000     1
57134320879700000     1
59134371497400000     1
Name: m_ids_owner, Length: 451, dtype: int64

In [248]:
(dfr["m_ids_owner"].value_counts()>1).value_counts()

False    450
True       1
Name: m_ids_owner, dtype: int64

### Here we are interested in hh size, monthly consumption and income


  WE can assess whether family has enough money to cover their needs or they rely on help of relatives and friends most of the time. If monthly left is negative, then family is in debt and they are unable to take any other financil burden as they will not be able to pay it off.

In [249]:
dfp['monthly_left'] = dfp.apply(lambda row: row.inc_hh_medianpti - row.con_hh_medpti, axis = 1)

In [250]:
dfp[['hh_ids', 'inc_hh_medianpti', 'dem_hh_size', 'con_hh_medpti', 'monthly_left']]

      hh_ids  inc_hh_medianpti  dem_hh_size  con_hh_medpti  monthly_left
0    KELDK01            9900.0            4       8805.000      1095.000
1    KELDK02           35472.5            3      10665.000     24807.500
2    KELDK08            3520.0            3       2890.000       630.000
3    KELDK09            8400.0            2       6415.000      1985.000
4    KELDK10            5105.0            1       6005.000      -900.000
5    KELDK12            3700.0            4       3897.857      -197.857
6    KELDK13            2352.5            4       4117.500     -1765.000
7    KELDK14            4240.0            4       4775.000      -535.000
8    KELDK15           18510.0            5      15193.500      3316.500
9    KELDK16            3125.0            5       3395.278      -270.278
10   KELDK17            5950.0            9       6490.159      -540.159
11   KELDK18           14200.0            6       7710.000      6490.000
12   KELDK19           24847.5            7      16041.250      8806.250
13   KELDK20            4700.0            6       4559.615       140.385
14   KELDK21           41606.0            4      18420.640     23185.360
15   KELDK22            1572.5            4       2052.500      -480.000
16   KELDK23            2900.0            1       1110.000      1790.000
17   KELDK24            3439.0            7       2317.500      1121.500
18   KELDK25            2440.0            1       2185.000       255.000
19   KELDK27            2980.0            3       2075.000       905.000
20   KELDK28           16587.0            5      14460.000      2127.000
21   KELDK29            3830.0            3       3730.000       100.000
22   KELDK30            6090.0            7       5812.500       277.500
23   KELDK31            3600.0            5       3669.857       -69.857
24   KELDK32            5757.5            6       3870.000      1887.500
25   KELDK33            8390.0            7       7150.000      1240.000
26   KELDK36           16970.0            5      11046.360      5923.640
27   KELDK37            8045.0            6       9346.107     -1301.107
28   KELDK38           35136.0            3      12821.790     22314.210
29   KELDK40            5780.0            2       4247.500      1532.500
..       ...               ...          ...            ...           ...
267  KVIHK07             550.0            6       2828.214     -2278.214
268  KVIHK09            -550.0           10       2155.000     -2705.000
269  KVIHK10            2000.0            6       2568.696      -568.696
270  KVIHK11            6200.0            5       4735.000      1465.000
271  KVIHK13            2155.0            6       2390.000      -235.000
272  KVIHK14            1200.0            6       5561.607     -4361.607
273  KVIHK15            1313.5            5       3499.000     -2185.500
274  KVIHK16            2165.0            4       4117.000     -1952.000
275  KVIHK17            1750.0            6       5512.414     -3762.414
276  KVIHK18            5230.0            5       2457.000      2773.000
277  KVIHK19           14775.0            4      12738.570      2036.430
278  KVIHK20            3775.0            8       5419.464     -1644.464
279  KVIHK21            1250.0            5       4425.714     -3175.714
280  KVIHK22             875.0            7       4028.572     -3153.572
281  KVIHK23            1020.0            2       2822.500     -1802.500
282  KVIHK24            -685.0            9       4140.000     -4825.000
283  KVIHK26               0.0            5       8357.500     -8357.500
284  KVIHK29            8000.0            7      10125.240     -2125.240
285  KVIHK30             150.0            4       1692.903     -1542.903
286  KVIHK31           -1550.0            9       3608.024     -5158.024
287  KVIHK32             600.0            6       3400.000     -2800.000
288  KVIHK33             920.0            5       2737.500     -1817.500
289  KVIHK34            3250.0            6       3585.800      -335.800
290  KVIHK36            5570.0            7       6316.000      -746.000
291  KVIHK38            3000.0            3       3161.500      -161.500
292  KVIHK39           17860.0            3      10615.000      7245.000
293  KVIHK40           25757.5            4      15589.500     10168.000
294  KZIMA04            3847.5            2       4468.000      -620.500
295  KZIMA05            2765.0            1       3190.000      -425.000
296  KZIMA08           27150.0            3      11300.000     15850.000

[297 rows x 5 columns]

### Here is another file with RR included. Not a big sifference, so I assume we can exclude RR and see if the famili is not in debt without RR

In [251]:
dfp2 = pd.read_csv("../../pov_hh_over_trx_yr_mo_kes_incRR.csv", low_memory=False);
dfp2.head()

,hh_ids,inc_hh_medianpti,con_pur_hh_medpti,con_prod_hh_medpti,dem_urban,dem_hh_size,dem_pae_oecd,dem_pae_kihbs,con_hh_medpti,inc_hh_pti_pae_oecd,...,inc_below_85_kes_kihbs,con_below_85_kes_kihbs,inc_below_170_kes_oecd,con_below_170_kes_oecd,inc_below_170_kes_kihbs,con_below_170_kes_kihbs,inc_below_425_kes_oecd,con_below_425_kes_oecd,inc_below_425_kes_kihbs,con_below_425_kes_kihbs
0,KELDK01,9900.0,8805.0,0.0,0,4,2.7,2.89,8805.0,120.21860,...,0,0,1,1,1,1,1,1,1,1
1,KELDK02,35472.5,10665.0,0.0,0,3,2.4,3.00,10665.0,484.59700,...,0,0,0,1,0,1,0,1,1,1
2,KELDK08,3555.0,2890.0,0.0,0,3,2.2,2.24,2890.0,52.98063,...,1,1,1,1,1,1,1,1,1,1
3,KELDK09,9000.0,6415.0,0.0,0,2,1.5,1.65,6415.0,196.72130,...,0,0,0,1,0,1,1,1,1,1
4,KELDK10,8250.0,6005.0,0.0,0,1,1.0,1.00,6005.0,270.49180,...,0,0,0,0,0,0,1,1,1,1

In [252]:
dfp2['monthly_left'] = dfp.apply(lambda row: row.inc_hh_medianpti - row.con_hh_medpti, axis = 1) 
dfp2[['hh_ids', 'inc_hh_medianpti', 'dem_hh_size', 'con_hh_medpti', 'monthly_left']]

      hh_ids  inc_hh_medianpti  dem_hh_size  con_hh_medpti  monthly_left
0    KELDK01            9900.0            4       8805.000      1095.000
1    KELDK02           35472.5            3      10665.000     24807.500
2    KELDK08            3555.0            3       2890.000       630.000
3    KELDK09            9000.0            2       6415.000      1985.000
4    KELDK10            8250.0            1       6005.000      -900.000
5    KELDK12            3700.0            4       3897.857      -197.857
6    KELDK13            3440.0            4       4117.500     -1765.000
7    KELDK14            4380.0            4       4775.000      -535.000
8    KELDK15           18510.0            5      15193.500      3316.500
9    KELDK16            3125.0            5       3395.278      -270.278
10   KELDK17            8240.0            9       6490.159      -540.159
11   KELDK18           14200.0            6       7710.000      6490.000
12   KELDK19           24847.5            7      16041.250      8806.250
13   KELDK20            4700.0            6       4559.615       140.385
14   KELDK21           41606.0            4      18420.640     23185.360
15   KELDK22            2205.0            4       2052.500      -480.000
16   KELDK23            3260.0            1       1110.000      1790.000
17   KELDK24            3439.0            7       2317.500      1121.500
18   KELDK25            2440.0            1       2185.000       255.000
19   KELDK27            3100.0            3       2075.000       905.000
20   KELDK28           17799.0            5      14460.000      2127.000
21   KELDK29            3830.0            3       3730.000       100.000
22   KELDK30            6090.0            7       5812.500       277.500
23   KELDK31            3600.0            5       3669.857       -69.857
24   KELDK32            6202.5            6       3870.000      1887.500
25   KELDK33            8390.0            7       7150.000      1240.000
26   KELDK36           16970.0            5      11046.360      5923.640
27   KELDK37            8045.0            6       9346.107     -1301.107
28   KELDK38           35136.0            3      12821.790     22314.210
29   KELDK40            5780.0            2       4247.500      1532.500
..       ...               ...          ...            ...           ...
268  KVIHK07            3920.0            6       2828.214     -2705.000
269  KVIHK09            3834.0           10       2155.000      -568.696
270  KVIHK10            2050.0            6       2568.696      1465.000
271  KVIHK11            7800.0            5       4735.000      -235.000
272  KVIHK13            2160.0            6       2390.000     -4361.607
273  KVIHK14            8540.0            6       5561.607     -2185.500
274  KVIHK15            2737.5            5       3499.000     -1952.000
275  KVIHK16            5316.5            4       4117.000     -3762.414
276  KVIHK17            4755.0            6       5512.414      2773.000
277  KVIHK18            5895.0            5       2457.000      2036.430
278  KVIHK19           16125.0            4      12738.570     -1644.464
279  KVIHK20            3775.0            8       5419.464     -3175.714
280  KVIHK21            4417.5            5       4425.714     -3153.572
281  KVIHK22            5350.0            7       4028.572     -1802.500
282  KVIHK23            1550.0            2       2822.500     -4825.000
283  KVIHK24            2897.5            9       4140.000     -8357.500
284  KVIHK26            6795.0            5       8357.500     -2125.240
285  KVIHK29           13515.0            7      10125.240     -1542.903
286  KVIHK30            1480.0            4       1692.903     -5158.024
287  KVIHK31            5100.0            9       3608.024     -2800.000
288  KVIHK32            3580.0            6       3400.000     -1817.500
289  KVIHK33            4755.0            5       2737.500      -335.800
290  KVIHK34            6955.0            6       3585.800      -746.000
291  KVIHK36            5830.0            7       6316.000      -161.500
292  KVIHK38            6990.0            3       3161.500      7245.000
293  KVIHK39           19305.0            3      10615.000     10168.000
294  KVIHK40           25757.5            4      15589.500      -620.500
295  KZIMA04            5197.5            2       4468.000      -425.000
296  KZIMA05            4365.0            1       3190.000     15850.000
297  KZIMA08           27150.0            3      11300.000           NaN

[298 rows x 5 columns]

In [253]:
dfp['monthly_left'].equals(dfp2['monthly_left'])

False

In [254]:
dfh.drop(['hh_int_situation', 'hh_circ_move_why', 'hh_circ_move_when', 'hh_asset_fryingpan_N' ], axis=1, inplace=True)

In [255]:
dfh.columns

Index(['hh_ids', 'hh_circ_problems', 'hh_inf_wall_material',
       'hh_inf_roof_material', 'hh_inf_floor_material',
       'hh_inf_cookfuel_source', 'hh_inf_lighting_source',
       'hh_inf_water_source', 'hh_inf_rooms_habitable', 'hh_inf_rooms_other',
       'hh_inf_toilet_type', 'hh_inf_toilet_shared', 'hh_inf_housing_type',
       'hh_inf_electricity_access', 'hh_inf_interiorcond',
       'hh_inf_exteriorcond', 'hh_asset_internet_access', 'hh_asset_iron_any',
       'hh_asset_mosqnets_N', 'hh_asset_towels_N', 'hh_env_settingdesc',
       'hh_env_desc', 'hh_env_dilapbuildings', 'hh_env_streets',
       'hh_env_trash', 'hh_ownership_type', 'hh_ownership_plotacquisition',
       'hh_ownership_houseacquisition', 'hh_ownership_docu',
       'hh_otherprop_any', 'hh_otherprop_N', 'hh_otherprop1_docu',
       'hh_otherprop1_use', 'hh_otherprop1_value', 'hh_otherprop2_use',
       'hh_otherprop2_value', 'hh_otherprop2_docu', 'hh_otherprop3_docu',
       'hh_otherprop3_use', 'hh_otherprop3_value', 'hh_othershamba_N',
       'hh_othershamba1_docu', 'hh_othershamba1_use', 'hh_othershamba1_value',
       'hh_othershamba2_docu', 'hh_othershamba2_use', 'hh_othershamba2_value',
       'hh_othershamba3_docu', 'hh_othershamba3_use', 'hh_othershamba3_value'],
      dtype='object')

In [256]:
hou_dum = pd.get_dummies(data=dfh, columns=['hh_inf_wall_material', 'hh_circ_problems', 'hh_inf_roof_material','hh_inf_floor_material','hh_inf_cookfuel_source', 'hh_inf_lighting_source', 'hh_inf_water_source', 'hh_inf_toilet_type', 'hh_inf_toilet_shared', 'hh_inf_housing_type',
       'hh_inf_electricity_access', 'hh_inf_interiorcond',
       'hh_inf_exteriorcond', 'hh_asset_internet_access', 'hh_asset_iron_any',
       'hh_asset_mosqnets_N', 'hh_asset_towels_N', 'hh_env_settingdesc',
       'hh_env_desc', 'hh_env_dilapbuildings', 'hh_env_streets',
       'hh_env_trash', 'hh_ownership_type', 'hh_ownership_plotacquisition',
       'hh_ownership_houseacquisition', 'hh_ownership_docu', 'hh_otherprop_any',  'hh_otherprop1_use', 'hh_otherprop2_use','hh_otherprop2_docu', 'hh_otherprop3_docu','hh_otherprop3_use', 'hh_othershamba1_docu', 'hh_othershamba1_use', 'hh_othershamba2_docu', 'hh_othershamba2_use','hh_othershamba3_docu', 'hh_othershamba3_use' ])

In [257]:
hou_dum.describe

<bound method NDFrame.describe of       hh_ids  hh_inf_rooms_habitable  hh_inf_rooms_other  hh_otherprop_N  \
0    KNBOK31                     NaN                 NaN             NaN
1    KNBOK01                     3.0                 3.0             NaN
2    KNBOK02                     1.0                 1.0             NaN
3    KNBOK04                     2.0                 1.0             1.0
4    KNBOK05                     5.0                 3.0             NaN
5    KNBOK06                     1.0                 1.0             1.0
6    KNBOK08                     1.0                 0.0             NaN
7    KNBOK11                     2.0                 2.0             NaN
8    KNBOK14                     2.0                 0.0             NaN
9    KNBOK15                     1.0                 0.0             NaN
10   KNBOK16                     1.0                 0.0             1.0
11   KNBOK17                     2.0                 1.0             1.0
12   KNBOK18                     3.0                 1.0             5.0
13   KNBOK19                     2.0                 1.0             NaN
14   KNBOK20                     4.0                 4.0             NaN
15   KNBOK22                     1.0                 0.0             NaN
16   KNBOK23                     5.0                 2.0             NaN
17   KNBOK25                     1.0                 0.0             1.0
18   KNBOK26                     1.0                 0.0             NaN
19   KNBOK27                     1.0                 1.0             NaN
20   KNBOK29                     1.0                 0.0             1.0
21   KNBOM02                     1.0                 0.0             NaN
22   KNBOM03                     1.0                 0.0             NaN
23   KNBOM04                     1.0                 0.0             1.0
24   KNBOM11                     1.0                 0.0             NaN
25   KNBOM13                     1.0                 0.0             NaN
26   KNBOM14                     1.0                 0.0             NaN
27   KNBOM16                     1.0                 1.0             NaN
28   KNBOM19                     1.0                 0.0             NaN
29   KNBOM22                     2.0                 0.0             NaN
..       ...                     ...                 ...             ...
271  KVIHK10                     1.0                 1.0             NaN
272  KVIHK11                     3.0                 2.0             1.0
273  KVIHK13                     1.0                 1.0             NaN
274  KVIHK14                     4.0                 2.0             NaN
275  KVIHK15                     3.0                 1.0             NaN
276  KVIHK16                     2.0                 1.0             NaN
277  KVIHK17                     4.0                 2.0             NaN
278  KVIHK18                     5.0                 3.0             NaN
279  KVIHK19                     4.0                 2.0             1.0
280  KVIHK20                     3.0                 1.0             NaN
281  KVIHK21                     4.0                 2.0             NaN
282  KVIHK22                     4.0                 2.0             NaN
283  KVIHK23                     3.0                 1.0             NaN
284  KVIHK24                     3.0                 1.0             NaN
285  KVIHK26                     4.0                 2.0             NaN
286  KVIHK29                     4.0                 2.0             1.0
287  KVIHK30                     4.0                 3.0             1.0
288  KVIHK31                     4.0                 2.0             NaN
289  KVIHK32                     3.0                 2.0             NaN
290  KVIHK33                     5.0                 3.0             NaN
291  KVIHK34                     3.0                 2.0             NaN
292  KNBOK36                     2.0                 2.0             NaN
293  KNBOK38                     2.0                 2.0             NaN
294  KNBOK39                     1.0                 1.0             1.0
295  KNBOK40                     1.0                 1.0             1.0
296  KNBOK41                     1.0                 0.0             2.0
297  KNBOK42                     1.0                 0.0             NaN
298  KVIHC08                     NaN                 NaN             NaN
299  KNBOK32                     NaN                 NaN             NaN
300  KNBOK27                     NaN                 NaN             NaN

                                    hh_otherprop1_docu  hh_otherprop1_value  \
0                                                  NaN                  NaN
1                                                  NaN                  NaN
2                                                  NaN                  NaN
3                                 03=Yes, a title deed            1500000.0
4                                                  NaN                  NaN
5                              01=No written agreement             500000.0
6                                                  NaN                  NaN
7                                                  NaN                  NaN
8                                                  NaN                  NaN
9                                                  NaN                  NaN
10                             01=No written agreement             100000.0
11                             01=No written agreement              70000.0
12                                03=Yes, a title deed             100000.0
13                                                 NaN                  NaN
14                                                 NaN                  NaN
15                                                 NaN                  NaN
16                                                 NaN                  NaN
17                             01=No written agreement              50000.0
18                                                 NaN                  NaN
19                                                 NaN                  NaN
20                             01=No written agreement             300000.0
21                                                 NaN                  NaN
22                                                 NaN                  NaN
23                             01=No written agreement             300000.0
24                                                 NaN                  NaN
25                                                 NaN                  NaN
26                                                 NaN                  NaN
27                                                 NaN                  NaN
28                                                 NaN                  NaN
29                                                 NaN                  NaN
..                                                 ...                  ...
271                                                NaN                  NaN
272                            01=No written agreement             200000.0
273                                                NaN                  NaN
274                                                NaN                  NaN
275                                                NaN                  NaN
276                                                NaN                  NaN
277                                                NaN                  NaN
278                                                NaN                  NaN
279                               03=Yes, a title deed             400000.0
280                                                NaN                  NaN
281                                                NaN                  NaN
282                                                NaN                  NaN
283                                                NaN                  NaN
284                                                NaN                  NaN
285                                                NaN                  NaN
286                            01=No written agreement             250000.0
287                               03=Yes, a title deed                  NaN
288                                                NaN                  NaN
289                                                NaN                  NaN
290                                                NaN                  NaN
291                                                NaN                  NaN
292                                                NaN                  NaN
293                                                NaN                  NaN
294                            01=No written agreement             150000.0
295  02=Yes, a written agreement, but not a title deed             300000.0
296  02=Yes, a written agreement, but not a title deed              50000.0
297                                                NaN                  NaN
298                                                NaN                  NaN
299                                                NaN                  NaN
300                                                NaN                  NaN

     hh_otherprop2_value  hh_otherprop3_value  hh_othershamba_N  \
0                    NaN                  NaN               NaN
1                    NaN                  NaN               NaN
2                    NaN                  NaN               NaN
3                    NaN                  NaN               NaN
4                    NaN                  NaN               NaN
5                    NaN                  NaN               NaN
6                    NaN                  NaN               NaN
7                    NaN                  NaN               NaN
8                    NaN                  NaN               NaN
9                    NaN                  NaN               NaN
10                   NaN                  NaN               NaN
11                   NaN                  NaN               NaN
12              100000.0             100000.0               2.0
13                   NaN                  NaN               NaN
14                   NaN                  NaN               NaN
15                   NaN                  NaN               NaN
16                   NaN                  NaN               NaN
17                   NaN                  NaN               NaN
18                   NaN                  NaN               NaN
19                   NaN                  NaN               NaN
20                   NaN                  NaN               NaN
21                   NaN                  NaN               NaN
22                   NaN                  NaN               NaN
23                   NaN                  NaN               NaN
24                   NaN                  NaN               NaN
25                   NaN                  NaN               NaN
26                   NaN                  NaN               NaN
27                   NaN                  NaN               NaN
28                   NaN                  NaN               NaN
29                   NaN                  NaN               NaN
..                   ...                  ...               ...
271                  NaN                  NaN               NaN
272                  NaN                  NaN               1.0
273                  NaN                  NaN               NaN
274                  NaN                  NaN               NaN
275                  NaN                  NaN               NaN
276                  NaN                  NaN               NaN
277                  NaN                  NaN               NaN
278                  NaN                  NaN               NaN
279                  NaN                  NaN               1.0
280                  NaN                  NaN               NaN
281                  NaN                  NaN               NaN
282                  NaN                  NaN               NaN
283                  NaN                  NaN               NaN
284                  NaN                  NaN               NaN
285                  NaN                  NaN               NaN
286                  NaN                  NaN               0.0
287                  NaN                  NaN               1.0
288                  NaN                  NaN               NaN
289                  NaN                  NaN               NaN
290                  NaN                  NaN               NaN
291                  NaN                  NaN               NaN
292                  NaN                  NaN               NaN
293                  NaN                  NaN               NaN
294                  NaN                  NaN               NaN
295                  NaN                  NaN               NaN
296             200000.0                  NaN               NaN
297                  NaN                  NaN               NaN
298                  NaN                  NaN               NaN
299                  NaN                  NaN               NaN
300                  NaN                  NaN               NaN

     hh_othershamba1_value  ...  hh_othershamba1_use_04=Agricultural property  \
0                      NaN  ...                                             0
1                      NaN  ...                                             0
2                      NaN  ...                                             0
3                      NaN  ...                                             0
4                      NaN  ...                                             0
5                      NaN  ...                                             0
6                      NaN  ...                                             0
7                      NaN  ...                                             0
8                      NaN  ...                                             0
9                      NaN  ...                                             0
10                     NaN  ...                                             0
11                     NaN  ...                                             0
12                160000.0  ...                                             0
13                     NaN  ...                                             0
14                     NaN  ...                                             0
15                     NaN  ...                                             0
16                     NaN  ...                                             0
17                     NaN  ...                                             0
18                     NaN  ...                                             0
19                     NaN  ...                                             0
20                     NaN  ...                                             0
21                     NaN  ...                                             0
22                     NaN  ...                                             0
23                     NaN  ...                                             0
24                     NaN  ...                                             0
25                     NaN  ...                                             0
26                     NaN  ...                                             0
27                     NaN  ...                                             0
28                     NaN  ...                                             0
29                     NaN  ...                                             0
..                     ...  ...                                           ...
271                    NaN  ...                                             0
272               700000.0  ...                                             1
273                    NaN  ...                                             0
274                    NaN  ...                                             0
275                    NaN  ...                                             0
276                    NaN  ...                                             0
277               500000.0  ...                                             0
278                    NaN  ...                                             0
279                    NaN  ...                                             1
280                    NaN  ...                                             0
281                    NaN  ...                                             0
282                    NaN  ...                                             0
283               400000.0  ...                                             1
284                    NaN  ...                                             0
285                    NaN  ...                                             0
286              1500000.0  ...                                             1
287               500000.0  ...                                             1
288                    NaN  ...                                             0
289                    NaN  ...                                             0
290                    NaN  ...                                             0
291                    NaN  ...                                             0
292                    NaN  ...                                             0
293                    NaN  ...                                             0
294                    NaN  ...                                             0
295                    NaN  ...                                             0
296                    NaN  ...                                             0
297                    NaN  ...                                             0
298                    NaN  ...                                             0
299                    NaN  ...                                             0
300                    NaN  ...                                             0

     hh_othershamba1_use_05=Currently unused  \
0                                          0
1                                          0
2                                          0
3                                          0
4                                          0
5                                          0
6                                          0
7                                          0
8                                          0
9                                          0
10                                         0
11                                         0
12                                         1
13                                         0
14                                         0
15                                         0
16                                         0
17                                         0
18                                         0
19                                         0
20                                         0
21                                         0
22                                         0
23                                         0
24                                         0
25                                         0
26                                         0
27                                         0
28                                         0
29                                         0
..                                       ...
271                                        0
272                                        0
273                                        0
274                                        0
275                                        0
276                                        0
277                                        0
278                                        0
279                                        0
280                                        0

In [258]:
pov_hh = pd.read_csv('../../pov_hh_over_trx_yr_mo_kes_excRR.csv', dtype = {'hh_ids': 'object'})
trx = pd.read_csv('../../diaries_transactions_all.csv',dtype = {'hh_ids': 'object'}, low_memory = False)

In [259]:
keep_ids = list(trx.m_ids_owner.unique())

In [260]:
pov_hh.head()

,hh_ids,inc_hh_medianpti,dem_hh_size,con_hh_medpti,inc_hh_pti_pae_oecd,con_hh_pti_pae_oecd,inc_hh_pti_pae_kihbs,con_hh_pti_pae_kihbs,inc_below_85_kes_oecd,con_below_85_kes_oecd,inc_below_85_kes_kihbs,con_below_85_kes_kihbs,inc_below_170_kes_oecd,con_below_170_kes_oecd,inc_below_170_kes_kihbs,con_below_170_kes_kihbs,inc_below_425_kes_oecd,con_below_425_kes_oecd,inc_below_425_kes_kihbs,con_below_425_kes_kihbs
0,KELDK01,9900.0,4,8805.0,120.21860,106.92170,112.31490,99.89222,0,0,0,0,1,1,1,1,1,1,1,1
1,KELDK02,35472.5,3,10665.0,484.59700,145.69670,387.67760,116.55740,0,0,0,0,0,1,0,1,0,1,1,1
2,KELDK08,3520.0,3,2890.0,52.45901,43.07005,51.52225,42.30094,1,1,1,1,1,1,1,1,1,1,1,1
3,KELDK09,8400.0,2,6415.0,183.60660,140.21860,166.91510,127.47140,0,0,0,0,0,1,1,1,1,1,1,1
4,KELDK10,5105.0,1,6005.0,167.37700,196.88520,167.37700,196.88520,0,0,0,0,1,0,1,0,1,1,1,1

In [261]:
poverty = dfp.merge(df, how = 'left', on='hh_ids')

In [262]:
poverty.shape

(643, 71)

In [263]:
pov_hou= hou_dum.merge(poverty, how = 'left', on = 'hh_ids')

In [267]:
pov_hou.shape

(647, 426)

In [268]:
pov_hou_rem = dfr.merge(pov_hou, how = 'left', on = 'hh_ids')

In [269]:
pov_hou_rem.shape

(1328, 453)

In [270]:
pov_hou_rem.to_csv('pov_hou_rem_merge2.csv')