In [1]:
import os
import pandas as pd 
import glob
from collections import Counter

In [2]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [3]:
glob.glob('*.csv')

['cons_wb_go_edu_demos.csv',
 'income.csv',
 'cons_wb_go_edu_demos_inc_pov_hou_rem.csv',
 'edu_hh_ind_merge.csv',
 'pov_hou_rem_merged_rev4.csv',
 'wellbeing_goingson.csv',
 'goingson.csv',
 'demos_merged.csv',
 'cons_wb_go_edu_demos_inc.csv',
 'pov_hou_rem_merge_rev4.csv',
 'wellbeing.csv',
 'pov_hou_rem_merge_rev1.csv',
 'consumption_mapped_to_m_ids.csv']

In [4]:
trx = pd.read_csv('../diaries_transactions_all.csv', low_memory = False, dtype={'m_ids_owner': object})

In [103]:
cons = pd.read_csv('consumption_mapped_to_m_ids.csv', dtype={'m_ids_owner': object})
demos = pd.read_csv('demos_merged.csv',  dtype={'m_ids': object})
pov_rem = pd.read_csv('pov_rem_to_m_ids.csv',  dtype={'m_ids_owner': object})
wb_go = pd.read_csv('wellbeing_goingson.csv',  dtype={'hh_ids': object})
edu = pd.read_csv('edu_hh_ind_merge.csv', index_col = 0, dtype={'m_ids': object})
inc = pd.read_csv('income.csv', dtype={'m_ids_owner': object})

In [104]:
## we only want to keep IDs that are present in our main transaction datasets anyway
keep_ids_list = list(trx.m_ids_owner.unique())
keep_hh_list = list (trx.hh_ids.unique())

In [105]:
print(cons.shape)
print(demos.shape)
print(wb_go.shape)
print(pov_rem.shape)
print(edu.shape)
print(inc.shape)
print(trx.shape)

(670, 38)
(669, 29)
(298, 15)
(670, 26)
(669, 12)
(643, 23)
(483949, 58)

In [106]:
cons = cons.loc[cons['m_ids_owner'].isin(keep_ids_list)]
edu = edu.loc[edu['m_ids'].isin(keep_ids_list)]
inc = inc.drop_duplicates()
pov_rem = pov_rem.loc[pov_rem['m_ids_owner'].isin(keep_ids_list)]
wb_go = wb_go.loc[wb_go['hh_ids'].isin(keep_hh_list)]

In [107]:
demos = demos.loc[demos['m_ids'].isin(keep_ids_list)]

In [108]:
print(cons.shape)
print(wb_go.shape)
print(edu.shape)
print(inc.shape)
print(demos.shape)
print(pov_rem.shape)

(670, 38)
(298, 15)
(669, 12)
(643, 23)
(669, 29)
(670, 26)

In [109]:
inc.head()

   Unnamed: 0   hh_ids        m_ids_owner  hh_income  hh_income_only  inc_i_unique_sources  inc_i_minpti  inc_i_meanpti  inc_i_sdpti  inc_i_maxpti  inc_i_meanpti_AGRI  inc_i_sdpti_AGRI  inc_i_meanpti_CITMPC  inc_i_sdpti_CITMPC  inc_i_meanpti_NEINCG  inc_i_sdpti_NEINCG  inc_i_meanpti_REI  inc_i_sdpti_REI  inc_i_meanpti_RIOI  inc_i_sdpti_RIOI  inc_i_meanpti_SEI  inc_i_sdpti_SEI inc_i_dom
0           0  KELDK01  56134390476100000        0.0             0.0                   2.0     17.647060      103.11550     35.65044     137.23530                 0.0               0.0             35.660960           22.606590                   0.0                 0.0           67.45454         26.98390                 0.0               0.0             0.0000           0.0000       REI
1           1  KELDK02  56134389503000000        0.0             0.0                   1.0  -1529.412000      356.43330   1037.63000    2001.17700                 0.0               0.0              0.000000            0.000000                   0.0                 0.0            0.00000          0.00000                 0.0               0.0           356.4333        1037.6300       SEI
2           2  KELDK08  56134410699600000        0.0             0.0                   2.0      2.352941       30.01307     17.49300      51.88235                 0.0               0.0              8.183006            7.638482                   0.0                 0.0           21.83006         17.44106                 0.0               0.0             0.0000           0.0000       REI
3           3  KELDK08  56134410709700000        0.0             0.0                   2.0      3.764706       25.14804     14.33156      41.17647                 0.0               0.0              2.795098            4.155897                   0.0                 0.0           22.35294         17.06343                 0.0               0.0             0.0000           0.0000       REI
4           4  KELDK09  56134329944600000        0.0             0.0                   1.0     -2.352941      123.48660    138.51580     434.11760                 0.0               0.0              0.000000            0.000000                   0.0                 0.0            0.00000          0.00000                 0.0               0.0           123.4866         138.5158       SEI

In [110]:
cons.head()

         m_ids_owner   hh_ids  con_pur_hh_meanptrx  con_pur_hh_sdptrx  con_pur_hh_minpti  con_pur_hh_meanpti  con_pur_hh_medpti  con_pur_hh_maxpti  con_pur_hh_meanpti_ALC  con_pur_hh_medpti_ALC  con_pur_hh_meanpti_CLN  con_pur_hh_medpti_CLN  con_pur_hh_meanpti_CLTH  con_pur_hh_medpti_CLTH  con_pur_hh_meanpti_COMM  con_pur_hh_medpti_COMM  con_pur_hh_meanpti_EDU  con_pur_hh_medpti_EDU  con_pur_hh_meanpti_ENRGY  con_pur_hh_medpti_ENRGY  con_pur_hh_meanpti_ENT  con_pur_hh_medpti_ENT  con_pur_hh_meanpti_FOOD  con_pur_hh_medpti_FOOD  con_pur_hh_meanpti_H20  con_pur_hh_medpti_H20  con_pur_hh_meanpti_HSNG  con_pur_hh_medpti_HSNG  con_pur_hh_meanpti_MED  con_pur_hh_medpti_MED  con_pur_hh_meanpti_OTH  con_pur_hh_medpti_OTH  con_pur_hh_meanpti_PERS  con_pur_hh_medpti_PERS  con_pur_hh_meanpti_REL  con_pur_hh_medpti_REL  con_pur_hh_meanpti_TRNSP  con_pur_hh_medpti_TRNSP
0  58134383397900000  KELDL02             107.9147           286.7984               3293            14372.27            15640.0              23670                204.5455                    0.0                365.5454                  200.0                 292.7273                       0               1071.81800                  1050.0                873.6364                    0.0                 1162.2730                   1170.0                     0.0                      0                 6401.545                  6590.0                40.90909                    0.0                 3090.909                  3000.0                27.27273                      0                14.09091                    0.0                274.72730                   286.0                64.54546                   20.0                  487.7273                    550.0
1  58134383535800000  KELDL02             107.9147           286.7984               3293            14372.27            15640.0              23670                204.5455                    0.0                365.5454                  200.0                 292.7273                       0               1071.81800                  1050.0                873.6364                    0.0                 1162.2730                   1170.0                     0.0                      0                 6401.545                  6590.0                40.90909                    0.0                 3090.909                  3000.0                27.27273                      0                14.09091                    0.0                274.72730                   286.0                64.54546                   20.0                  487.7273                    550.0
2                 HH  KVIHC16             115.6588           345.8901               1070             5825.00             5470.0              15380                  0.0000                    0.0                119.0909                  150.0                  50.0000                       0                 72.72727                    70.0               1145.4550                    0.0                  234.5455                    230.0                     0.0                      0                 3925.909                  4040.0                 0.00000                    0.0                    0.000                     0.0                50.00000                      0                27.27273                    0.0                 10.90909                     0.0                15.45455                    0.0                  173.6364                     60.0
3  59134423954300000  KVIHC16             115.6588           345.8901               1070             5825.00             5470.0              15380                  0.0000                    0.0                119.0909                  150.0                  50.0000                       0                 72.72727                    70.0               1145.4550                    0.0                  234.5455                    230.0                     0.0                      0                 3925.909                  4040.0                 0.00000                    0.0                    0.000                     0.0                50.00000                      0                27.27273                    0.0                 10.90909                     0.0                15.45455                    0.0                  173.6364                     60.0
4  65134441430300000  KELDK21            1061.1900          4257.9390               1150            26529.75            17300.0              75020                  0.0000                    0.0                163.7500                   75.0                 275.0000                       0                312.50000                   275.0              14887.5000                  475.0                  228.3333                      0.0                     0.0                      0                 6521.667                  5960.0                 0.00000                    0.0                    0.000                     0.0                16.66667                      0              2018.50000                    0.0                 90.83334                     0.0               816.66670                  100.0                 1198.3330                    550.0

In [111]:
wb_go.head()

    hh_ids  happiness  economically  relationships  confidence  police  doctor    unsafe  utilities  asset_taken  miss_app  miss_inc  romantic    hungry  school_sent
0  KELDK01   4.045455      3.863636       4.863636    4.681818     0.0     0.0  0.000000        0.0          0.0       0.0  0.000000  0.000000  0.000000     0.071429
1  KELDK02   4.105263      3.947368       4.842105    4.736842     0.0     0.0  0.076923        0.0          0.0       0.0  0.153846  0.000000  0.000000     0.111111
2  KELDK08   4.038462      3.653846       4.730769    4.884615     0.0     0.0  0.000000        0.0          0.0       0.0  0.000000  0.000000  0.058824     0.142857
3  KELDK09   4.052632      3.947368       4.947368    4.894737     0.0     0.0  0.000000        0.0          0.0       0.0  0.000000  0.000000  0.000000     0.071429
4  KELDK10   4.111111      4.000000       4.777778    4.944444     0.0     0.0  0.000000        0.0          0.0       0.0  0.000000  0.058824  0.000000     0.000000

In [112]:
edu.head()

               m_ids   hh_ids  edu_i_enrolled                  edu_i_attain  edu_i_attain_yrs  edu_hh_child613inschool  edu_hh_child1417inschool  edu_hh_girls613inschool  edu_hh_girls1417inschool  edu_hh_boys613inschool  edu_hh_boys1417inschool  edu_hh_headattain_yrs
0  56134390476100000  KELDK01             0.0    Primary (some or complete)               8.0                      1.0                       NaN                      1.0                       NaN                     NaN                      NaN                    8.0
1  56134390654900000  KELDK01             0.0  Secondary (some or complete)              10.0                      1.0                       NaN                      1.0                       NaN                     NaN                      NaN                    8.0
2  56134389503000000  KELDK02             0.0    Primary (some or complete)               8.0                      NaN                       1.0                      NaN                       1.0                     NaN                      NaN                    8.0
3  56134410699600000  KELDK08             0.0    Primary (some or complete)               5.0                      0.0                       NaN                      NaN                       NaN                     0.0                      NaN                    5.0
4  56134410709700000  KELDK08             0.0    Primary (some or complete)               8.0                      0.0                       NaN                      NaN                       NaN                     0.0                      NaN                    5.0

In [113]:
demos.head()

    hh_ids              m_ids dem_i_male  dem_i_age_yrs dem_i_age_5yrgrp  dem_i_age_workage    dem_i_relhead  dem_i_hhead            dem_i_marstat dem_i_tribe  dem_i_children_tot  dem_i_children_inhh  dem_urban  dem_hh_size  dem_hh_meanage  dem_hh_ages0_4  dem_hh_ages5_14  dem_hh_ages15_17  dem_hh_ages0_17  dem_hh_ages15plus  dem_hh_ages18plus  dem_hh_ages65plus  dem_hh_ages20_30  dem_hh_workage  dem_hh_dependents  dem_hh_agehead  dem_hh_malehead  dem_pae_oecd  dem_pae_kihbs
0  KELDK01  56134390476100000       Male             30        [30 - 35)                  1   Household head            1  Married/living together    Kalenjin                 2.0                  0.0          0            4        16.00000               1                1                 0                2                  2                  2                  0                 2        0.500000           0.500000              30                1           2.7           2.89
1  KELDK01  56134390654900000     Female             24        [20 - 25)                  1  Husband or wife            0  Married/living together    Kalenjin                 2.0                  0.0          0            4        16.00000               1                1                 0                2                  2                  2                  0                 2        0.500000           0.500000              30                1           2.7           2.89
2  KELDK02  56134389503000000       Male             42        [40 - 45)                  1   Household head            1  Married/living together       Luhya                 1.0                  9.0          0            3        30.66667               0                0                 1                1                  3                  2                  0                 0        1.000000           0.000000              42                1           2.4           3.00
3  KELDK08  56134410709700000     Female             20        [20 - 25)                  1  Husband or wife            0  Married/living together    Kalenjin                 1.0                  0.0          0            3        16.66667               1                0                 0                1                  2                  2                  0                 2        0.666667           0.333333              26                1           2.2           2.24
4  KELDK08  56134410699600000       Male             26        [25 - 30)                  1   Household head            1  Married/living together       Luhya                 1.0                  0.0          0            3        16.66667               1                0                 0                1                  2                  2                  0                 2        0.666667           0.333333              26                1           2.2           2.24

## Merging:

In [114]:
cons_wb_go = cons.merge(wb_go, on = 'hh_ids', how = 'left')

In [115]:
cons_wb_go.head()

,m_ids_owner,hh_ids,con_pur_hh_meanptrx,con_pur_hh_sdptrx,con_pur_hh_minpti,con_pur_hh_meanpti,con_pur_hh_medpti,con_pur_hh_maxpti,con_pur_hh_meanpti_ALC,con_pur_hh_medpti_ALC,con_pur_hh_meanpti_CLN,con_pur_hh_medpti_CLN,con_pur_hh_meanpti_CLTH,con_pur_hh_medpti_CLTH,con_pur_hh_meanpti_COMM,con_pur_hh_medpti_COMM,con_pur_hh_meanpti_EDU,con_pur_hh_medpti_EDU,con_pur_hh_meanpti_ENRGY,con_pur_hh_medpti_ENRGY,con_pur_hh_meanpti_ENT,con_pur_hh_medpti_ENT,con_pur_hh_meanpti_FOOD,con_pur_hh_medpti_FOOD,con_pur_hh_meanpti_H20,con_pur_hh_medpti_H20,con_pur_hh_meanpti_HSNG,con_pur_hh_medpti_HSNG,con_pur_hh_meanpti_MED,con_pur_hh_medpti_MED,con_pur_hh_meanpti_OTH,con_pur_hh_medpti_OTH,con_pur_hh_meanpti_PERS,con_pur_hh_medpti_PERS,con_pur_hh_meanpti_REL,con_pur_hh_medpti_REL,con_pur_hh_meanpti_TRNSP,con_pur_hh_medpti_TRNSP,happiness,economically,relationships,confidence,police,doctor,unsafe,utilities,asset_taken,miss_app,miss_inc,romantic,hungry,school_sent
0,58134383397900000,KELDL02,107.9147,286.7984,3293,14372.27,15640.0,23670,204.5455,0.0,365.5454,200.0,292.7273,0,1071.81800,1050.0,873.6364,0.0,1162.2730,1170.0,0.0,0,6401.545,6590.0,40.90909,0.0,3090.909,3000.0,27.27273,0,14.09091,0.0,274.72730,286.0,64.54546,20.0,487.7273,550.0,3.863636,3.272727,4.227273,4.00,0.111111,0.000000,0.0,0.0,0.0,0.000000,0.055556,0.0,0.000000,0.000000
1,58134383535800000,KELDL02,107.9147,286.7984,3293,14372.27,15640.0,23670,204.5455,0.0,365.5454,200.0,292.7273,0,1071.81800,1050.0,873.6364,0.0,1162.2730,1170.0,0.0,0,6401.545,6590.0,40.90909,0.0,3090.909,3000.0,27.27273,0,14.09091,0.0,274.72730,286.0,64.54546,20.0,487.7273,550.0,3.863636,3.272727,4.227273,4.00,0.111111,0.000000,0.0,0.0,0.0,0.000000,0.055556,0.0,0.000000,0.000000
2,HH,KVIHC16,115.6588,345.8901,1070,5825.00,5470.0,15380,0.0000,0.0,119.0909,150.0,50.0000,0,72.72727,70.0,1145.4550,0.0,234.5455,230.0,0.0,0,3925.909,4040.0,0.00000,0.0,0.000,0.0,50.00000,0,27.27273,0.0,10.90909,0.0,15.45455,0.0,173.6364,60.0,3.600000,3.450000,4.000000,3.95,0.000000,0.157895,0.0,0.0,0.0,0.052632,0.052632,0.0,0.105263,0.272727
3,59134423954300000,KVIHC16,115.6588,345.8901,1070,5825.00,5470.0,15380,0.0000,0.0,119.0909,150.0,50.0000,0,72.72727,70.0,1145.4550,0.0,234.5455,230.0,0.0,0,3925.909,4040.0,0.00000,0.0,0.000,0.0,50.00000,0,27.27273,0.0,10.90909,0.0,15.45455,0.0,173.6364,60.0,3.600000,3.450000,4.000000,3.95,0.000000,0.157895,0.0,0.0,0.0,0.052632,0.052632,0.0,0.105263,0.272727
4,65134441430300000,KELDK21,1061.1900,4257.9390,1150,26529.75,17300.0,75020,0.0000,0.0,163.7500,75.0,275.0000,0,312.50000,275.0,14887.5000,475.0,228.3333,0.0,0.0,0,6521.667,5960.0,0.00000,0.0,0.000,0.0,16.66667,0,2018.50000,0.0,90.83334,0.0,816.66670,100.0,1198.3330,550.0,4.125000,3.875000,4.875000,4.75,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.166667,0.0,0.000000,0.100000

In [116]:
cons_wb_go.shape

(670, 52)

In [117]:
cons_wb_go_edu = cons_wb_go.merge(edu, left_on  = ['m_ids_owner', 'hh_ids'], right_on=['m_ids', 'hh_ids'], how = 'outer')

In [118]:
cons_wb_go_edu.shape

(670, 63)

In [119]:
cons_wb_go_edu.sort_values('hh_ids').head()

,m_ids_owner,hh_ids,con_pur_hh_meanptrx,con_pur_hh_sdptrx,con_pur_hh_minpti,con_pur_hh_meanpti,con_pur_hh_medpti,con_pur_hh_maxpti,con_pur_hh_meanpti_ALC,con_pur_hh_medpti_ALC,con_pur_hh_meanpti_CLN,con_pur_hh_medpti_CLN,con_pur_hh_meanpti_CLTH,con_pur_hh_medpti_CLTH,con_pur_hh_meanpti_COMM,con_pur_hh_medpti_COMM,con_pur_hh_meanpti_EDU,con_pur_hh_medpti_EDU,con_pur_hh_meanpti_ENRGY,con_pur_hh_medpti_ENRGY,con_pur_hh_meanpti_ENT,con_pur_hh_medpti_ENT,con_pur_hh_meanpti_FOOD,con_pur_hh_medpti_FOOD,con_pur_hh_meanpti_H20,con_pur_hh_medpti_H20,con_pur_hh_meanpti_HSNG,con_pur_hh_medpti_HSNG,con_pur_hh_meanpti_MED,con_pur_hh_medpti_MED,con_pur_hh_meanpti_OTH,con_pur_hh_medpti_OTH,con_pur_hh_meanpti_PERS,con_pur_hh_medpti_PERS,con_pur_hh_meanpti_REL,con_pur_hh_medpti_REL,con_pur_hh_meanpti_TRNSP,con_pur_hh_medpti_TRNSP,happiness,economically,relationships,confidence,police,doctor,unsafe,utilities,asset_taken,miss_app,miss_inc,romantic,hungry,school_sent,m_ids,edu_i_enrolled,edu_i_attain,edu_i_attain_yrs,edu_hh_child613inschool,edu_hh_child1417inschool,edu_hh_girls613inschool,edu_hh_girls1417inschool,edu_hh_boys613inschool,edu_hh_boys1417inschool,edu_hh_headattain_yrs
209,56134390654900000,KELDK01,83.46289,228.754,1470,7122.167,8805.0,10055,0.0,0.0,110.83330,95.0,496.66670,250,274.16670,175.0,218.3333,20.0,835.25000,895.0,0.0,0,3851.083,4777.5,91.66666,30.0,525.0,600.0,109.16670,0,132.5,0.0,183.33330,150.0,81.666660,0.0,212.50000,0.0,4.045455,3.863636,4.863636,4.681818,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.071429,56134390654900000,0.0,Secondary (some or complete),10.0,1.0,NaN,1.0,NaN,NaN,NaN,8.0
208,56134390476100000,KELDK01,83.46289,228.754,1470,7122.167,8805.0,10055,0.0,0.0,110.83330,95.0,496.66670,250,274.16670,175.0,218.3333,20.0,835.25000,895.0,0.0,0,3851.083,4777.5,91.66666,30.0,525.0,600.0,109.16670,0,132.5,0.0,183.33330,150.0,81.666660,0.0,212.50000,0.0,4.045455,3.863636,4.863636,4.681818,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.071429,56134390476100000,0.0,Primary (some or complete),8.0,1.0,NaN,1.0,NaN,NaN,NaN,8.0
10,56134389503000000,KELDK02,321.83330,1245.083,5815,12873.330,10665.0,31300,0.0,0.0,180.41670,207.5,905.00000,200,304.16670,200.0,3771.6670,0.0,1712.91700,1000.0,0.0,0,4319.167,4685.0,0.00000,0.0,250.0,0.0,170.00000,0,0.0,0.0,36.66667,0.0,475.000000,200.0,748.33330,715.0,4.105263,3.947368,4.842105,4.736842,0.0,0.0,0.076923,0.0,0.0,0.0,0.153846,0.0,0.000000,0.111111,56134389503000000,0.0,Primary (some or complete),8.0,NaN,1.0,NaN,1.0,NaN,NaN,8.0
164,56134410699600000,KELDK08,47.59043,142.991,800,3137.308,2890.0,4590,0.0,0.0,90.76923,100.0,84.61539,0,38.46154,30.0,518.4615,500.0,54.23077,30.0,0.0,0,2234.615,2145.0,0.00000,0.0,0.0,0.0,20.76923,0,0.0,0.0,33.84615,0.0,8.461538,0.0,53.07692,0.0,4.038462,3.653846,4.730769,4.884615,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.058824,0.142857,56134410699600000,0.0,Primary (some or complete),5.0,0.0,NaN,NaN,NaN,0.0,NaN,5.0
163,56134410709700000,KELDK08,47.59043,142.991,800,3137.308,2890.0,4590,0.0,0.0,90.76923,100.0,84.61539,0,38.46154,30.0,518.4615,500.0,54.23077,30.0,0.0,0,2234.615,2145.0,0.00000,0.0,0.0,0.0,20.76923,0,0.0,0.0,33.84615,0.0,8.461538,0.0,53.07692,0.0,4.038462,3.653846,4.730769,4.884615,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.058824,0.142857,56134410709700000,0.0,Primary (some or complete),8.0,0.0,NaN,NaN,NaN,0.0,NaN,5.0

In [120]:
cons_wb_go_edu = cons_wb_go_edu.loc[cons_wb_go_edu['m_ids_owner'].isin(keep_ids_list)]

In [121]:
cons_wb_go_edu.shape

(670, 63)

In [122]:
len(cons_wb_go_edu.m_ids_owner.unique())

670

In [123]:
inc = inc.loc[inc['m_ids_owner'].isin(keep_ids_list)]

In [124]:
inc.shape

(582, 23)

In [125]:
len(inc.m_ids_owner.unique())

582

In [126]:
cons_wb_go_edu_demos = cons_wb_go_edu.merge(demos, left_on  = ['m_ids_owner', 'hh_ids'], right_on =['m_ids', 'hh_ids'], how = 'outer')

In [127]:
# cons_wb_go_edu_demos = cons_wb_go_edu.merge(demos, on  = ['m_ids_owner', 'hh_ids'], how = 'outer')

In [128]:
cons_wb_go_edu_demos.shape

(670, 91)

In [129]:
cons_wb_go_edu_demos.to_csv('cons_wb_go_edu_demos.csv', index = False)

## Adding income & housing/poverty

In [130]:
cons_wb_go_edu_demos_inc = cons_wb_go_edu_demos.merge(inc, on = ['m_ids_owner', 'hh_ids'], how = 'left')

In [131]:
cons_wb_go_edu_demos_inc.shape

(670, 112)

In [132]:
cons_wb_go_edu_demos_inc.head()

,m_ids_owner,hh_ids,con_pur_hh_meanptrx,con_pur_hh_sdptrx,con_pur_hh_minpti,con_pur_hh_meanpti,con_pur_hh_medpti,con_pur_hh_maxpti,con_pur_hh_meanpti_ALC,con_pur_hh_medpti_ALC,con_pur_hh_meanpti_CLN,con_pur_hh_medpti_CLN,con_pur_hh_meanpti_CLTH,con_pur_hh_medpti_CLTH,con_pur_hh_meanpti_COMM,con_pur_hh_medpti_COMM,con_pur_hh_meanpti_EDU,con_pur_hh_medpti_EDU,con_pur_hh_meanpti_ENRGY,con_pur_hh_medpti_ENRGY,con_pur_hh_meanpti_ENT,con_pur_hh_medpti_ENT,con_pur_hh_meanpti_FOOD,con_pur_hh_medpti_FOOD,con_pur_hh_meanpti_H20,con_pur_hh_medpti_H20,con_pur_hh_meanpti_HSNG,con_pur_hh_medpti_HSNG,con_pur_hh_meanpti_MED,con_pur_hh_medpti_MED,con_pur_hh_meanpti_OTH,con_pur_hh_medpti_OTH,con_pur_hh_meanpti_PERS,con_pur_hh_medpti_PERS,con_pur_hh_meanpti_REL,con_pur_hh_medpti_REL,con_pur_hh_meanpti_TRNSP,con_pur_hh_medpti_TRNSP,happiness,economically,relationships,confidence,police,doctor,unsafe,utilities,asset_taken,miss_app,miss_inc,romantic,hungry,school_sent,m_ids_x,edu_i_enrolled,edu_i_attain,edu_i_attain_yrs,edu_hh_child613inschool,edu_hh_child1417inschool,edu_hh_girls613inschool,edu_hh_girls1417inschool,edu_hh_boys613inschool,edu_hh_boys1417inschool,edu_hh_headattain_yrs,m_ids_y,dem_i_male,dem_i_age_yrs,dem_i_age_5yrgrp,dem_i_age_workage,dem_i_relhead,dem_i_hhead,dem_i_marstat,dem_i_tribe,dem_i_children_tot,dem_i_children_inhh,dem_urban,dem_hh_size,dem_hh_meanage,dem_hh_ages0_4,dem_hh_ages5_14,dem_hh_ages15_17,dem_hh_ages0_17,dem_hh_ages15plus,dem_hh_ages18plus,dem_hh_ages65plus,dem_hh_ages20_30,dem_hh_workage,dem_hh_dependents,dem_hh_agehead,dem_hh_malehead,dem_pae_oecd,dem_pae_kihbs,Unnamed: 0,hh_income,hh_income_only,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom
0,58134383397900000,KELDL02,107.9147,286.7984,3293,14372.27,15640.0,23670,204.5455,0.0,365.5454,200.0,292.7273,0,1071.81800,1050.0,873.6364,0.0,1162.2730,1170.0,0.0,0,6401.545,6590.0,40.90909,0.0,3090.909,3000.0,27.27273,0,14.09091,0.0,274.72730,286.0,64.54546,20.0,487.7273,550.0,3.863636,3.272727,4.227273,4.00,0.111111,0.000000,0.0,0.0,0.0,0.000000,0.055556,0.0,0.000000,0.000000,58134383397900000,0.0,Secondary (some or complete),12.0,NaN,NaN,NaN,NaN,NaN,NaN,12.0,58134383397900000,Male,27.0,[25 - 30),1.0,Household head,1.0,Married/living together,Luo,2.0,0.0,1.0,4.0,14.00,2.0,0.0,0.0,2.0,2.0,2.0,0.0,2.0,0.50,0.50,27.0,1.0,2.7,2.48,55.0,0.0,0.0,2.0,51.764710,158.128300,63.76363,278.823500,0.000000,0.0000,145.8289,49.97194,0.0,0.0,0.00000,0.00000,12.299470,21.119950,0.0,0.0,CITMPC
1,58134383535800000,KELDL02,107.9147,286.7984,3293,14372.27,15640.0,23670,204.5455,0.0,365.5454,200.0,292.7273,0,1071.81800,1050.0,873.6364,0.0,1162.2730,1170.0,0.0,0,6401.545,6590.0,40.90909,0.0,3090.909,3000.0,27.27273,0,14.09091,0.0,274.72730,286.0,64.54546,20.0,487.7273,550.0,3.863636,3.272727,4.227273,4.00,0.111111,0.000000,0.0,0.0,0.0,0.000000,0.055556,0.0,0.000000,0.000000,58134383535800000,0.0,Post-secondary (some or complete),13.0,NaN,NaN,NaN,NaN,NaN,NaN,12.0,58134383535800000,Female,26.0,[25 - 30),1.0,Husband or wife,0.0,Married/living together,Luhya,2.0,0.0,1.0,4.0,14.00,2.0,0.0,0.0,2.0,2.0,2.0,0.0,2.0,0.50,0.50,27.0,1.0,2.7,2.48,56.0,0.0,0.0,2.0,1.176471,59.215690,58.23628,117.647100,0.000000,0.0000,0.0000,0.00000,0.0,0.0,58.82353,58.82353,0.392157,0.679236,0.0,0.0,REI
2,HH,KVIHC16,115.6588,345.8901,1070,5825.00,5470.0,15380,0.0000,0.0,119.0909,150.0,50.0000,0,72.72727,70.0,1145.4550,0.0,234.5455,230.0,0.0,0,3925.909,4040.0,0.00000,0.0,0.000,0.0,50.00000,0,27.27273,0.0,10.90909,0.0,15.45455,0.0,173.6364,60.0,3.600000,3.450000,4.000000,3.95,0.000000,0.157895,0.0,0.0,0.0,0.052632,0.052632,0.0,0.105263,0.272727,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,59134423954300000,KVIHC16,115.6588,345.8901,1070,5825.00,5470.0,15380,0.0000,0.0,119.0909,150.0,50.0000,0,72.72727,70.0,1145.4550,0.0,234.5455,230.0,0.0,0,3925.909,4040.0,0.00000,0.0,0.000,0.0,50.00000,0,27.27273,0.0,10.90909,0.0,15.45455,0.0,173.6364,60.0,3.600000,3.450000,4.000000,3.95,0.000000,0.157895,0.0,0.0,0.0,0.052632,0.052632,0.0,0.105263,0.272727,59134423954300000,0.0,Primary (some or complete),8.0,1.0,1.0,1.0,1.0,NaN,1.0,8.0,59134423954300000,Female,39.0,[35 - 40),1.0,Household head,1.0,Married/living together,Luo,NaN,NaN,0.0,5.0,18.20,0.0,3.0,1.0,4.0,2.0,1.0,0.0,0.0,0.40,0.60,39.0,0.0,3.2,3.95,466.0,0.0,0.0,1.0,0.352941,0.352941,NaN,0.352941,0.352941,NaN,0.0000,NaN,0.0,NaN,0.00000,NaN,0.000000,NaN,0.0,NaN,AGRI
4,65134441430300000,KELDK21,1061.1900,4257.9390,1150,26529.75,17300.0,75020,0.0000,0.0,163.7500,75.0,275.0000,0,312.50000,275.0,14887.5000,475.0,228.3333,0.0,0.0,0,6521.667,5960.0,0.00000,0.0,0.000,0.0,16.66667,0,2018.50000,0.0,90.83334,0.0,816.66670,100.0,1198.3330,550.0,4.125000,3.875000,4.875000,4.75,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.166667,0.0,0.000000,0.100000,65134441430300000,0.0,Secondary (some or complete),10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65134441430300000,Female,51.0,[50 - 55),1.0,Husband or wife,0.0,Married/living together,Kalenjin,1.0,8.0,0.0,4.0,54.25,0.0,0.0,0.0,0.0,4.0,4.0,1.0,1.0,0.75,0.25,56.0,1.0,3.1,4.00,24.0,0.0,0.0,1.0,-33.764710,16.877010,22.78270,40.000000,16.877010,22.7827,0.0000,0.00000,0.0,0.0,0.00000,0.00000,0.000000,0.000000,0.0,0.0,AGRI

In [133]:
cons_wb_go_edu_demos_inc.to_csv('cons_wb_go_edu_demos_inc.csv', index = False)

## Here we will add pov hou and rem when Dinara is through:

In [134]:
len([x for x in pov_rem.m_ids_owner if str(x) in list(cons_wb_go_edu_demos_inc.m_ids_owner)])

670

In [135]:
len(pov_rem.m_ids_owner.unique())

670

In [136]:
pov_rem.head()

    hh_ids        m_ids_owner  inc_hh_medianpti  con_pur_hh_medpti  con_prod_hh_medpti  dem_urban  dem_hh_size  dem_pae_oecd  dem_pae_kihbs  con_hh_medpti  inc_hh_pti_pae_oecd  con_hh_pti_pae_oecd  inc_hh_pti_pae_kihbs  con_hh_pti_pae_kihbs  inc_below_85_kes_oecd  con_below_85_kes_oecd  inc_below_85_kes_kihbs  con_below_85_kes_kihbs  inc_below_170_kes_oecd  con_below_170_kes_oecd  inc_below_170_kes_kihbs  con_below_170_kes_kihbs  inc_below_425_kes_oecd  con_below_425_kes_oecd  inc_below_425_kes_kihbs  con_below_425_kes_kihbs
0  KELDL02  58134383397900000           14500.0            15640.0             0.00000          1            4           2.7           2.48      15640.000            176.07770            189.92110             191.69750             206.76890                      0                      0                       0                       0                       0                       0                        0                        0                       1                       1                        1                        1
1  KVIHC16                 HH            5345.0             5470.0           102.85710          0            5           3.2           3.95       5572.857             54.76434             57.09894              44.36605              46.25737                      1                      1                       1                       1                       1                       1                        1                        1                       1                       1                        1                        1
2  KELDK21  65134441430300000           41606.0            17300.0          1120.64300          0            4           3.1           4.00      18420.640            440.04230            194.82440             341.03280             150.98890                      0                      0                       0                       0                       0                       0                        0                        1                       0                       1                        1                        1
3  KMOMT22  61134425330400000            8225.0            10564.0           296.85710          0            7           4.2           4.43      10860.860             64.20766             84.78422              60.87407              80.38232                      1                      1                       1                       1                       1                       1                        1                        1                       1                       1                        1                        1
4  KVIHK22  60134423749000000            5350.0             4010.0            18.57143          0            7           4.6           5.54       4028.572             38.13257             28.71398              31.66243              23.84193                      1                      1                       1                       1                       1                       1                        1                        1                       1                       1                        1                        1

In [137]:
pov_rem.shape

(670, 26)

In [138]:
pov_rem.m_ids_owner.value_counts().head(10)

60134397957600000     1
61135788782700000     1
64134400263200000     1
64134398420500000     1
63134363615400000     1
105136582937000000    1
64134373843900000     1
61134381869100000     1
59134327942800000     1
65134441422200000     1
Name: m_ids_owner, dtype: int64

In [141]:
cons_wb_go_edu_demos_inc_pov_rem = cons_wb_go_edu_demos_inc.merge(pov_rem, on = ["m_ids_owner", 'hh_ids'],  how = 'left')

In [142]:
cons_wb_go_edu_demos_inc_pov_rem.shape

(670, 136)

In [143]:
cons_wb_go_edu_demos_inc_pov_rem.head()

,m_ids_owner,hh_ids,con_pur_hh_meanptrx,con_pur_hh_sdptrx,con_pur_hh_minpti,con_pur_hh_meanpti,con_pur_hh_medpti_x,con_pur_hh_maxpti,con_pur_hh_meanpti_ALC,con_pur_hh_medpti_ALC,con_pur_hh_meanpti_CLN,con_pur_hh_medpti_CLN,con_pur_hh_meanpti_CLTH,con_pur_hh_medpti_CLTH,con_pur_hh_meanpti_COMM,con_pur_hh_medpti_COMM,con_pur_hh_meanpti_EDU,con_pur_hh_medpti_EDU,con_pur_hh_meanpti_ENRGY,con_pur_hh_medpti_ENRGY,con_pur_hh_meanpti_ENT,con_pur_hh_medpti_ENT,con_pur_hh_meanpti_FOOD,con_pur_hh_medpti_FOOD,con_pur_hh_meanpti_H20,con_pur_hh_medpti_H20,con_pur_hh_meanpti_HSNG,con_pur_hh_medpti_HSNG,con_pur_hh_meanpti_MED,con_pur_hh_medpti_MED,con_pur_hh_meanpti_OTH,con_pur_hh_medpti_OTH,con_pur_hh_meanpti_PERS,con_pur_hh_medpti_PERS,con_pur_hh_meanpti_REL,con_pur_hh_medpti_REL,con_pur_hh_meanpti_TRNSP,con_pur_hh_medpti_TRNSP,happiness,economically,relationships,confidence,police,doctor,unsafe,utilities,asset_taken,miss_app,miss_inc,romantic,hungry,school_sent,m_ids_x,edu_i_enrolled,edu_i_attain,edu_i_attain_yrs,edu_hh_child613inschool,edu_hh_child1417inschool,edu_hh_girls613inschool,edu_hh_girls1417inschool,edu_hh_boys613inschool,edu_hh_boys1417inschool,edu_hh_headattain_yrs,m_ids_y,dem_i_male,dem_i_age_yrs,dem_i_age_5yrgrp,dem_i_age_workage,dem_i_relhead,dem_i_hhead,dem_i_marstat,dem_i_tribe,dem_i_children_tot,dem_i_children_inhh,dem_urban_x,dem_hh_size_x,dem_hh_meanage,dem_hh_ages0_4,dem_hh_ages5_14,dem_hh_ages15_17,dem_hh_ages0_17,dem_hh_ages15plus,dem_hh_ages18plus,dem_hh_ages65plus,dem_hh_ages20_30,dem_hh_workage,dem_hh_dependents,dem_hh_agehead,dem_hh_malehead,dem_pae_oecd_x,dem_pae_kihbs_x,Unnamed: 0,hh_income,hh_income_only,inc_i_unique_sources,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_maxpti,inc_i_meanpti_AGRI,inc_i_sdpti_AGRI,inc_i_meanpti_CITMPC,inc_i_sdpti_CITMPC,inc_i_meanpti_NEINCG,inc_i_sdpti_NEINCG,inc_i_meanpti_REI,inc_i_sdpti_REI,inc_i_meanpti_RIOI,inc_i_sdpti_RIOI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_dom,inc_hh_medianpti,con_pur_hh_medpti_y,con_prod_hh_medpti,dem_urban_y,dem_hh_size_y,dem_pae_oecd_y,dem_pae_kihbs_y,con_hh_medpti,inc_hh_pti_pae_oecd,con_hh_pti_pae_oecd,inc_hh_pti_pae_kihbs,con_hh_pti_pae_kihbs,inc_below_85_kes_oecd,con_below_85_kes_oecd,inc_below_85_kes_kihbs,con_below_85_kes_kihbs,inc_below_170_kes_oecd,con_below_170_kes_oecd,inc_below_170_kes_kihbs,con_below_170_kes_kihbs,inc_below_425_kes_oecd,con_below_425_kes_oecd,inc_below_425_kes_kihbs,con_below_425_kes_kihbs
0,58134383397900000,KELDL02,107.9147,286.7984,3293,14372.27,15640.0,23670,204.5455,0.0,365.5454,200.0,292.7273,0,1071.81800,1050.0,873.6364,0.0,1162.2730,1170.0,0.0,0,6401.545,6590.0,40.90909,0.0,3090.909,3000.0,27.27273,0,14.09091,0.0,274.72730,286.0,64.54546,20.0,487.7273,550.0,3.863636,3.272727,4.227273,4.00,0.111111,0.000000,0.0,0.0,0.0,0.000000,0.055556,0.0,0.000000,0.000000,58134383397900000,0.0,Secondary (some or complete),12.0,NaN,NaN,NaN,NaN,NaN,NaN,12.0,58134383397900000,Male,27.0,[25 - 30),1.0,Household head,1.0,Married/living together,Luo,2.0,0.0,1.0,4.0,14.00,2.0,0.0,0.0,2.0,2.0,2.0,0.0,2.0,0.50,0.50,27.0,1.0,2.7,2.48,55.0,0.0,0.0,2.0,51.764710,158.128300,63.76363,278.823500,0.000000,0.0000,145.8289,49.97194,0.0,0.0,0.00000,0.00000,12.299470,21.119950,0.0,0.0,CITMPC,14500.0,15640.0,0.0000,1,4,2.7,2.48,15640.000,176.07770,189.92110,191.69750,206.76890,0,0,0,0,0,0,0,0,1,1,1,1
1,58134383535800000,KELDL02,107.9147,286.7984,3293,14372.27,15640.0,23670,204.5455,0.0,365.5454,200.0,292.7273,0,1071.81800,1050.0,873.6364,0.0,1162.2730,1170.0,0.0,0,6401.545,6590.0,40.90909,0.0,3090.909,3000.0,27.27273,0,14.09091,0.0,274.72730,286.0,64.54546,20.0,487.7273,550.0,3.863636,3.272727,4.227273,4.00,0.111111,0.000000,0.0,0.0,0.0,0.000000,0.055556,0.0,0.000000,0.000000,58134383535800000,0.0,Post-secondary (some or complete),13.0,NaN,NaN,NaN,NaN,NaN,NaN,12.0,58134383535800000,Female,26.0,[25 - 30),1.0,Husband or wife,0.0,Married/living together,Luhya,2.0,0.0,1.0,4.0,14.00,2.0,0.0,0.0,2.0,2.0,2.0,0.0,2.0,0.50,0.50,27.0,1.0,2.7,2.48,56.0,0.0,0.0,2.0,1.176471,59.215690,58.23628,117.647100,0.000000,0.0000,0.0000,0.00000,0.0,0.0,58.82353,58.82353,0.392157,0.679236,0.0,0.0,REI,14500.0,15640.0,0.0000,1,4,2.7,2.48,15640.000,176.07770,189.92110,191.69750,206.76890,0,0,0,0,0,0,0,0,1,1,1,1
2,HH,KVIHC16,115.6588,345.8901,1070,5825.00,5470.0,15380,0.0000,0.0,119.0909,150.0,50.0000,0,72.72727,70.0,1145.4550,0.0,234.5455,230.0,0.0,0,3925.909,4040.0,0.00000,0.0,0.000,0.0,50.00000,0,27.27273,0.0,10.90909,0.0,15.45455,0.0,173.6364,60.0,3.600000,3.450000,4.000000,3.95,0.000000,0.157895,0.0,0.0,0.0,0.052632,0.052632,0.0,0.105263,0.272727,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5345.0,5470.0,102.8571,0,5,3.2,3.95,5572.857,54.76434,57.09894,44.36605,46.25737,1,1,1,1,1,1,1,1,1,1,1,1
3,59134423954300000,KVIHC16,115.6588,345.8901,1070,5825.00,5470.0,15380,0.0000,0.0,119.0909,150.0,50.0000,0,72.72727,70.0,1145.4550,0.0,234.5455,230.0,0.0,0,3925.909,4040.0,0.00000,0.0,0.000,0.0,50.00000,0,27.27273,0.0,10.90909,0.0,15.45455,0.0,173.6364,60.0,3.600000,3.450000,4.000000,3.95,0.000000,0.157895,0.0,0.0,0.0,0.052632,0.052632,0.0,0.105263,0.272727,59134423954300000,0.0,Primary (some or complete),8.0,1.0,1.0,1.0,1.0,NaN,1.0,8.0,59134423954300000,Female,39.0,[35 - 40),1.0,Household head,1.0,Married/living together,Luo,NaN,NaN,0.0,5.0,18.20,0.0,3.0,1.0,4.0,2.0,1.0,0.0,0.0,0.40,0.60,39.0,0.0,3.2,3.95,466.0,0.0,0.0,1.0,0.352941,0.352941,NaN,0.352941,0.352941,NaN,0.0000,NaN,0.0,NaN,0.00000,NaN,0.000000,NaN,0.0,NaN,AGRI,5345.0,5470.0,102.8571,0,5,3.2,3.95,5572.857,54.76434,57.09894,44.36605,46.25737,1,1,1,1,1,1,1,1,1,1,1,1
4,65134441430300000,KELDK21,1061.1900,4257.9390,1150,26529.75,17300.0,75020,0.0000,0.0,163.7500,75.0,275.0000,0,312.50000,275.0,14887.5000,475.0,228.3333,0.0,0.0,0,6521.667,5960.0,0.00000,0.0,0.000,0.0,16.66667,0,2018.50000,0.0,90.83334,0.0,816.66670,100.0,1198.3330,550.0,4.125000,3.875000,4.875000,4.75,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.166667,0.0,0.000000,0.100000,65134441430300000,0.0,Secondary (some or complete),10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65134441430300000,Female,51.0,[50 - 55),1.0,Husband or wife,0.0,Married/living together,Kalenjin,1.0,8.0,0.0,4.0,54.25,0.0,0.0,0.0,0.0,4.0,4.0,1.0,1.0,0.75,0.25,56.0,1.0,3.1,4.00,24.0,0.0,0.0,1.0,-33.764710,16.877010,22.78270,40.000000,16.877010,22.7827,0.0000,0.00000,0.0,0.0,0.00000,0.00000,0.000000,0.000000,0.0,0.0,AGRI,41606.0,17300.0,1120.6430,0,4,3.1,4.00,18420.640,440.04230,194.82440,341.03280,150.98890,0,0,0,0,0,0,0,1,0,1,1,1

In [144]:
[x for x in list(cons_wb_go_edu_demos_inc_pov_rem.columns) if 'm_ids' in x]

['m_ids_owner', 'm_ids_x', 'm_ids_y']

In [145]:
cons_wb_go_edu_demos_inc_pov_hou_rem = cons_wb_go_edu_demos_inc_pov_rem.drop(['m_ids_x', 'm_ids_y'], axis = 1)

In [146]:
cons_wb_go_edu_demos_inc_pov_hou_rem.shape

(670, 134)

In [147]:
cons_wb_go_edu_demos_inc_pov_rem.to_csv('cons_wb_go_edu_demos_inc_pov_rem.csv', index = False)