In [52]:
import os
import pandas as pd 
import glob
from collections import Counter

In [33]:
glob.glob('*.csv')

['edu_hh_ind_merge.csv',
 'wellbeing_goingson.csv',
 'goingson.csv',
 'wellbeing.csv',
 'combination_wellbeing_goingson_cons_outcome.csv',
 'consumption_mapped_to_m_ids.csv']

In [98]:
cons = pd.read_csv('consumption_mapped_to_m_ids.csv', dtype={'m_ids_owner': object})
wb_go = pd.read_csv('wellbeing_goingson.csv')
edu = pd.read_csv('edu_hh_ind_merge.csv', index_col = 0, dtype={'m_ids': object})
inc = pd.read_csv('../aux_data/inc_ind_over_trx_yr_mo_kes_excRR.csv', dtype={'m_ids_owner': object})
trx = pd.read_csv('../diaries_transactions_all.csv', low_memory = False, dtype={'m_ids_owner': object})

In [132]:
demos = pd.read_csv('demos_merged.csv', dtype={'m_ids': object})

In [99]:
## we only want to keep IDs that are present in our main transaction datasets anyway
keep_ids_list = list(trx.m_ids_owner.unique())

In [133]:
print(cons.shape)
print(wb_go.shape)
print(edu.shape)
print(inc.shape)
print(demos.shape)

(670, 38)
(298, 15)
(669, 12)
(631, 48)
(669, 29)

In [136]:
cons = cons.loc[cons['m_ids_owner'].isin(keep_ids_list)]
edu = edu.loc[edu['m_ids'].isin(keep_ids_list)]
demos = demos.loc[demos['m_ids'].isin(keep_ids_list)]
inc = inc.drop_duplicates()

In [137]:
print(cons.shape)
print(wb_go.shape)
print(edu.shape)
print(inc.shape)
print(demos.shape)

(670, 38)
(298, 15)
(669, 12)
(631, 48)
(669, 29)

In [138]:
inc.head()

,hh_ids,m_ids_owner,inc_i_unique_sources,inc_i_meanptrx,inc_i_sdptrx,inc_i_minpti,inc_i_meanpti,inc_i_sdpti,inc_i_medianpti,inc_i_iqrpti,...,inc_i_sdpti_RIOI,inc_i_medianpti_RIOI,inc_i_iqrpti_RIOI,inc_i_meanptrx_SEI,inc_i_sdptrx_SEI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_medianpti_SEI,inc_i_iqrpti_SEI,inc_i_dom
0,KELDK01,56134390476100000,2,674.2168,1434.649,1500,8764.818,3030.288,9900.0,2775.0,...,0.0,0.0,0.0,NaN,NaN,0.00,0.00,0.0,0.0,REI
1,KELDK02,56134389503000000,1,990.6321,18987.680,-130000,30296.830,88198.580,35472.5,93375.0,...,0.0,0.0,0.0,990.6321,18987.68,30296.83,88198.58,35472.5,93375.0,SEI
2,KELDK08,56134410699600000,2,1093.3330,1206.583,200,2551.111,1486.905,3200.0,1900.0,...,0.0,0.0,0.0,NaN,NaN,0.00,0.00,0.0,0.0,REI
3,KELDK08,56134410709700000,2,855.0333,1244.783,320,2137.583,1218.182,2863.0,2175.0,...,0.0,0.0,0.0,NaN,NaN,0.00,0.00,0.0,0.0,REI
4,KELDK09,56134329944600000,2,358.5714,3433.930,-200,10496.360,11773.850,8400.0,18650.0,...,0.0,0.0,0.0,358.5714,3433.93,10496.36,11773.85,8400.0,18650.0,SEI

In [139]:
cons.head()

,m_ids_owner,hh_ids,con_pur_hh_meanptrx,con_pur_hh_sdptrx,con_pur_hh_minpti,con_pur_hh_meanpti,con_pur_hh_medpti,con_pur_hh_maxpti,con_pur_hh_meanpti_ALC,con_pur_hh_medpti_ALC,...,con_pur_hh_meanpti_MED,con_pur_hh_medpti_MED,con_pur_hh_meanpti_OTH,con_pur_hh_medpti_OTH,con_pur_hh_meanpti_PERS,con_pur_hh_medpti_PERS,con_pur_hh_meanpti_REL,con_pur_hh_medpti_REL,con_pur_hh_meanpti_TRNSP,con_pur_hh_medpti_TRNSP
0,58134383397900000,KELDL02,107.9147,286.7984,3293,14372.27,15640.0,23670,204.5455,0.0,...,27.27273,0,14.09091,0.0,274.72730,286.0,64.54546,20.0,487.7273,550.0
1,58134383535800000,KELDL02,107.9147,286.7984,3293,14372.27,15640.0,23670,204.5455,0.0,...,27.27273,0,14.09091,0.0,274.72730,286.0,64.54546,20.0,487.7273,550.0
2,HH,KVIHC16,115.6588,345.8901,1070,5825.00,5470.0,15380,0.0000,0.0,...,50.00000,0,27.27273,0.0,10.90909,0.0,15.45455,0.0,173.6364,60.0
3,59134423954300000,KVIHC16,115.6588,345.8901,1070,5825.00,5470.0,15380,0.0000,0.0,...,50.00000,0,27.27273,0.0,10.90909,0.0,15.45455,0.0,173.6364,60.0
4,65134441430300000,KELDK21,1061.1900,4257.9390,1150,26529.75,17300.0,75020,0.0000,0.0,...,16.66667,0,2018.50000,0.0,90.83334,0.0,816.66670,100.0,1198.3330,550.0

In [140]:
wb_go.head()

,hh_ids,happiness,economically,relationships,confidence,police,doctor,unsafe,utilities,asset_taken,miss_app,miss_inc,romantic,hungry,school_sent
0,KELDK01,4.045455,3.863636,4.863636,4.681818,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.071429
1,KELDK02,4.105263,3.947368,4.842105,4.736842,0.0,0.0,0.076923,0.0,0.0,0.0,0.153846,0.000000,0.000000,0.111111
2,KELDK08,4.038462,3.653846,4.730769,4.884615,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.058824,0.142857
3,KELDK09,4.052632,3.947368,4.947368,4.894737,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.071429
4,KELDK10,4.111111,4.000000,4.777778,4.944444,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.058824,0.000000,0.000000

In [141]:
edu.head()

,m_ids,hh_ids,edu_i_enrolled,edu_i_attain,edu_i_attain_yrs,edu_hh_child613inschool,edu_hh_child1417inschool,edu_hh_girls613inschool,edu_hh_girls1417inschool,edu_hh_boys613inschool,edu_hh_boys1417inschool,edu_hh_headattain_yrs
0,56134390476100000,KELDK01,0.0,Primary (some or complete),8.0,1.0,NaN,1.0,NaN,NaN,NaN,8.0
1,56134390654900000,KELDK01,0.0,Secondary (some or complete),10.0,1.0,NaN,1.0,NaN,NaN,NaN,8.0
2,56134389503000000,KELDK02,0.0,Primary (some or complete),8.0,NaN,1.0,NaN,1.0,NaN,NaN,8.0
3,56134410699600000,KELDK08,0.0,Primary (some or complete),5.0,0.0,NaN,NaN,NaN,0.0,NaN,5.0
4,56134410709700000,KELDK08,0.0,Primary (some or complete),8.0,0.0,NaN,NaN,NaN,0.0,NaN,5.0

In [142]:
demos.head()

,hh_ids,m_ids,dem_i_male,dem_i_age_yrs,dem_i_age_5yrgrp,dem_i_age_workage,dem_i_relhead,dem_i_hhead,dem_i_marstat,dem_i_tribe,...,dem_hh_ages15plus,dem_hh_ages18plus,dem_hh_ages65plus,dem_hh_ages20_30,dem_hh_workage,dem_hh_dependents,dem_hh_agehead,dem_hh_malehead,dem_pae_oecd,dem_pae_kihbs
0,KELDK01,56134390476100000,Male,30,[30 - 35),1,Household head,1,Married/living together,Kalenjin,...,2,2,0,2,0.500000,0.500000,30,1,2.7,2.89
1,KELDK01,56134390654900000,Female,24,[20 - 25),1,Husband or wife,0,Married/living together,Kalenjin,...,2,2,0,2,0.500000,0.500000,30,1,2.7,2.89
2,KELDK02,56134389503000000,Male,42,[40 - 45),1,Household head,1,Married/living together,Luhya,...,3,2,0,0,1.000000,0.000000,42,1,2.4,3.00
3,KELDK08,56134410709700000,Female,20,[20 - 25),1,Husband or wife,0,Married/living together,Kalenjin,...,2,2,0,2,0.666667,0.333333,26,1,2.2,2.24
4,KELDK08,56134410699600000,Male,26,[25 - 30),1,Household head,1,Married/living together,Luhya,...,2,2,0,2,0.666667,0.333333,26,1,2.2,2.24

## Merging:

In [143]:
cons_wb_go = cons.merge(wb_go, on = 'hh_ids', how = 'left')

In [144]:
cons_wb_go.head()

,m_ids_owner,hh_ids,con_pur_hh_meanptrx,con_pur_hh_sdptrx,con_pur_hh_minpti,con_pur_hh_meanpti,con_pur_hh_medpti,con_pur_hh_maxpti,con_pur_hh_meanpti_ALC,con_pur_hh_medpti_ALC,...,police,doctor,unsafe,utilities,asset_taken,miss_app,miss_inc,romantic,hungry,school_sent
0,58134383397900000,KELDL02,107.9147,286.7984,3293,14372.27,15640.0,23670,204.5455,0.0,...,0.111111,0.000000,0.0,0.0,0.0,0.000000,0.055556,0.0,0.000000,0.000000
1,58134383535800000,KELDL02,107.9147,286.7984,3293,14372.27,15640.0,23670,204.5455,0.0,...,0.111111,0.000000,0.0,0.0,0.0,0.000000,0.055556,0.0,0.000000,0.000000
2,HH,KVIHC16,115.6588,345.8901,1070,5825.00,5470.0,15380,0.0000,0.0,...,0.000000,0.157895,0.0,0.0,0.0,0.052632,0.052632,0.0,0.105263,0.272727
3,59134423954300000,KVIHC16,115.6588,345.8901,1070,5825.00,5470.0,15380,0.0000,0.0,...,0.000000,0.157895,0.0,0.0,0.0,0.052632,0.052632,0.0,0.105263,0.272727
4,65134441430300000,KELDK21,1061.1900,4257.9390,1150,26529.75,17300.0,75020,0.0000,0.0,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.166667,0.0,0.000000,0.100000

In [145]:
cons_wb_go.shape

(670, 52)

In [146]:
cons_wb_go_edu = cons_wb_go.merge(edu, left_on  = ['m_ids_owner', 'hh_ids'], right_on=['m_ids', 'hh_ids'], how = 'outer')

In [147]:
cons_wb_go_edu.shape

(670, 63)

In [148]:
cons_wb_go_edu.sort_values('hh_ids').head()

,m_ids_owner,hh_ids,con_pur_hh_meanptrx,con_pur_hh_sdptrx,con_pur_hh_minpti,con_pur_hh_meanpti,con_pur_hh_medpti,con_pur_hh_maxpti,con_pur_hh_meanpti_ALC,con_pur_hh_medpti_ALC,...,edu_i_enrolled,edu_i_attain,edu_i_attain_yrs,edu_hh_child613inschool,edu_hh_child1417inschool,edu_hh_girls613inschool,edu_hh_girls1417inschool,edu_hh_boys613inschool,edu_hh_boys1417inschool,edu_hh_headattain_yrs
209,56134390654900000,KELDK01,83.46289,228.754,1470,7122.167,8805.0,10055,0.0,0.0,...,0.0,Secondary (some or complete),10.0,1.0,NaN,1.0,NaN,NaN,NaN,8.0
208,56134390476100000,KELDK01,83.46289,228.754,1470,7122.167,8805.0,10055,0.0,0.0,...,0.0,Primary (some or complete),8.0,1.0,NaN,1.0,NaN,NaN,NaN,8.0
10,56134389503000000,KELDK02,321.83330,1245.083,5815,12873.330,10665.0,31300,0.0,0.0,...,0.0,Primary (some or complete),8.0,NaN,1.0,NaN,1.0,NaN,NaN,8.0
164,56134410699600000,KELDK08,47.59043,142.991,800,3137.308,2890.0,4590,0.0,0.0,...,0.0,Primary (some or complete),5.0,0.0,NaN,NaN,NaN,0.0,NaN,5.0
163,56134410709700000,KELDK08,47.59043,142.991,800,3137.308,2890.0,4590,0.0,0.0,...,0.0,Primary (some or complete),8.0,0.0,NaN,NaN,NaN,0.0,NaN,5.0

In [149]:
cons_wb_go_edu = cons_wb_go_edu.loc[cons_wb_go_edu['m_ids_owner'].isin(keep_ids_list)]

In [150]:
cons_wb_go_edu.shape

(670, 63)

In [151]:
len(cons_wb_go_edu.m_ids_owner.unique())

670

In [152]:
inc = inc.loc[inc['m_ids_owner'].isin(keep_ids_list)]

In [153]:
inc.shape

(631, 48)

In [154]:
len(inc.m_ids_owner.unique())

566

In [162]:
cons_wb_go_edu_demos = cons_wb_go_edu.merge(demos, left_on  = ['m_ids_owner', 'hh_ids'], right_on =['m_ids', 'hh_ids'], how = 'outer')

In [156]:
# cons_wb_go_edu_demos = cons_wb_go_edu.merge(demos, on  = ['m_ids_owner', 'hh_ids'], how = 'outer')

In [163]:
cons_wb_go_edu_demos.shape

(670, 91)

In [166]:
cons_wb_go_edu_demos.to_csv('cons_wb_go_edu_demos.csv', index = False)

## Will add in income data once it's summarized per-person.