In [4]:
import os
import pandas as pd 
import glob
from collections import Counter

In [5]:
glob.glob('*.csv')

['cons_wb_go_edu_demos.csv',
 'edu_hh_ind_merge.csv',
 'wellbeing_goingson.csv',
 'goingson.csv',
 'demos_merged.csv',
 'wellbeing.csv',
 'pov_hou_rem_merge.csv',
 'consumption_mapped_to_m_ids.csv']

In [22]:
trx = pd.read_csv('../diaries_transactions_all.csv', low_memory = False, dtype={'m_ids_owner': object})

In [135]:
cons = pd.read_csv('consumption_mapped_to_m_ids.csv', dtype={'m_ids_owner': object})
demos = pd.read_csv('demos_merged.csv',  dtype={'m_ids': object})
rem_hou_pov = pd.read_csv('pov_hou_rem_merge_rev1.csv',  dtype={'m_ids_owner': object}, index_col = 0)
wb_go = pd.read_csv('wellbeing_goingson.csv',  dtype={'hh_ids': object})
edu = pd.read_csv('edu_hh_ind_merge.csv', index_col = 0, dtype={'m_ids': object})
inc = pd.read_csv('income.csv', dtype={'m_ids_owner': object})

In [136]:
## we only want to keep IDs that are present in our main transaction datasets anyway
keep_ids_list = list(trx.m_ids_owner.unique())
keep_hh_list = list (trx.hh_ids.unique())

In [137]:
print(cons.shape)
print(demos.shape)
print(wb_go.shape)
print(rem_hou_pov.shape)
print(edu.shape)
print(inc.shape)
print(trx.shape)

(670, 38)
(669, 29)
(298, 15)
(457, 98)
(669, 12)
(643, 51)
(483949, 58)

In [138]:
cons = cons.loc[cons['m_ids_owner'].isin(keep_ids_list)]
edu = edu.loc[edu['m_ids'].isin(keep_ids_list)]
inc = inc.drop_duplicates()
rem_hou_pov = rem_hou_pov.loc[rem_hou_pov['m_ids_owner'].isin(keep_ids_list)]
wb_go = wb_go.loc[wb_go['hh_ids'].isin(keep_hh_list)]

In [139]:
demos = demos.loc[demos['m_ids'].isin(keep_ids_list)]

In [140]:
print(cons.shape)
print(wb_go.shape)
print(edu.shape)
print(inc.shape)
print(demos.shape)
print(rem_hou_pov.shape)

(670, 38)
(298, 15)
(669, 12)
(643, 51)
(669, 29)
(457, 98)

In [141]:
inc.head()

,Unnamed: 0,hh_ids,m_ids_owner,hh_income,hh_income_only,inc_i_unique_sources,inc_i_meanptrx,inc_i_sdptrx,inc_i_minpti,inc_i_meanpti,...,inc_i_sdpti_RIOI,inc_i_medianpti_RIOI,inc_i_iqrpti_RIOI,inc_i_meanptrx_SEI,inc_i_sdptrx_SEI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_medianpti_SEI,inc_i_iqrpti_SEI,inc_i_dom
0,0,KELDK01,56134390476100000,0.0,0.0,2.0,7.931962,16.87823,17.647060,103.11550,...,0.0,0.0,0.0,NaN,NaN,0.0000,0.0000,0.00000,0.0000,REI
1,1,KELDK02,56134389503000000,0.0,0.0,1.0,11.654500,223.38450,-1529.412000,356.43330,...,0.0,0.0,0.0,11.654500,223.38450,356.4333,1037.6300,417.32350,1098.5290,SEI
2,2,KELDK08,56134410699600000,0.0,0.0,2.0,12.862750,14.19510,2.352941,30.01307,...,0.0,0.0,0.0,NaN,NaN,0.0000,0.0000,0.00000,0.0000,REI
3,3,KELDK08,56134410709700000,0.0,0.0,2.0,10.059220,14.64451,3.764706,25.14804,...,0.0,0.0,0.0,NaN,NaN,0.0000,0.0000,0.00000,0.0000,REI
4,4,KELDK09,56134329944600000,0.0,0.0,1.0,4.218487,40.39918,-2.352941,123.48660,...,0.0,0.0,0.0,4.218487,40.39918,123.4866,138.5158,98.82353,219.4118,SEI

In [142]:
cons.head()

,m_ids_owner,hh_ids,con_pur_hh_meanptrx,con_pur_hh_sdptrx,con_pur_hh_minpti,con_pur_hh_meanpti,con_pur_hh_medpti,con_pur_hh_maxpti,con_pur_hh_meanpti_ALC,con_pur_hh_medpti_ALC,...,con_pur_hh_meanpti_MED,con_pur_hh_medpti_MED,con_pur_hh_meanpti_OTH,con_pur_hh_medpti_OTH,con_pur_hh_meanpti_PERS,con_pur_hh_medpti_PERS,con_pur_hh_meanpti_REL,con_pur_hh_medpti_REL,con_pur_hh_meanpti_TRNSP,con_pur_hh_medpti_TRNSP
0,58134383397900000,KELDL02,107.9147,286.7984,3293,14372.27,15640.0,23670,204.5455,0.0,...,27.27273,0,14.09091,0.0,274.72730,286.0,64.54546,20.0,487.7273,550.0
1,58134383535800000,KELDL02,107.9147,286.7984,3293,14372.27,15640.0,23670,204.5455,0.0,...,27.27273,0,14.09091,0.0,274.72730,286.0,64.54546,20.0,487.7273,550.0
2,HH,KVIHC16,115.6588,345.8901,1070,5825.00,5470.0,15380,0.0000,0.0,...,50.00000,0,27.27273,0.0,10.90909,0.0,15.45455,0.0,173.6364,60.0
3,59134423954300000,KVIHC16,115.6588,345.8901,1070,5825.00,5470.0,15380,0.0000,0.0,...,50.00000,0,27.27273,0.0,10.90909,0.0,15.45455,0.0,173.6364,60.0
4,65134441430300000,KELDK21,1061.1900,4257.9390,1150,26529.75,17300.0,75020,0.0000,0.0,...,16.66667,0,2018.50000,0.0,90.83334,0.0,816.66670,100.0,1198.3330,550.0

In [143]:
wb_go.head()

,hh_ids,happiness,economically,relationships,confidence,police,doctor,unsafe,utilities,asset_taken,miss_app,miss_inc,romantic,hungry,school_sent
0,KELDK01,4.045455,3.863636,4.863636,4.681818,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.071429
1,KELDK02,4.105263,3.947368,4.842105,4.736842,0.0,0.0,0.076923,0.0,0.0,0.0,0.153846,0.000000,0.000000,0.111111
2,KELDK08,4.038462,3.653846,4.730769,4.884615,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.058824,0.142857
3,KELDK09,4.052632,3.947368,4.947368,4.894737,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.071429
4,KELDK10,4.111111,4.000000,4.777778,4.944444,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.058824,0.000000,0.000000

In [144]:
edu.head()

,m_ids,hh_ids,edu_i_enrolled,edu_i_attain,edu_i_attain_yrs,edu_hh_child613inschool,edu_hh_child1417inschool,edu_hh_girls613inschool,edu_hh_girls1417inschool,edu_hh_boys613inschool,edu_hh_boys1417inschool,edu_hh_headattain_yrs
0,56134390476100000,KELDK01,0.0,Primary (some or complete),8.0,1.0,NaN,1.0,NaN,NaN,NaN,8.0
1,56134390654900000,KELDK01,0.0,Secondary (some or complete),10.0,1.0,NaN,1.0,NaN,NaN,NaN,8.0
2,56134389503000000,KELDK02,0.0,Primary (some or complete),8.0,NaN,1.0,NaN,1.0,NaN,NaN,8.0
3,56134410699600000,KELDK08,0.0,Primary (some or complete),5.0,0.0,NaN,NaN,NaN,0.0,NaN,5.0
4,56134410709700000,KELDK08,0.0,Primary (some or complete),8.0,0.0,NaN,NaN,NaN,0.0,NaN,5.0

In [145]:
demos.head()

,hh_ids,m_ids,dem_i_male,dem_i_age_yrs,dem_i_age_5yrgrp,dem_i_age_workage,dem_i_relhead,dem_i_hhead,dem_i_marstat,dem_i_tribe,...,dem_hh_ages15plus,dem_hh_ages18plus,dem_hh_ages65plus,dem_hh_ages20_30,dem_hh_workage,dem_hh_dependents,dem_hh_agehead,dem_hh_malehead,dem_pae_oecd,dem_pae_kihbs
0,KELDK01,56134390476100000,Male,30,[30 - 35),1,Household head,1,Married/living together,Kalenjin,...,2,2,0,2,0.500000,0.500000,30,1,2.7,2.89
1,KELDK01,56134390654900000,Female,24,[20 - 25),1,Husband or wife,0,Married/living together,Kalenjin,...,2,2,0,2,0.500000,0.500000,30,1,2.7,2.89
2,KELDK02,56134389503000000,Male,42,[40 - 45),1,Household head,1,Married/living together,Luhya,...,3,2,0,0,1.000000,0.000000,42,1,2.4,3.00
3,KELDK08,56134410709700000,Female,20,[20 - 25),1,Husband or wife,0,Married/living together,Kalenjin,...,2,2,0,2,0.666667,0.333333,26,1,2.2,2.24
4,KELDK08,56134410699600000,Male,26,[25 - 30),1,Household head,1,Married/living together,Luhya,...,2,2,0,2,0.666667,0.333333,26,1,2.2,2.24

## Merging:

In [146]:
cons_wb_go = cons.merge(wb_go, on = 'hh_ids', how = 'left')

In [147]:
cons_wb_go.head()

,m_ids_owner,hh_ids,con_pur_hh_meanptrx,con_pur_hh_sdptrx,con_pur_hh_minpti,con_pur_hh_meanpti,con_pur_hh_medpti,con_pur_hh_maxpti,con_pur_hh_meanpti_ALC,con_pur_hh_medpti_ALC,...,police,doctor,unsafe,utilities,asset_taken,miss_app,miss_inc,romantic,hungry,school_sent
0,58134383397900000,KELDL02,107.9147,286.7984,3293,14372.27,15640.0,23670,204.5455,0.0,...,0.111111,0.000000,0.0,0.0,0.0,0.000000,0.055556,0.0,0.000000,0.000000
1,58134383535800000,KELDL02,107.9147,286.7984,3293,14372.27,15640.0,23670,204.5455,0.0,...,0.111111,0.000000,0.0,0.0,0.0,0.000000,0.055556,0.0,0.000000,0.000000
2,HH,KVIHC16,115.6588,345.8901,1070,5825.00,5470.0,15380,0.0000,0.0,...,0.000000,0.157895,0.0,0.0,0.0,0.052632,0.052632,0.0,0.105263,0.272727
3,59134423954300000,KVIHC16,115.6588,345.8901,1070,5825.00,5470.0,15380,0.0000,0.0,...,0.000000,0.157895,0.0,0.0,0.0,0.052632,0.052632,0.0,0.105263,0.272727
4,65134441430300000,KELDK21,1061.1900,4257.9390,1150,26529.75,17300.0,75020,0.0000,0.0,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.166667,0.0,0.000000,0.100000

In [148]:
cons_wb_go.shape

(670, 52)

In [149]:
cons_wb_go_edu = cons_wb_go.merge(edu, left_on  = ['m_ids_owner', 'hh_ids'], right_on=['m_ids', 'hh_ids'], how = 'outer')

In [150]:
cons_wb_go_edu.shape

(670, 63)

In [151]:
cons_wb_go_edu.sort_values('hh_ids').head()

,m_ids_owner,hh_ids,con_pur_hh_meanptrx,con_pur_hh_sdptrx,con_pur_hh_minpti,con_pur_hh_meanpti,con_pur_hh_medpti,con_pur_hh_maxpti,con_pur_hh_meanpti_ALC,con_pur_hh_medpti_ALC,...,edu_i_enrolled,edu_i_attain,edu_i_attain_yrs,edu_hh_child613inschool,edu_hh_child1417inschool,edu_hh_girls613inschool,edu_hh_girls1417inschool,edu_hh_boys613inschool,edu_hh_boys1417inschool,edu_hh_headattain_yrs
209,56134390654900000,KELDK01,83.46289,228.754,1470,7122.167,8805.0,10055,0.0,0.0,...,0.0,Secondary (some or complete),10.0,1.0,NaN,1.0,NaN,NaN,NaN,8.0
208,56134390476100000,KELDK01,83.46289,228.754,1470,7122.167,8805.0,10055,0.0,0.0,...,0.0,Primary (some or complete),8.0,1.0,NaN,1.0,NaN,NaN,NaN,8.0
10,56134389503000000,KELDK02,321.83330,1245.083,5815,12873.330,10665.0,31300,0.0,0.0,...,0.0,Primary (some or complete),8.0,NaN,1.0,NaN,1.0,NaN,NaN,8.0
164,56134410699600000,KELDK08,47.59043,142.991,800,3137.308,2890.0,4590,0.0,0.0,...,0.0,Primary (some or complete),5.0,0.0,NaN,NaN,NaN,0.0,NaN,5.0
163,56134410709700000,KELDK08,47.59043,142.991,800,3137.308,2890.0,4590,0.0,0.0,...,0.0,Primary (some or complete),8.0,0.0,NaN,NaN,NaN,0.0,NaN,5.0

In [152]:
cons_wb_go_edu = cons_wb_go_edu.loc[cons_wb_go_edu['m_ids_owner'].isin(keep_ids_list)]

In [153]:
cons_wb_go_edu.shape

(670, 63)

In [154]:
len(cons_wb_go_edu.m_ids_owner.unique())

670

In [155]:
inc = inc.loc[inc['m_ids_owner'].isin(keep_ids_list)]

In [156]:
inc.shape

(582, 51)

In [157]:
len(inc.m_ids_owner.unique())

582

In [158]:
cons_wb_go_edu_demos = cons_wb_go_edu.merge(demos, left_on  = ['m_ids_owner', 'hh_ids'], right_on =['m_ids', 'hh_ids'], how = 'outer')

In [159]:
# cons_wb_go_edu_demos = cons_wb_go_edu.merge(demos, on  = ['m_ids_owner', 'hh_ids'], how = 'outer')

In [160]:
cons_wb_go_edu_demos.shape

(670, 91)

In [161]:
cons_wb_go_edu_demos.to_csv('cons_wb_go_edu_demos.csv', index = False)

## Adding income & housing/poverty

In [162]:
cons_wb_go_edu_demos_inc = cons_wb_go_edu_demos.merge(inc, on = ['m_ids_owner', 'hh_ids'], how = 'left')

In [163]:
cons_wb_go_edu_demos_inc.shape

(670, 140)

In [164]:
cons_wb_go_edu_demos_inc.head()

,m_ids_owner,hh_ids,con_pur_hh_meanptrx,con_pur_hh_sdptrx,con_pur_hh_minpti,con_pur_hh_meanpti,con_pur_hh_medpti,con_pur_hh_maxpti,con_pur_hh_meanpti_ALC,con_pur_hh_medpti_ALC,...,inc_i_sdpti_RIOI,inc_i_medianpti_RIOI,inc_i_iqrpti_RIOI,inc_i_meanptrx_SEI,inc_i_sdptrx_SEI,inc_i_meanpti_SEI,inc_i_sdpti_SEI,inc_i_medianpti_SEI,inc_i_iqrpti_SEI,inc_i_dom
0,58134383397900000,KELDL02,107.9147,286.7984,3293,14372.27,15640.0,23670,204.5455,0.0,...,21.119950,0.0,41.176470,NaN,NaN,0.0,0.0,0.0,0.0,CITMPC
1,58134383535800000,KELDL02,107.9147,286.7984,3293,14372.27,15640.0,23670,204.5455,0.0,...,0.679236,0.0,1.176471,NaN,NaN,0.0,0.0,0.0,0.0,REI
2,HH,KVIHC16,115.6588,345.8901,1070,5825.00,5470.0,15380,0.0000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,59134423954300000,KVIHC16,115.6588,345.8901,1070,5825.00,5470.0,15380,0.0000,0.0,...,NaN,0.0,0.000000,NaN,NaN,0.0,NaN,0.0,0.0,AGRI
4,65134441430300000,KELDK21,1061.1900,4257.9390,1150,26529.75,17300.0,75020,0.0000,0.0,...,0.000000,0.0,0.000000,NaN,NaN,0.0,0.0,0.0,0.0,AGRI

In [171]:
cons_wb_go_edu_demos_inc.to_csv('cons_wb_go_edu_demos_inc.csv', index = False)

## Here we will add pov hou and rem when Dinara is through:

In [165]:
len([x for x in rem_hou_pov.m_ids_owner if str(x) in list(cons_wb_go_edu_demos_inc.m_ids_owner)])

457

In [166]:
len(rem_hou_pov.m_ids_owner.unique())

450

In [168]:
rem_hou_pov.m_ids_owner.value_counts().head(10)

64134329480500000    2
59134399421400000    2
64134460832400000    2
64134330145000000    2
59134398835800000    2
64134332339000000    2
64134459158700000    2
61134397950700000    1
58134458005600000    1
56134398810900000    1
Name: m_ids_owner, dtype: int64

In [169]:
cons_wb_go_edu_demos_inc_pov_hou_rem = cons_wb_go_edu_demos_inc.merge(rem_hou_pov, on = "m_ids_owner",  how = 'left')

In [170]:
cons_wb_go_edu_demos_inc_pov_hou_rem.shape

(677, 237)