In [1]:
import os
import pandas as pd 
import glob

In [2]:
consumption = pd.read_csv('aux_data/con_pur_hh_over_trx_yr_mo_kes.csv')

In [3]:
consumption.shape

(298, 37)

In [5]:
consumption.columns

Index(['hh_ids', 'con_pur_hh_meanptrx', 'con_pur_hh_sdptrx',
       'con_pur_hh_minpti', 'con_pur_hh_meanpti', 'con_pur_hh_medpti',
       'con_pur_hh_maxpti', 'con_pur_hh_meanpti_ALC', 'con_pur_hh_medpti_ALC',
       'con_pur_hh_meanpti_CLN', 'con_pur_hh_medpti_CLN',
       'con_pur_hh_meanpti_CLTH', 'con_pur_hh_medpti_CLTH',
       'con_pur_hh_meanpti_COMM', 'con_pur_hh_medpti_COMM',
       'con_pur_hh_meanpti_EDU', 'con_pur_hh_medpti_EDU',
       'con_pur_hh_meanpti_ENRGY', 'con_pur_hh_medpti_ENRGY',
       'con_pur_hh_meanpti_ENT', 'con_pur_hh_medpti_ENT',
       'con_pur_hh_meanpti_FOOD', 'con_pur_hh_medpti_FOOD',
       'con_pur_hh_meanpti_H20', 'con_pur_hh_medpti_H20',
       'con_pur_hh_meanpti_HSNG', 'con_pur_hh_medpti_HSNG',
       'con_pur_hh_meanpti_MED', 'con_pur_hh_medpti_MED',
       'con_pur_hh_meanpti_OTH', 'con_pur_hh_medpti_OTH',
       'con_pur_hh_meanpti_PERS', 'con_pur_hh_medpti_PERS',
       'con_pur_hh_meanpti_REL', 'con_pur_hh_medpti_REL',
       'con_pur_hh_meanpti_TRNSP', 'con_pur_hh_medpti_TRNSP'],
      dtype='object')

In [6]:
consumption.head()

,hh_ids,con_pur_hh_meanptrx,con_pur_hh_sdptrx,con_pur_hh_minpti,con_pur_hh_meanpti,con_pur_hh_medpti,con_pur_hh_maxpti,con_pur_hh_meanpti_ALC,con_pur_hh_medpti_ALC,con_pur_hh_meanpti_CLN,...,con_pur_hh_meanpti_MED,con_pur_hh_medpti_MED,con_pur_hh_meanpti_OTH,con_pur_hh_medpti_OTH,con_pur_hh_meanpti_PERS,con_pur_hh_medpti_PERS,con_pur_hh_meanpti_REL,con_pur_hh_medpti_REL,con_pur_hh_meanpti_TRNSP,con_pur_hh_medpti_TRNSP
0,KELDK01,83.46289,228.7540,1470,7122.167,8805.0,10055,0.0000,0.0,110.83330,...,109.16670,0,132.5,0.0,183.33330,150.0,81.666660,0.0,212.50000,0.0
1,KELDK02,321.83330,1245.0830,5815,12873.330,10665.0,31300,0.0000,0.0,180.41670,...,170.00000,0,0.0,0.0,36.66667,0.0,475.000000,200.0,748.33330,715.0
2,KELDK08,47.59043,142.9910,800,3137.308,2890.0,4590,0.0000,0.0,90.76923,...,20.76923,0,0.0,0.0,33.84615,0.0,8.461538,0.0,53.07692,0.0
3,KELDK09,123.30040,549.5599,3600,8507.728,6415.0,18105,0.0000,0.0,219.54550,...,0.00000,0,0.0,0.0,528.18180,510.0,117.272700,100.0,377.27270,100.0
4,KELDK10,82.70786,186.6864,40,6134.167,6005.0,12035,320.8333,0.0,238.33330,...,41.66667,0,0.0,0.0,912.08330,827.5,82.500000,0.0,734.16670,825.0

## So this is on a per-household basis, and is giving averages of different consumption statistics here.

In [7]:
## Here I will merge the two datasets:

In [8]:
os.listdir()

['info.pdf',
 '.DS_Store',
 'different_loan_types_julia.ipynb',
 'Demo_Individual.ipynb',
 'House Ownership.ipynb',
 'diaries_transactions_all.csv',
 'consumption_julia.ipynb',
 'README.md',
 '.gitignore',
 'Exploration_Ella.ipynb',
 '.ipynb_checkpoints',
 'aux_data_exploration_julia.ipynb',
 '.git',
 'Exploration_Loan_Ella.ipynb',
 'initial_exploration_julia.ipynb',
 'aux_data']

In [10]:
trx = pd.read_csv('diaries_transactions_all.csv', low_memory = False)

In [15]:
trx.shape

(483949, 58)

In [12]:
trx_with_consumption = trx.merge(consumption, how = "left", on = 'hh_ids')

In [13]:
trx_with_consumption.shape

(483949, 94)

In [16]:
trx_with_consumption.head()

,hh_ids,unique_hhs,first_trx_date_hh,last_trx_date_hh,tot_hh_daysofobs,tot_hh_monthsofobs,interview_designation,int_date,int_month,int_year,...,con_pur_hh_meanpti_MED,con_pur_hh_medpti_MED,con_pur_hh_meanpti_OTH,con_pur_hh_medpti_OTH,con_pur_hh_meanpti_PERS,con_pur_hh_medpti_PERS,con_pur_hh_meanpti_REL,con_pur_hh_medpti_REL,con_pur_hh_meanpti_TRNSP,con_pur_hh_medpti_TRNSP
0,KELDL02,NaN,03sep2012,02oct2013,394,13,04=Diaries Interview,02oct2013,10,2013,...,27.27273,0,14.09091,0.0,274.72730,286.0,64.54546,20.0,487.7273,550.0
1,KVIHC16,NaN,24sep2012,19sep2013,360,12,04=Diaries Interview,22apr2013,4,2013,...,50.00000,0,27.27273,0.0,10.90909,0.0,15.45455,0.0,173.6364,60.0
2,KELDK21,NaN,20sep2012,22oct2013,397,13,04=Diaries Interview,02oct2013,10,2013,...,16.66667,0,2018.50000,0.0,90.83334,0.0,816.66670,100.0,1198.3330,550.0
3,KMOMT22,NaN,21sep2012,01nov2013,406,14,04=Diaries Interview,21feb2013,2,2013,...,154.54550,100,452.27270,0.0,157.72730,130.0,180.00000,0.0,786.3636,400.0
4,KMOMT32,NaN,20sep2012,18oct2013,393,13,04=Diaries Interview,02may2013,5,2013,...,875.00000,0,1291.66700,0.0,55.00000,25.0,329.58330,0.0,2085.0000,1600.0

In [18]:
trx_with_consumption.sort_values(by = 'hh_ids').head()

,hh_ids,unique_hhs,first_trx_date_hh,last_trx_date_hh,tot_hh_daysofobs,tot_hh_monthsofobs,interview_designation,int_date,int_month,int_year,...,con_pur_hh_meanpti_MED,con_pur_hh_medpti_MED,con_pur_hh_meanpti_OTH,con_pur_hh_medpti_OTH,con_pur_hh_meanpti_PERS,con_pur_hh_medpti_PERS,con_pur_hh_meanpti_REL,con_pur_hh_medpti_REL,con_pur_hh_meanpti_TRNSP,con_pur_hh_medpti_TRNSP
296867,KELDK01,NaN,18sep2012,02oct2013,379,13,04=Diaries Interview,28may2013,5,2013,...,109.1667,0,132.5,0.0,183.3333,150.0,81.66666,0.0,212.5,0.0
161948,KELDK01,NaN,18sep2012,02oct2013,379,13,04=Diaries Interview,09jul2013,7,2013,...,109.1667,0,132.5,0.0,183.3333,150.0,81.66666,0.0,212.5,0.0
291009,KELDK01,NaN,18sep2012,02oct2013,379,13,04=Diaries Interview,02oct2013,10,2013,...,109.1667,0,132.5,0.0,183.3333,150.0,81.66666,0.0,212.5,0.0
188791,KELDK01,NaN,18sep2012,02oct2013,379,13,04=Diaries Interview,09jul2013,7,2013,...,109.1667,0,132.5,0.0,183.3333,150.0,81.66666,0.0,212.5,0.0
89985,KELDK01,NaN,18sep2012,02oct2013,379,13,04=Diaries Interview,17apr2013,4,2013,...,109.1667,0,132.5,0.0,183.3333,150.0,81.66666,0.0,212.5,0.0

## All seems good and checks out