In [1]:
import os
import pandas as pd 
import glob

In [10]:
glob.glob('../aux_data/*con*kes*csv')

['../aux_data/con_pur_hh_by_trx_yr_mo_kes.csv',
 '../aux_data/con_pur_hh_over_trx_yr_mo_kes.csv',
 '../aux_data/con_prod_hh_over_trx_yr_mo_kes.csv',
 '../aux_data/con_prod_hh_by_trx_yr_mo_kes.csv']

Notes: 
- con_pur_hh_over_trx_yr_mo_kes = Mean/ Median aggregate calendar month purchases by type and household (over study period)
- con_pur_hh_by_trx_yr_mo_kes = Aggregate purchases by type, calendar month and household
- con_prod_hh_over_trx_yr_mo_kes  = Total value of own production (for food) by household (median monthly food production) 
- con_prod_hh_by_trx_yr_mo_kes = Total value of own production (for food) by household and calendar month

In [13]:
con_pur_hh_over_trx_yr_mo_kes  = pd.read_csv('../aux_data/con_pur_hh_over_trx_yr_mo_kes.csv')
con_pur_hh_by_trx_yr_mo_kes    = pd.read_csv('../aux_data/con_pur_hh_by_trx_yr_mo_kes.csv')
con_prod_hh_over_trx_yr_mo_kes = pd.read_csv('../aux_data/con_prod_hh_over_trx_yr_mo_kes.csv')
con_prod_hh_by_trx_yr_mo_kes   = pd.read_csv('../aux_data/con_prod_hh_by_trx_yr_mo_kes.csv')

In [14]:
con_pur_hh_over_trx_yr_mo_kes.head()

,hh_ids,con_pur_hh_meanptrx,con_pur_hh_sdptrx,con_pur_hh_minpti,con_pur_hh_meanpti,con_pur_hh_medpti,con_pur_hh_maxpti,con_pur_hh_meanpti_ALC,con_pur_hh_medpti_ALC,con_pur_hh_meanpti_CLN,...,con_pur_hh_meanpti_MED,con_pur_hh_medpti_MED,con_pur_hh_meanpti_OTH,con_pur_hh_medpti_OTH,con_pur_hh_meanpti_PERS,con_pur_hh_medpti_PERS,con_pur_hh_meanpti_REL,con_pur_hh_medpti_REL,con_pur_hh_meanpti_TRNSP,con_pur_hh_medpti_TRNSP
0,KELDK01,83.46289,228.7540,1470,7122.167,8805.0,10055,0.0000,0.0,110.83330,...,109.16670,0,132.5,0.0,183.33330,150.0,81.666660,0.0,212.50000,0.0
1,KELDK02,321.83330,1245.0830,5815,12873.330,10665.0,31300,0.0000,0.0,180.41670,...,170.00000,0,0.0,0.0,36.66667,0.0,475.000000,200.0,748.33330,715.0
2,KELDK08,47.59043,142.9910,800,3137.308,2890.0,4590,0.0000,0.0,90.76923,...,20.76923,0,0.0,0.0,33.84615,0.0,8.461538,0.0,53.07692,0.0
3,KELDK09,123.30040,549.5599,3600,8507.728,6415.0,18105,0.0000,0.0,219.54550,...,0.00000,0,0.0,0.0,528.18180,510.0,117.272700,100.0,377.27270,100.0
4,KELDK10,82.70786,186.6864,40,6134.167,6005.0,12035,320.8333,0.0,238.33330,...,41.66667,0,0.0,0.0,912.08330,827.5,82.500000,0.0,734.16670,825.0

In [19]:
con_pur_hh_over_trx_yr_mo_kes.columns

Index(['hh_ids', 'con_pur_hh_meanptrx', 'con_pur_hh_sdptrx',
       'con_pur_hh_minpti', 'con_pur_hh_meanpti', 'con_pur_hh_medpti',
       'con_pur_hh_maxpti', 'con_pur_hh_meanpti_ALC', 'con_pur_hh_medpti_ALC',
       'con_pur_hh_meanpti_CLN', 'con_pur_hh_medpti_CLN',
       'con_pur_hh_meanpti_CLTH', 'con_pur_hh_medpti_CLTH',
       'con_pur_hh_meanpti_COMM', 'con_pur_hh_medpti_COMM',
       'con_pur_hh_meanpti_EDU', 'con_pur_hh_medpti_EDU',
       'con_pur_hh_meanpti_ENRGY', 'con_pur_hh_medpti_ENRGY',
       'con_pur_hh_meanpti_ENT', 'con_pur_hh_medpti_ENT',
       'con_pur_hh_meanpti_FOOD', 'con_pur_hh_medpti_FOOD',
       'con_pur_hh_meanpti_H20', 'con_pur_hh_medpti_H20',
       'con_pur_hh_meanpti_HSNG', 'con_pur_hh_medpti_HSNG',
       'con_pur_hh_meanpti_MED', 'con_pur_hh_medpti_MED',
       'con_pur_hh_meanpti_OTH', 'con_pur_hh_medpti_OTH',
       'con_pur_hh_meanpti_PERS', 'con_pur_hh_medpti_PERS',
       'con_pur_hh_meanpti_REL', 'con_pur_hh_medpti_REL',
       'con_pur_hh_meanpti_TRNSP', 'con_pur_hh_medpti_TRNSP'],
      dtype='object')

In [20]:
con_pur_hh_over_trx_yr_mo_kes.shape

(298, 37)

In [16]:
con_pur_hh_by_trx_yr_mo_kes.head()

,hh_ids,trx_yr_mo,con_pur_hh_byti,con_pur_hh_byti_ALC,con_pur_hh_byti_CLN,con_pur_hh_byti_CLTH,con_pur_hh_byti_COMM,con_pur_hh_byti_EDU,con_pur_hh_byti_ENRGY,con_pur_hh_byti_ENT,con_pur_hh_byti_FOOD,con_pur_hh_byti_H20,con_pur_hh_byti_HSNG,con_pur_hh_byti_MED,con_pur_hh_byti_OTH,con_pur_hh_byti_PERS,con_pur_hh_byti_REL,con_pur_hh_byti_TRNSP
0,KELDK01,2012_10,1470,0,0,700,40,20,300,0,410,0,0,0,0,0,0,0
1,KELDK01,2012_11,3445,0,0,0,80,0,920,0,865,360,600,600,0,0,20,0
2,KELDK01,2012_12,3607,0,90,600,50,0,390,0,1377,0,0,0,0,0,0,1100
3,KELDK01,2013_01,4100,0,0,0,300,600,320,0,1350,0,600,0,0,60,120,750
4,KELDK01,2013_02,9140,0,0,0,700,0,1240,0,6240,0,600,0,0,120,240,0

In [18]:
con_pur_hh_by_trx_yr_mo_kes.columns

Index(['hh_ids', 'trx_yr_mo', 'con_pur_hh_byti', 'con_pur_hh_byti_ALC',
       'con_pur_hh_byti_CLN', 'con_pur_hh_byti_CLTH', 'con_pur_hh_byti_COMM',
       'con_pur_hh_byti_EDU', 'con_pur_hh_byti_ENRGY', 'con_pur_hh_byti_ENT',
       'con_pur_hh_byti_FOOD', 'con_pur_hh_byti_H20', 'con_pur_hh_byti_HSNG',
       'con_pur_hh_byti_MED', 'con_pur_hh_byti_OTH', 'con_pur_hh_byti_PERS',
       'con_pur_hh_byti_REL', 'con_pur_hh_byti_TRNSP'],
      dtype='object')

In [21]:
con_pur_hh_by_trx_yr_mo_kes.shape

(3466, 18)

## So this is on a per-household basis, and is giving averages of different consumption statistics here.

In [7]:
## Here I will merge the two datasets:

In [8]:
os.listdir()

['info.pdf',
 '.DS_Store',
 'different_loan_types_julia.ipynb',
 'Demo_Individual.ipynb',
 'House Ownership.ipynb',
 'diaries_transactions_all.csv',
 'consumption_julia.ipynb',
 'README.md',
 '.gitignore',
 'Exploration_Ella.ipynb',
 '.ipynb_checkpoints',
 'aux_data_exploration_julia.ipynb',
 '.git',
 'Exploration_Loan_Ella.ipynb',
 'initial_exploration_julia.ipynb',
 'aux_data']

We need to merge w/ hh to individual id

In [ ]:
con_pur_hh_over_trx_yr_mo_kes