In [1]:
import os
import pandas as pd 
import glob
import random 
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
pd.set_option('display.max_columns',200)
pd.set_option('display.max_rows',680)

## Read in data:

In [5]:
os.listdir()

['numPeople_MultipleLoans.ipynb',
 '.DS_Store',
 'graph_loans_bus_ag_julia.ipynb',
 'different_loan_types_julia.ipynb',
 'Demographics_Education_Julia.ipynb',
 'truncating_loans_bus_ag_julia.ipynb',
 'diaries_trx_trunc_loans.csv',
 'one_time_payments_julia.ipynb',
 'metrics_oneTimePayments.ipynb',
 'Truncation_Ella-Julia.ipynb',
 'consumption_julia.ipynb',
 'steady_payments_or_not.ipynb',
 '.ipynb_checkpoints',
 'graphs',
 'steady_payments_or_not-pureTruncElla.ipynb',
 'Pure_Truncation_Ella-Julia.ipynb',
 'initial_exploration_julia.ipynb']

In [6]:
trx = pd.read_csv('diaries_trx_trunc_loans.csv', low_memory = False)

##  Formal Loans (FRMLN)

Step 1: Subset to loans w/ FRMLN designation:

In [7]:
frmln_trx = trx.loc[trx['trx_family_code']=="FRMLN"]
frmln_trx.shape

(733, 61)

Step 2: What are the different types of formal loans and how many are there?

In [8]:
frmln_trx.loc[frmln_trx['unique_accnts']==1].trx_type_desc.value_counts()

Individual Business or Agriculture Loan      36
Consumer/ personal loan (not payday loan)    28
Joint liability loan                         17
Name: trx_type_desc, dtype: int64

In [9]:
frmln_trx.loc[frmln_trx['unique_accnts']==1].trx_type_code.value_counts()

2760    36
2762    28
3247    17
Name: trx_type_code, dtype: int64

Step 3: Observe the graphs of each kind of loan.

## Notes on the graphs: 
1. Bus-ag (>250), cons-pers (>100) are good loans to use with a few exceptions.
2. If we remove 3 trx hier_pur, these are pretty good loans
3. Same as (2) with Joint liability
4. Probably shouldn't use M-SHWARI, low duration and very erratic, many have only 2 data points? 
5. School fees are useful
6. Group enterprise is fine to use; only one though

Step 2: Let's look at standard deviations of the payment amounts:

In [13]:
for idx, acct_id in enumerate(list(frmln_trx.account_ids.unique())):
    print(idx, acct_id)
    loan_df = frmln_trx.loc[frmln_trx['account_ids']==acct_id]    
    loan_df = loan_df.copy()
    loan_df.sort_values("trx_stdtime_days_acc", inplace=True)
    
    #subset down only to payments
    payment_idxs = [idx for idx, purpose in enumerate(list(loan_df['trx_prx_purpose'])) if 'Payment' in purpose]
    payment_df= loan_df.iloc[payment_idxs]
    
    #figure out a vector of time between payments
    time_btw_payments = np.diff(np.array(payment_df.trx_stdtime_days_acc))
    
    print('time btw payments', time_btw_payments)
    print('std of time btw payments', np.std(time_btw_payments))
    print('mean of payment amount', np.mean(payment_df.trx_value_kes))
    print('-------------------------')

0 60137430710900000
time btw payments [31 34]
std of time btw payments 1.5
mean of payment amount 11233.333333333334
-------------------------
1 63136740549700000
time btw payments [30 30 31 31 30]
std of time btw payments 0.4898979485566356
mean of payment amount 2800.0
-------------------------
2 105136540140100000
time btw payments [74 30 31 31 30]
std of time btw payments 17.405746177627663
mean of payment amount 7166.666666666667
-------------------------
3 56134761927800000
time btw payments [29 62 32 28 31]
std of time btw payments 12.877888025604198
mean of payment amount 3575.0
-------------------------
4 112137283351600000
time btw payments [42]
std of time btw payments 0.0
mean of payment amount 5000.0
-------------------------
5 57134649143400000
time btw payments [28 36 27 33 30 28 28]
std of time btw payments 3.070597894314954
mean of payment amount 2050.0
-------------------------
6 105137049319900000
time btw payments [52 24 18]
std of time btw payments 14.817407180595245
mean of payment amount 11098.0
-------------------------
7 57136557858500000
time btw payments [31 30 31 30]
std of time btw payments 0.5
mean of payment amount 1326.0
-------------------------
8 57134702786200000
time btw payments [29 32 30 31 28 28 34 30 29 32 33 26]
std of time btw payments 2.229848026709942
mean of payment amount 2800.0
-------------------------
9 61134770599600000
time btw payments []
std of time btw payments nan
mean of payment amount nan
-------------------------
10 57136539616900000
time btw payments [ 7  7  7 24 55  7 26]
std of time btw payments 16.673332000533065
mean of payment amount 5125.0
-------------------------
11 61135352095000000
time btw payments [29 33 30 27 35 28 31 31 32 29 28]
std of time btw payments 2.2998382983042758
mean of payment amount 6000.0
-------------------------
12 59134726342000000
time btw payments [29 27  5 48 38 35 36  9 41 39 29]
std of time btw payments 12.52171667263527
mean of payment amount 566.6666666666666
-------------------------
13 59134753176900000
time btw payments [ 14  35  49  35 175]
std of time btw payments 57.79134883354082
mean of payment amount 933.3333333333334
-------------------------
14 59134691680100000
time btw payments [ 4 31 55 32 28 31  0]
std of time btw payments 17.282762439813272
mean of payment amount 9487.5
-------------------------
15 84136886562100000
time btw payments [29 32 30  5 56 31 31]
std of time btw payments 13.65762103167671
mean of payment amount 10250.0
-------------------------
16 59134666467600000
time btw payments [46 21 21  7 30  7 19 37  4 14  8 14 14 14 27  7  3]
std of time btw payments 11.699821073366417
mean of payment amount 534.7222222222222
-------------------------
17 105137769890900000
time btw payments []
std of time btw payments nan
mean of payment amount nan
-------------------------
18 59134727113000000
time btw payments []
std of time btw payments nan
mean of payment amount nan
-------------------------
19 59134745004500000
time btw payments [15 31]
std of time btw payments 8.0
mean of payment amount 2033.3333333333333
-------------------------
20 57134726357400000
time btw payments [28 29 45]
std of time btw payments 7.788880963698615
mean of payment amount 3137.5
-------------------------
21 59135021173400000
time btw payments []
std of time btw payments nan
mean of payment amount 23000.0
-------------------------
22 57135920565300000
time btw payments [31 30 61 31 58]
std of time btw payments 14.161920773680384
mean of payment amount 2033.3333333333333
-------------------------
23 60136531885600000
time btw payments [161]
std of time btw payments 0.0
mean of payment amount 2850.0
-------------------------
24 59136998025000000
time btw payments [ 0 29 28]
std of time btw payments 13.4412301024373
mean of payment amount 2000.0
-------------------------
25 59136376033300000
time btw payments [ 7  7 42 31 25 22 19 26 16]
std of time btw payments 10.540925533894598
mean of payment amount 950.0
-------------------------
26 61134830133700000
time btw payments [30 31 31 28 31 30 31 30 31 30 31]
std of time btw payments 0.8813963377120598
mean of payment amount 9704.25
-------------------------
27 62135858405800000
time btw payments [34 23 15 32  7  3 21 36  6 48 15 29 11 66]
std of time btw payments 17.031183883975768
mean of payment amount 21266.666666666668
-------------------------
28 61134797983800000
time btw payments [31  0 31  0 32 27 31 30]
std of time btw payments 13.20747894187229
mean of payment amount 2271.1111111111113
-------------------------
29 50136756070500000
time btw payments [31 61 34 58]
std of time btw payments 13.583077707206124
mean of payment amount 4400.0
-------------------------
30 60134752045800000
time btw payments [37 32 28 35 28]
std of time btw payments 3.63318042491699
mean of payment amount 2000.0
-------------------------
31 60134787021500000
time btw payments []
std of time btw payments nan
mean of payment amount nan
-------------------------
32 105137414874400000
time btw payments []
std of time btw payments nan
mean of payment amount 7420.0
-------------------------
33 58134763288300000
time btw payments [72 81 28 35 37 46]
std of time btw payments 19.743494005761885
mean of payment amount 2392.8571428571427
-------------------------
34 61134804533700000
time btw payments [42 28]
std of time btw payments 7.0
mean of payment amount 1200.0
-------------------------
35 61134798041100000
time btw payments [31 31 32 27 31 30]
std of time btw payments 1.5986105077709065
mean of payment amount 2742.8571428571427
-------------------------
36 84136514083500000
time btw payments []
std of time btw payments nan
mean of payment amount nan
-------------------------
37 61135010791300000
time btw payments [35 21 42 28 28]
std of time btw payments 7.138627319029899
mean of payment amount 3000.0
-------------------------
38 59136685821800000
time btw payments [ 7 14  7 14  7  7  6 10  5 14  8 13 14  7  7  7  7 11 17 17]
std of time btw payments 3.800986713999406
mean of payment amount 285.7142857142857
-------------------------
39 61136428866300000
time btw payments []
std of time btw payments nan
mean of payment amount nan
-------------------------
40 61135409324300000
time btw payments [ 31  30  32  21  45  28  28  28 154]
std of time btw payments 39.30915766768871
mean of payment amount 4222.0
-------------------------
41 63136075164500000
time btw payments [29 30 30 31 30 31]
std of time btw payments 0.6871842709362768
mean of payment amount 1400.0
-------------------------
42 63134804220400000
time btw payments [29 34 28 32 28 28 35 28 28 35 28]
std of time btw payments 2.9260867162601962
mean of payment amount 7233.0
-------------------------
43 63134734786300000
time btw payments [35 28 35 35 28 28 28 35 28  2 26 35]
std of time btw payments 8.760311384623012
mean of payment amount 1881.5384615384614
-------------------------
44 60138558075900000
time btw payments []
std of time btw payments nan
mean of payment amount nan
-------------------------
45 63134734844700000
time btw payments [35 21 42 28]
std of time btw payments 7.826237921249264
mean of payment amount 1720.0
-------------------------
46 59134942576600000
time btw payments [ 37  36  51 117  13  32  24]
std of time btw payments 31.61244911068281
mean of payment amount 5200.0
-------------------------
47 59134942516400000
time btw payments [ 37  29  61  61 135]
std of time btw payments 37.446495163099044
mean of payment amount 2333.3333333333335
-------------------------
48 59135900709000000
time btw payments [118  61  68]
std of time btw payments 25.381533094401966
mean of payment amount 1050.0
-------------------------
49 61134788847800000
time btw payments []
std of time btw payments nan
mean of payment amount 2000.0
-------------------------
50 63136808803000000
time btw payments [30 27 64 28]
std of time btw payments 15.481844205391036
mean of payment amount 8271.8
-------------------------
51 61134769746500000
time btw payments [32 24  0 70 29 30 21 61]
std of time btw payments 20.892208475888804
mean of payment amount 5559.444444444444
-------------------------
52 63134752889200000
time btw payments [31]
std of time btw payments 0.0
mean of payment amount 1200.0
-------------------------
53 89137408864000000
time btw payments [88 28]
std of time btw payments 30.0
mean of payment amount 2500.0
-------------------------
54 84136879000800000
time btw payments [30 31 31 28 63 31]
std of time btw payments 12.27010821287064
mean of payment amount 12513.142857142857
-------------------------
55 89138130900700000
time btw payments []
std of time btw payments nan
mean of payment amount 9500.0
-------------------------
56 62134702385700000
time btw payments [ 58 112   7  47]
std of time btw payments 37.489998666310996
mean of payment amount 3300.0
-------------------------
57 105137049848100000
time btw payments []
std of time btw payments nan
mean of payment amount 10000.0
-------------------------
58 56134756074400000
time btw payments [32 30 31 29 30 27 14 13 15 45 39]
std of time btw payments 9.696212091617006
mean of payment amount 13541.666666666666
-------------------------
59 57135840612400000
time btw payments [32 52 36 53]
std of time btw payments 9.364160400164021
mean of payment amount 15000.0
-------------------------
60 61134728400700000
time btw payments [14 21  7 14  7  7 28  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7 91  7
  7  7  7  7  7  7  7]
std of time btw payments 15.261576353678784
mean of payment amount 642.4375
-------------------------
61 79134944405200000
time btw payments [38 85 21]
std of time btw payments 27.067816067549053
mean of payment amount 5011.0
-------------------------
62 105137636847800000
time btw payments [31]
std of time btw payments 0.0
mean of payment amount 1500.0
-------------------------
63 60134978362300000
time btw payments [ 7  7  7  7  7  5  2  7  7  7 21  7  7 21 24  7  7  7 27 14  0  1 33 15]
std of time btw payments 8.356218575940249
mean of payment amount 2804.0
-------------------------
64 59135332895300000
time btw payments [ 37 119  28  35  28  28  35]
std of time btw payments 30.71395348657529
mean of payment amount 6937.5
-------------------------
65 59137629648900000
time btw payments [31]
std of time btw payments 0.0
mean of payment amount 6500.0
-------------------------
66 60135893778700000
time btw payments [56 63 49]
std of time btw payments 5.715476066494082
mean of payment amount 1625.0
-------------------------
67 61134797071300000
time btw payments [35 28 44 35 35 94]
std of time btw payments 22.326491489309785
mean of payment amount 4328.571428571428
-------------------------
68 58134814374400000
time btw payments [  7  12   8   7  14 147  30  31  31  31]
std of time btw payments 39.726061974477155
mean of payment amount 4272.727272727273
-------------------------
69 56135201879700000
time btw payments []
std of time btw payments nan
mean of payment amount 2500.0
-------------------------
70 105137629836900000
time btw payments []
std of time btw payments nan
mean of payment amount 5500.0
-------------------------
71 89138130387400000
time btw payments [ 7 31 25]
std of time btw payments 10.198039027185569
mean of payment amount 9875.0
-------------------------
72 50137023475700000
time btw payments [ 3 18  5 26 35 28 31 26 35]
std of time btw payments 11.274356350191843
mean of payment amount 2000.0
-------------------------
73 59134942469700000
time btw payments [31 32 28 35 28 28 28 35 28 31 32]
std of time btw payments 2.6410616447879907
mean of payment amount 9612.5
-------------------------
74 84136514094000000
time btw payments [36  0 46 31  0 31 29 34]
std of time btw payments 15.711759131300353
mean of payment amount 2200.0
-------------------------
75 105137899512900000
time btw payments []
std of time btw payments nan
mean of payment amount 15000.0
-------------------------
76 89136617005000000
time btw payments [33]
std of time btw payments 0.0
mean of payment amount 3900.0
-------------------------
77 59136861465600000
time btw payments [26 67 33 14  6]
std of time btw payments 21.08459153030952
mean of payment amount 1050.0
-------------------------
78 57134683686000000
time btw payments [31 31]
std of time btw payments 0.0
mean of payment amount 7216.666666666667
-------------------------
79 105136910664600000

time btw payments [33  0]
std of time btw payments 16.5
mean of payment amount 3333.3333333333335
-------------------------
80 60136500338400000
time btw payments []
std of time btw payments nan
mean of payment amount 2000.0
-------------------------

/Users/juliacluceru/anaconda3/lib/python3.6/site-packages/numpy/core/_methods.py:135: RuntimeWarning: Degrees of freedom <= 0 for slice
  keepdims=keepdims)
/Users/juliacluceru/anaconda3/lib/python3.6/site-packages/numpy/core/_methods.py:105: RuntimeWarning: invalid value encountered in true_divide
  arrmean, rcount, out=arrmean, casting='unsafe', subok=False)
/Users/juliacluceru/anaconda3/lib/python3.6/site-packages/numpy/core/_methods.py:127: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

In [30]:
acct_id = list(frmln_trx.account_ids.unique())[0]

In [32]:
loan_df = frmln_trx.loc[frmln_trx['account_ids']==acct_id]    
loan_df = loan_df.copy()
loan_df.sort_values("trx_stdtime_days_acc", inplace=True)

In [34]:
loan_df.trx_stdtime_days_acc.max()

129

In [57]:
loan_df

,Unnamed: 0,hh_ids,unique_hhs,first_trx_date_hh,last_trx_date_hh,tot_hh_daysofobs,tot_hh_monthsofobs,interview_designation,int_date,int_month,int_year,int_yr_mo,first_int_date,account_ids,new_account_ids,unique_accnts,m_ids_owner,unique_hm_owner,account_bsheet_desig,account_startclose_balance,account_formal,account_liquid,first_trx_date_acc,last_trx_date_acc,tot_acc_daysofobs,tot_acc_monthsofobs,trx_id,m_ids_trx,trx_date,trx_month,trx_year,trx_yr_mo,trx_dq_round,trx_stdtime_days_hh,trx_stdtime_mnths_hh,trx_stdtime_days_acc,trx_stdtime_mnths_acc,trx_class_code,trx_class_desc,trx_family_code,trx_family_desc,trx_type_code,trx_type_desc,trx_prx_purpose,trx_prx_purpose_fd,trx_fee,trx_bsheet_direction,trx_mode_code,trx_mode_desc,trx_place_incommunity,trx_distance_km,trx_outlet,trx_direction,trx_value_kes,trx_value_usd,ddd_gift,trx_inkind_units,trx_inkind_value_usd,trx_inkind_value_kes,trx_stdtime_mnths_hh_nr,acc_unexplained_trx
185,7277,KVIHK40,NaN,10sep2012,03oct2013,388,13,04=Diaries Interview,04jun2013,6,2013,2013_06,04sep2012,60137430710900000,6.013743e+16,1.0,60134547419200000,NaN,Liability,NaN,Formal,NaN,27may2013,03oct2013,129,4,60137430758700000,60134547419200000,27may2013,5,2013,2013_05,14.0,259,8,0,0,findev,"Borrowing, lending, savings or insurance media...",FRMLN,Formal loan,2760,Individual Business or Agriculture Loan,5. Interest accruing,NaN,0.0,Increase,1.0,Cash,NaN,NaN,NaN,NaN,35000.0,411.7647,0,NaN,NaN,NaN,8.931034,0.0
1435,398018,KVIHK40,NaN,10sep2012,03oct2013,388,13,04=Diaries Interview,04jun2013,6,2013,2013_06,04sep2012,60137430710900000,6.013743e+16,NaN,60134547419200000,NaN,Liability,NaN,Formal,NaN,27may2013,03oct2013,129,4,60137430753900000,60134547419200000,27may2013,5,2013,2013_05,14.0,259,8,0,0,findev,"Borrowing, lending, savings or insurance media...",FRMLN,Formal loan,2760,Individual Business or Agriculture Loan,2. New borrowing,New borrowing on financial liability,0.0,Increase,1.0,Cash,1.0,0.0,"01=Bank, MFI, SACCO, insurance branch",Inflow,100000.0,1176.4710,0,NaN,NaN,NaN,8.931034,0.0
744,124091,KVIHK40,NaN,10sep2012,03oct2013,388,13,04=Diaries Interview,23jul2013,7,2013,2013_07,04sep2012,60137430710900000,6.013743e+16,NaN,60134547419200000,NaN,Liability,NaN,Formal,NaN,27may2013,03oct2013,129,4,60137589607700000,60134547419200000,06jul2013,7,2013,2013_07,17.0,299,10,40,1,findev,"Borrowing, lending, savings or insurance media...",FRMLN,Formal loan,2760,Individual Business or Agriculture Loan,3. Payments,Repayment on financial liability,0.0,Decrease,1.0,Cash,1.0,0.0,09=At home or work (self or collector/agent),Outflow,11250.0,132.3529,0,NaN,NaN,NaN,10.310340,0.0
861,176101,KVIHK40,NaN,10sep2012,03oct2013,388,13,04=Diaries Interview,20aug2013,8,2013,2013_08,04sep2012,60137430710900000,6.013743e+16,NaN,60134547419200000,NaN,Liability,NaN,Formal,NaN,27may2013,03oct2013,129,4,60138373017000000,60134547419200000,06aug2013,8,2013,2013_08,19.0,330,11,71,2,findev,"Borrowing, lending, savings or insurance media...",FRMLN,Formal loan,2760,Individual Business or Agriculture Loan,3. Payments,Repayment on financial liability,0.0,Decrease,1.0,Cash,1.0,0.0,"12=Other institution (school, clinic, church)",Outflow,11250.0,132.3529,0,NaN,NaN,NaN,11.379310,0.0
1169,295205,KVIHK40,NaN,10sep2012,03oct2013,388,13,04=Diaries Interview,18sep2013,9,2013,2013_09,04sep2012,60137430710900000,6.013743e+16,NaN,60134547419200000,NaN,Liability,NaN,Formal,NaN,27may2013,03oct2013,129,4,60138557814100000,60134547419200000,09sep2013,9,2013,2013_09,21.0,364,12,105,3,findev,"Borrowing, lending, savings or insurance media...",FRMLN,Formal loan,2760,Individual Business or Agriculture Loan,3. Payments,Repayment on financial liability,0.0,Decrease,1.0,Cash,1.0,0.0,09=At home or work (self or collector/agent),Outflow,11200.0,131.7647,0,NaN,NaN,NaN,12.551720,0.0
1,27,KVIHK40,NaN,10sep2012,03oct2013,388,13,06=Cleaning interview,04oct2013,10,2013,2013_10,04sep2012,60137430710900000,6.013743e+16,NaN,60134547419200000,NaN,Liability,Close,Formal,NaN,27may2013,03oct2013,129,4,60138614254500000,60134547419200000,03oct2013,10,2013,2013_10,23.0,388,13,129,4,findev,"Borrowing, lending, savings or insurance media...",FRMLN,Formal loan,2760,Individual Business or Agriculture Loan,6. Closing Balance--End of last DQ,NaN,0.0,NaN,19.0,CLOSING BALANCE,NaN,NaN,NaN,NaN,101300.0,1191.7650,0,NaN,NaN,NaN,13.379310,0.0

Step 3: Investigate whether someone has a time period over "num_days" days, classify that loan into one category or another.

In [38]:
def find_borrowers_num_days_threshold(df, day_nums):
    loan_categories = pd.DataFrame()
    for idx, acct_id in enumerate(list(df.account_ids.unique())):
        print(idx, acct_id)
        
        loan_df = frmln_trx.loc[frmln_trx['account_ids']==acct_id]    
        loan_df = loan_df.copy()
        loan_df.sort_values("trx_stdtime_days_acc", inplace=True)
        owner_id = list(loan_df.m_ids_owner)[0]

        #subset down only to payments
        payment_idxs = [idx for idx, purpose in enumerate(list(loan_df['trx_prx_purpose'])) if 'Payment' in purpose]
        payment_df= loan_df.iloc[payment_idxs]

        #figure out a vector of time between payments
        time_btw_payments = np.diff(np.array(payment_df.trx_stdtime_days_acc))

        print('time btw payments', time_btw_payments)
        print('std of time btw payments', np.std(time_btw_payments))
        print('mean of payment amount', np.mean(payment_df.trx_value_kes))
        print('-------------------------')

        ints_over_day_nums = [x for x in  time_btw_payments if x > day_nums]
        
        if len(ints_over_day_nums)>0: 
            loan_categories_line = {'account_ids': acct_id, 'm_ids_owner': owner_id, 'borrower_under_num_days': 0}
#             loan_categories.append(loan_categories_line, ignore_index = True)
        else: 
            loan_categories_line = {'account_ids': acct_id, 'm_ids_owner': owner_id, 'borrower_under_num_days': 1}
        loan_categories = loan_categories.append(loan_categories_line, ignore_index = True)        
    return loan_categories

In [59]:
len(frmln_trx.account_ids.unique())

81

In [60]:
x = find_borrowers_num_days_threshold(frmln_trx, 33)

0 60137430710900000
time btw payments [31 34]
std of time btw payments 1.5
mean of payment amount 11233.333333333334
-------------------------
1 63136740549700000
time btw payments [30 30 31 31 30]
std of time btw payments 0.4898979485566356
mean of payment amount 2800.0
-------------------------
2 105136540140100000
time btw payments [74 30 31 31 30]
std of time btw payments 17.405746177627663
mean of payment amount 7166.666666666667
-------------------------
3 56134761927800000
time btw payments [29 62 32 28 31]
std of time btw payments 12.877888025604198
mean of payment amount 3575.0
-------------------------
4 112137283351600000
time btw payments [42]
std of time btw payments 0.0
mean of payment amount 5000.0
-------------------------
5 57134649143400000
time btw payments [28 36 27 33 30 28 28]
std of time btw payments 3.070597894314954
mean of payment amount 2050.0
-------------------------
6 105137049319900000
time btw payments [52 24 18]
std of time btw payments 14.817407180595245
mean of payment amount 11098.0
-------------------------
7 57136557858500000
time btw payments [31 30 31 30]
std of time btw payments 0.5
mean of payment amount 1326.0
-------------------------
8 57134702786200000
time btw payments [29 32 30 31 28 28 34 30 29 32 33 26]
std of time btw payments 2.229848026709942
mean of payment amount 2800.0
-------------------------
9 61134770599600000
time btw payments []
std of time btw payments nan
mean of payment amount nan
-------------------------
10 57136539616900000
time btw payments [ 7  7  7 24 55  7 26]
std of time btw payments 16.673332000533065
mean of payment amount 5125.0
-------------------------
11 61135352095000000
time btw payments [29 33 30 27 35 28 31 31 32 29 28]
std of time btw payments 2.2998382983042758
mean of payment amount 6000.0
-------------------------
12 59134726342000000
time btw payments [29 27  5 48 38 35 36  9 41 39 29]
std of time btw payments 12.52171667263527
mean of payment amount 566.6666666666666
-------------------------
13 59134753176900000
time btw payments [ 14  35  49  35 175]
std of time btw payments 57.79134883354082
mean of payment amount 933.3333333333334
-------------------------
14 59134691680100000
time btw payments [ 4 31 55 32 28 31  0]
std of time btw payments 17.282762439813272
mean of payment amount 9487.5
-------------------------
15 84136886562100000
time btw payments [29 32 30  5 56 31 31]
std of time btw payments 13.65762103167671
mean of payment amount 10250.0
-------------------------
16 59134666467600000
time btw payments [46 21 21  7 30  7 19 37  4 14  8 14 14 14 27  7  3]
std of time btw payments 11.699821073366417
mean of payment amount 534.7222222222222
-------------------------
17 105137769890900000
time btw payments []
std of time btw payments nan
mean of payment amount nan
-------------------------
18 59134727113000000
time btw payments []
std of time btw payments nan
mean of payment amount nan
-------------------------
19 59134745004500000
time btw payments [15 31]
std of time btw payments 8.0
mean of payment amount 2033.3333333333333
-------------------------
20 57134726357400000
time btw payments [28 29 45]
std of time btw payments 7.788880963698615
mean of payment amount 3137.5
-------------------------
21 59135021173400000
time btw payments []
std of time btw payments nan
mean of payment amount 23000.0
-------------------------
22 57135920565300000
time btw payments [31 30 61 31 58]
std of time btw payments 14.161920773680384
mean of payment amount 2033.3333333333333
-------------------------
23 60136531885600000
time btw payments [161]
std of time btw payments 0.0
mean of payment amount 2850.0
-------------------------
24 59136998025000000
time btw payments [ 0 29 28]
std of time btw payments 13.4412301024373
mean of payment amount 2000.0
-------------------------
25 59136376033300000
time btw payments [ 7  7 42 31 25 22 19 26 16]
std of time btw payments 10.540925533894598
mean of payment amount 950.0
-------------------------
26 61134830133700000
time btw payments [30 31 31 28 31 30 31 30 31 30 31]
std of time btw payments 0.8813963377120598
mean of payment amount 9704.25
-------------------------
27 62135858405800000
time btw payments [34 23 15 32  7  3 21 36  6 48 15 29 11 66]
std of time btw payments 17.031183883975768
mean of payment amount 21266.666666666668
-------------------------
28 61134797983800000
time btw payments [31  0 31  0 32 27 31 30]
std of time btw payments 13.20747894187229
mean of payment amount 2271.1111111111113
-------------------------
29 50136756070500000
time btw payments [31 61 34 58]
std of time btw payments 13.583077707206124
mean of payment amount 4400.0
-------------------------
30 60134752045800000
time btw payments [37 32 28 35 28]
std of time btw payments 3.63318042491699
mean of payment amount 2000.0
-------------------------
31 60134787021500000
time btw payments []
std of time btw payments nan
mean of payment amount nan
-------------------------
32 105137414874400000
time btw payments []
std of time btw payments nan
mean of payment amount 7420.0
-------------------------
33 58134763288300000
time btw payments [72 81 28 35 37 46]
std of time btw payments 19.743494005761885
mean of payment amount 2392.8571428571427
-------------------------
34 61134804533700000
time btw payments [42 28]
std of time btw payments 7.0
mean of payment amount 1200.0
-------------------------
35 61134798041100000
time btw payments [31 31 32 27 31 30]
std of time btw payments 1.5986105077709065
mean of payment amount 2742.8571428571427
-------------------------
36 84136514083500000
time btw payments []
std of time btw payments nan
mean of payment amount nan
-------------------------
37 61135010791300000
time btw payments [35 21 42 28 28]
std of time btw payments 7.138627319029899
mean of payment amount 3000.0
-------------------------
38 59136685821800000
time btw payments [ 7 14  7 14  7  7  6 10  5 14  8 13 14  7  7  7  7 11 17 17]
std of time btw payments 3.800986713999406
mean of payment amount 285.7142857142857
-------------------------
39 61136428866300000
time btw payments []
std of time btw payments nan
mean of payment amount nan
-------------------------
40 61135409324300000
time btw payments [ 31  30  32  21  45  28  28  28 154]
std of time btw payments 39.30915766768871
mean of payment amount 4222.0
-------------------------
41 63136075164500000
time btw payments [29 30 30 31 30 31]
std of time btw payments 0.6871842709362768
mean of payment amount 1400.0
-------------------------
42 63134804220400000
time btw payments [29 34 28 32 28 28 35 28 28 35 28]
std of time btw payments 2.9260867162601962
mean of payment amount 7233.0
-------------------------
43 63134734786300000
time btw payments

/Users/juliacluceru/anaconda3/lib/python3.6/site-packages/numpy/core/_methods.py:135: RuntimeWarning: Degrees of freedom <= 0 for slice
  keepdims=keepdims)
/Users/juliacluceru/anaconda3/lib/python3.6/site-packages/numpy/core/_methods.py:105: RuntimeWarning: invalid value encountered in true_divide
  arrmean, rcount, out=arrmean, casting='unsafe', subok=False)
/Users/juliacluceru/anaconda3/lib/python3.6/site-packages/numpy/core/_methods.py:127: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

 [35 28 35 35 28 28 28 35 28  2 26 35]
std of time btw payments 8.760311384623012
mean of payment amount 1881.5384615384614
-------------------------
44 60138558075900000
time btw payments []
std of time btw payments nan
mean of payment amount nan
-------------------------
45 63134734844700000
time btw payments [35 21 42 28]
std of time btw payments 7.826237921249264
mean of payment amount 1720.0
-------------------------
46 59134942576600000
time btw payments [ 37  36  51 117  13  32  24]
std of time btw payments 31.61244911068281
mean of payment amount 5200.0
-------------------------
47 59134942516400000
time btw payments [ 37  29  61  61 135]
std of time btw payments 37.446495163099044
mean of payment amount 2333.3333333333335
-------------------------
48 59135900709000000
time btw payments [118  61  68]
std of time btw payments 25.381533094401966
mean of payment amount 1050.0
-------------------------
49 61134788847800000
time btw payments []
std of time btw payments nan
mean of payment amount 2000.0
-------------------------
50 63136808803000000
time btw payments [30 27 64 28]
std of time btw payments 15.481844205391036
mean of payment amount 8271.8
-------------------------
51 61134769746500000
time btw payments [32 24  0 70 29 30 21 61]
std of time btw payments 20.892208475888804
mean of payment amount 5559.444444444444
-------------------------
52 63134752889200000
time btw payments [31]
std of time btw payments 0.0
mean of payment amount 1200.0
-------------------------
53 89137408864000000
time btw payments [88 28]
std of time btw payments 30.0
mean of payment amount 2500.0
-------------------------
54 84136879000800000
time btw payments [30 31 31 28 63 31]
std of time btw payments 12.27010821287064
mean of payment amount 12513.142857142857
-------------------------
55 89138130900700000
time btw payments []
std of time btw payments nan
mean of payment amount 9500.0
-------------------------
56 62134702385700000
time btw payments [ 58 112   7  47]
std of time btw payments 37.489998666310996
mean of payment amount 3300.0
-------------------------
57 105137049848100000
time btw payments []
std of time btw payments nan
mean of payment amount 10000.0
-------------------------
58 56134756074400000
time btw payments [32 30 31 29 30 27 14 13 15 45 39]
std of time btw payments 9.696212091617006
mean of payment amount 13541.666666666666
-------------------------
59 57135840612400000
time btw payments [32 52 36 53]
std of time btw payments 9.364160400164021
mean of payment amount 15000.0
-------------------------
60 61134728400700000
time btw payments [14 21  7 14  7  7 28  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7 91  7
  7  7  7  7  7  7  7]
std of time btw payments 15.261576353678784
mean of payment amount 642.4375
-------------------------
61 79134944405200000
time btw payments [38 85 21]
std of time btw payments 27.067816067549053
mean of payment amount 5011.0
-------------------------
62 105137636847800000
time btw payments [31]
std of time btw payments 0.0
mean of payment amount 1500.0
-------------------------
63 60134978362300000
time btw payments [ 7  7  7  7  7  5  2  7  7  7 21  7  7 21 24  7  7  7 27 14  0  1 33 15]
std of time btw payments 8.356218575940249
mean of payment amount 2804.0
-------------------------
64 59135332895300000
time btw payments [ 37 119  28  35  28  28  35]
std of time btw payments 30.71395348657529
mean of payment amount 6937.5
-------------------------
65 59137629648900000
time btw payments [31]
std of time btw payments 0.0
mean of payment amount 6500.0
-------------------------
66 60135893778700000
time btw payments [56 63 49]
std of time btw payments 5.715476066494082
mean of payment amount 1625.0
-------------------------
67 61134797071300000
time btw payments [35 28 44 35 35 94]
std of time btw payments 22.326491489309785
mean of payment amount 4328.571428571428
-------------------------
68 58134814374400000
time btw payments [  7  12   8   7  14 147  30  31  31  31]
std of time btw payments 39.726061974477155
mean of payment amount 4272.727272727273
-------------------------
69 56135201879700000
time btw payments []
std of time btw payments nan
mean of payment amount 2500.0
-------------------------
70 105137629836900000
time btw payments []
std of time btw payments nan
mean of payment amount 5500.0
-------------------------
71 89138130387400000
time btw payments [ 7 31 25]
std of time btw payments 10.198039027185569
mean of payment amount 9875.0
-------------------------
72 50137023475700000
time btw payments [ 3 18  5 26 35 28 31 26 35]
std of time btw payments 11.274356350191843
mean of payment amount 2000.0
-------------------------
73 59134942469700000
time btw payments [31 32 28 35 28 28 28 35 28 31 32]
std of time btw payments 2.6410616447879907
mean of payment amount 9612.5
-------------------------
74 84136514094000000
time btw payments [36  0 46 31  0 31 29 34]
std of time btw payments 15.711759131300353
mean of payment amount 2200.0
-------------------------
75 105137899512900000
time btw payments []
std of time btw payments nan
mean of payment amount 15000.0
-------------------------
76 89136617005000000
time btw payments [33]
std of time btw payments 0.0
mean of payment amount 3900.0
-------------------------
77 59136861465600000
time btw payments [26 67 33 14  6]
std of time btw payments 21.08459153030952
mean of payment amount 1050.0
-------------------------
78 57134683686000000
time btw payments [31 31]
std of time btw payments 0.0
mean of payment amount 7216.666666666667
-------------------------
79 105136910664600000
time btw payments [33  0]
std of time btw payments 16.5
mean of payment amount 3333.3333333333335
-------------------------
80 60136500338400000
time btw payments []
std of time btw payments nan
mean of payment amount 2000.0
-------------------------

In [95]:
def find_borrowers_paid_back_in_x_days(df, x_days):
    loan_categories = pd.DataFrame()
    for idx, acct_id in enumerate(list(df.account_ids.unique())):
        print(idx, acct_id)
        
        loan_df = frmln_trx.loc[frmln_trx['account_ids']==acct_id]    
        loan_df = loan_df.copy()
        loan_df.sort_values("trx_stdtime_days_acc", inplace=True)
        owner_id = list(loan_df.m_ids_owner)[0]

        days_observed = loan_df.trx_stdtime_days_acc.max()
        key = str('paid_back_in_'+ str(x_days)+'_days')
        
        loan_df.insert(58,"trx_val_dir",np.zeros(loan_df.shape[0]))

        for index, row in loan_df.iterrows():
            if loan_df.loc[index,"trx_bsheet_direction"]=="Increase":
                loan_df.at[index,"trx_val_dir"] = loan_df.loc[index,"trx_value_kes"]
            elif loan_df.loc[index,"trx_bsheet_direction"]=="Decrease":
                loan_df.at[index,"trx_val_dir"] = -loan_df.loc[index,"trx_value_kes"]
            else:
                print("Error neither increase nor decrease at index" + str(index))
        loan_df.insert(59,"bal_evol",np.zeros(loan_df.shape[0]))
        
        s=0
        for index,row in loan_df.iterrows():
            s+=loan_df.loc[index,"trx_val_dir"]
            loan_df.at[index,"bal_evol"]=s
        
        
        if days_observed >= x_days: 
            # if the num days observed loan is greater than the num days we are looking at (e.g. 150 for 5 mos)
            # then we want to see if they paid back at the last trx before the x_days are up, 
            loan_x_days = loan_df.loc[loan_df['trx_stdtime_days_acc'] <= x_days]
        else:
            loan_x_days = loan_df

        balance_at_x_days = list(loan_x_days.bal_evol)[-1]
        print(balance_at_x_days)
        
        if balance_at_x_days <= 0: 
            print('less than 0!')
            loan_categories_line = {'account_ids': str(acct_id), 'm_ids_owner': owner_id, key: 1}
        else: 
            print('gt than 0!')
            loan_categories_line = {'account_ids': str(acct_id), 'm_ids_owner': owner_id, key: 0}
        
        loan_categories = loan_categories.append(loan_categories_line, ignore_index = True)        
    print(loan_categories)
    return loan_categories

In [96]:
y = find_borrowers_paid_back_in_x_days(frmln_trx, 150)

0 60137430710900000
Error neither increase nor decrease at index1
101300.0
gt than 0!
1 63136740549700000
Error neither increase nor decrease at index44
2800.0
gt than 0!
2 105136540140100000
Error neither increase nor decrease at index413
45000.0
gt than 0!
3 56134761927800000
Error neither increase nor decrease at index27
2720.0
gt than 0!
4 112137283351600000
Error neither increase nor decrease at index8
51200.0
gt than 0!
5 57134649143400000
Error neither increase nor decrease at index436
6150.0
gt than 0!
6 105137049319900000
Error neither increase nor decrease at index69
253608.0
gt than 0!
7 57136557858500000
Error neither increase nor decrease at index341
3900.0
gt than 0!
8 57134702786200000
Error neither increase nor decrease at index509
32500.0
gt than 0!
9 61134770599600000
Error neither increase nor decrease at index423
40000.0
gt than 0!
10 57136539616900000
Error neither increase nor decrease at index33
40000.0
gt than 0!
11 61135352095000000
Error neither increase nor decrease at index349
76000.0
gt than 0!
12 59134726342000000
Error neither increase nor decrease at index39
3000.0
gt than 0!
13 59134753176900000
2850.0
gt than 0!
14 59134691680100000
34900.0
gt than 0!
15 84136886562100000
Error neither increase nor decrease at index59
102500.0
gt than 0!
16 59134666467600000
Error neither increase nor decrease at index422
5325.0
gt than 0!
17 105137769890900000
Error neither increase nor decrease at index75
78600.0
gt than 0!
18 59134727113000000
Error neither increase nor decrease at index83
0.0
less than 0!
19 59134745004500000
Error neither increase nor decrease at index87
0.0
less than 0!
20 57134726357400000
Error neither increase nor decrease at index90
1000.0
gt than 0!
21 59135021173400000
Error neither increase nor decrease at index95
0.0
less than 0!
22 57135920565300000
Error neither increase nor decrease at index103
6000.0
gt than 0!
23 60136531885600000
Error neither increase nor decrease at index104
10200.0
gt than 0!
24 59136998025000000
Error neither increase nor decrease at index106
4242.0
gt than 0!
25 59136376033300000
Error neither increase nor decrease at index575
Error neither increase nor decrease at index107
7490.0
gt than 0!
26 61134830133700000
Error neither increase nor decrease at index109
1038732.0
gt than 0!
27 62135858405800000
-108000.0
less than 0!
28 61134797983800000
22064.0
gt than 0!
29 50136756070500000
Error neither increase nor decrease at index120
3000.0
gt than 0!
30 60134752045800000
Error neither increase nor decrease at index428
2000.0
gt than 0!
31 60134787021500000
Error neither increase nor decrease at index330
0.0
less than 0!
32 105137414874400000
Error neither increase nor decrease at index137
210580.0
gt than 0!
33 58134763288300000
Error neither increase nor decrease at index138
18750.0
gt than 0!
34 61134804533700000
Error neither increase nor decrease at index140
-1200.0
less than 0!
35 61134798041100000
53030.0
gt than 0!
36 84136514083500000
Error neither increase nor decrease at index151
0.0
less than 0!
37 61135010791300000
Error neither increase nor decrease at index227
3000.0
gt than 0!
38 59136685821800000
Error neither increase nor decrease at index153
4050.0
gt than 0!
39 61136428866300000
55000.0
gt than 0!
40 61135409324300000
Error neither increase nor decrease at index337
-19500.0
less than 0!
41 63136075164500000
Error neither increase nor decrease at index159
8400.0
gt than 0!
42 63134804220400000
Error neither increase nor decrease at index202
83835.0
gt than 0!
43 63134734786300000
Error neither increase nor decrease at index164
17800.0
gt than 0!
44 60138558075900000
Error neither increase nor decrease at index165
0.0
less than 0!
45 63134734844700000
Error neither increase nor decrease at index215
0.0
less than 0!
46 59134942576600000
Error neither increase nor decrease at index188
7075.0
gt than 0!
47 59134942516400000
Error neither increase nor decrease at index172
6000.0
gt than 0!
48 59135900709000000
Error neither increase nor decrease at index176
5100.0
gt than 0!
49 61134788847800000
Error neither increase nor decrease at index229
5000.0
gt than 0!
50 63136808803000000
Error neither increase nor decrease at index239
158641.0
gt than 0!
51 61134769746500000
Error neither increase nor decrease at index376
38165.0
gt than 0!
52 63134752889200000
Error neither increase nor decrease at index221
0.0
less than 0!
53 89137408864000000
-910.0
less than 0!
54 84136879000800000
Error neither increase nor decrease at index236
284187.0
gt than 0!
55 89138130900700000
Error neither increase nor decrease at index250
40000.0
gt than 0!
56 62134702385700000
Error neither increase nor decrease at index248
8300.0
gt than 0!
57 105137049848100000
Error neither increase nor decrease at index257
0.0
less than 0!
58 56134756074400000
Error neither increase nor decrease at index288
107250.0
gt than 0!
59 57135840612400000
Error neither increase nor decrease at index419
15000.0
gt than 0!
60 61134728400700000
14457.0
gt than 0!
61 79134944405200000
Error neither increase nor decrease at index416
-44.0
less than 0!
62 105137636847800000
Error neither increase nor decrease at index464
19534.0
gt than 0!
63 60134978362300000
Error neither increase nor decrease at index316
50100.0
gt than 0!
64 59135332895300000
Error neither increase nor decrease at index331
3500.0
gt than 0!
65 59137629648900000
Error neither increase nor decrease at index334
20000.0
gt than 0!
66 60135893778700000
Error neither increase nor decrease at index342
2000.0
gt than 0!
67 61134797071300000
22700.0
gt than 0!
68 58134814374400000
Error neither increase nor decrease at index480
75500.0
gt than 0!
69 56135201879700000
Error neither increase nor decrease at index372
-1200.0
less than 0!
70 105137629836900000
Error neither increase nor decrease at index377
0.0
less than 0!
71 89138130387400000
Error neither increase nor decrease at index631
21000.0
gt than 0!
72 50137023475700000
Error neither increase nor decrease at index411
18000.0
gt than 0!
73 59134942469700000
Error neither increase nor decrease at index454
58300.0
gt than 0!
74 84136514094000000
Error neither increase nor decrease at index418
14200.0
gt than 0!
75 105137899512900000
Error neither increase nor decrease at index429
135000.0
gt than 0!
76 89136617005000000
0.0
less than 0!
77 59136861465600000
Error neither increase nor decrease at index448
4300.0
gt than 0!
78 57134683686000000
0.0
less than 0!
79 105136910664600000
Error neither increase nor decrease at index530
35000.0
gt than 0!
80 60136500338400000
5300.0
gt than 0!
           account_ids        m_ids_owner  paid_back_in_150_days
0    60137430710900000  60134547419200000                    0.0
1    63136740549700000  63134425702500000                    0.0
2   105136540140100000  65134432186900000                    0.0
3    56134761927800000  65134442822400000                    0.0
4   112137283351600000  61134406652800000                    0.0
5    57134649143400000  57134407687800000                    0.0
6   105137049319900000  56134397318700000                    0.0
7    57136557858500000  57134320447800000                    0.0
8    57134702786200000  57134339147100000                    0.0
9    61134770599600000  61134406243400000                    0.0
10   57136539616900000  57134303074500000                    0.0
11   61135352095000000  61134423778900000                    0.0
12   59134726342000000  59134362693600000                    0.0
13   59134753176900000                 HH                    0.0
14   59134691680100000  59134327942800000                    0.0
15   84136886562100000  61134467126800000                    0.0
16   59134666467600000                 HH                    0.0
17  105137769890900000  56134388724900000                    0.0
18   59134727113000000  59134363516700000                    1.0
19   59134745004500000  59134381215900000                    1.0
20   57134726357400000  57134364414700000                    0.0
21   59135021173400000  59134372493300000                    1.0
22   57135920565300000  57134408247700000                    0.0
23   60136531885600000  60134322152600000                    0.0
24   59136998025000000  59134327942800000                    0.0
25   59136376033300000  59134381215900000                    0.0
26   61134830133700000  61134467335400000                    0.0
27   62135858405800000  62134443073700000                    1.0
28   61134797983800000  61134338082500000                    0.0
29   50136756070500000  64134445268900000                    0.0
30   60134752045800000  60134433892200000                    0.0
31   60134787021500000                 HH                    1.0
32  105137414874400000  65134441422200000                    0.0
33   58134763288300000  58134382346100000                    0.0
34   61134804533700000  61134442496500000                    1.0
35   61134798041100000  61134338082500000                    0.0
36   84136514083500000  56134329355600000                    1.0
37   61135010791300000  61134382134100000                    0.0
38   59136685821800000  59134399785800000                    0.0
39   61136428866300000  61134470104500000                    0.0
40   61135409324300000  61134381034300000                    1.0
41   63136075164500000  63134382172900000                    0.0
42   63134804220400000  63134433360400000                    0.0
43   63134734786300000  63134363237200000                    0.0
44   60138558075900000  60134451225400000                    1.0
45   63134734844700000  63134363237200000                    1.0
46   59134942576600000  59134311227800000                    0.0
47   59134942516400000  59134311227800000                    0.0
48   59135900709000000  59134388500400000                    0.0
49   61134788847800000  61134491524800000                    0.0
50   63136808803000000  63134459785700000                    0.0
51   61134769746500000  61134479318400000                    0.0
52   63134752889200000  63134382172900000                    1.0
53   89137408864000000  79134829266800000                    1.0
54   84136879000800000  61134469982600000                    0.0
55   89138130900700000  64134482630800000                    0.0
56   62134702385700000  62134347056700000                    0.0
57  105137049848100000  65134441422200000                    1.0
58   56134756074400000  56134388724900000                    0.0
59   57135840612400000  57134322015900000                    0.0
60   61134728400700000  61134394294700000                    0.0
61   79134944405200000  64134445268900000                    1.0
62  105137636847800000  65134436228800000                    0.0
63   60134978362300000  60134547419200000                    0.0
64   59135332895300000  59134379470300000                    0.0
65   59137629648900000                 HH                    0.0
66   60135893778700000                 HH                    0.0
67   61134797071300000  61134553127800000                    0.0
68   58134814374400000  58134433254800000                    0.0
69   56135201879700000  65134442822400000                    1.0
70  105137629836900000  56134397318700000                    1.0
71   89138130387400000  64134452134100000                    0.0
72   50137023475700000  79135062746000000                    0.0
73   59134942469700000  59134311227800000                    0.0
74   84136514094000000  56134329355600000                    0.0
75  105137899512900000  65134433094700000                    0.0
76   89136617005000000  79134829266800000                    1.0
77   59136861465600000  59134337917700000                    0.0
78   57134683686000000  57134320447800000                    1.0
79  105136910664600000  65134433094700000                    0.0
80   60136500338400000  60134380370600000                    0.0

In [97]:
y

           account_ids        m_ids_owner  paid_back_in_150_days
0    60137430710900000  60134547419200000                    0.0
1    63136740549700000  63134425702500000                    0.0
2   105136540140100000  65134432186900000                    0.0
3    56134761927800000  65134442822400000                    0.0
4   112137283351600000  61134406652800000                    0.0
5    57134649143400000  57134407687800000                    0.0
6   105137049319900000  56134397318700000                    0.0
7    57136557858500000  57134320447800000                    0.0
8    57134702786200000  57134339147100000                    0.0
9    61134770599600000  61134406243400000                    0.0
10   57136539616900000  57134303074500000                    0.0
11   61135352095000000  61134423778900000                    0.0
12   59134726342000000  59134362693600000                    0.0
13   59134753176900000                 HH                    0.0
14   59134691680100000  59134327942800000                    0.0
15   84136886562100000  61134467126800000                    0.0
16   59134666467600000                 HH                    0.0
17  105137769890900000  56134388724900000                    0.0
18   59134727113000000  59134363516700000                    1.0
19   59134745004500000  59134381215900000                    1.0
20   57134726357400000  57134364414700000                    0.0
21   59135021173400000  59134372493300000                    1.0
22   57135920565300000  57134408247700000                    0.0
23   60136531885600000  60134322152600000                    0.0
24   59136998025000000  59134327942800000                    0.0
25   59136376033300000  59134381215900000                    0.0
26   61134830133700000  61134467335400000                    0.0
27   62135858405800000  62134443073700000                    1.0
28   61134797983800000  61134338082500000                    0.0
29   50136756070500000  64134445268900000                    0.0
30   60134752045800000  60134433892200000                    0.0
31   60134787021500000                 HH                    1.0
32  105137414874400000  65134441422200000                    0.0
33   58134763288300000  58134382346100000                    0.0
34   61134804533700000  61134442496500000                    1.0
35   61134798041100000  61134338082500000                    0.0
36   84136514083500000  56134329355600000                    1.0
37   61135010791300000  61134382134100000                    0.0
38   59136685821800000  59134399785800000                    0.0
39   61136428866300000  61134470104500000                    0.0
40   61135409324300000  61134381034300000                    1.0
41   63136075164500000  63134382172900000                    0.0
42   63134804220400000  63134433360400000                    0.0
43   63134734786300000  63134363237200000                    0.0
44   60138558075900000  60134451225400000                    1.0
45   63134734844700000  63134363237200000                    1.0
46   59134942576600000  59134311227800000                    0.0
47   59134942516400000  59134311227800000                    0.0
48   59135900709000000  59134388500400000                    0.0
49   61134788847800000  61134491524800000                    0.0
50   63136808803000000  63134459785700000                    0.0
51   61134769746500000  61134479318400000                    0.0
52   63134752889200000  63134382172900000                    1.0
53   89137408864000000  79134829266800000                    1.0
54   84136879000800000  61134469982600000                    0.0
55   89138130900700000  64134482630800000                    0.0
56   62134702385700000  62134347056700000                    0.0
57  105137049848100000  65134441422200000                    1.0
58   56134756074400000  56134388724900000                    0.0
59   57135840612400000  57134322015900000                    0.0
60   61134728400700000  61134394294700000                    0.0
61   79134944405200000  64134445268900000                    1.0
62  105137636847800000  65134436228800000                    0.0
63   60134978362300000  60134547419200000                    0.0
64   59135332895300000  59134379470300000                    0.0
65   59137629648900000                 HH                    0.0
66   60135893778700000                 HH                    0.0
67   61134797071300000  61134553127800000                    0.0
68   58134814374400000  58134433254800000                    0.0
69   56135201879700000  65134442822400000                    1.0
70  105137629836900000  56134397318700000                    1.0
71   89138130387400000  64134452134100000                    0.0
72   50137023475700000  79135062746000000                    0.0
73   59134942469700000  59134311227800000                    0.0
74   84136514094000000  56134329355600000                    0.0
75  105137899512900000  65134433094700000                    0.0
76   89136617005000000  79134829266800000                    1.0
77   59136861465600000  59134337917700000                    0.0
78   57134683686000000  57134320447800000                    1.0
79  105136910664600000  65134433094700000                    0.0
80   60136500338400000  60134380370600000                    0.0