In [1]:
import os
import pandas as pd 
import glob
import random 
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline 
import math

In [2]:
pd.set_option('display.max_columns',200)
pd.set_option('display.max_rows',680)

## Read in data:

In [3]:
os.listdir()

['categorize_loanpayer_per_person.ipynb',
 'numPeople_MultipleLoans.ipynb',
 '.DS_Store',
 'everyPaymentUnder35_paidWithin150.csv',
 'graph_loans_bus_ag_julia.ipynb',
 'different_loan_types_julia.ipynb',
 'Demographics_Education_Julia.ipynb',
 'truncating_loans_bus_ag_julia.ipynb',
 'Start_Balance_Ella-Julia.ipynb',
 'diaries_trx_trunc_loans.csv',
 'everyPaymentUnder33_paidWithin150.csv',
 'one_time_payments_julia.ipynb',
 'metrics_oneTimePayments.ipynb',
 'Truncation_Ella-Julia.ipynb',
 'consumption_julia.ipynb',
 'everyPaymentUnder33_paidWithin150_paid4times.csv',
 'steady_payments_or_not.ipynb',
 'diaries_trx_trunc_loans_start_bal.csv',
 '.ipynb_checkpoints',
 'graphs',
 'steady_payments_or_not-pureTruncElla.ipynb',
 'Pure_Truncation_Ella-Julia.ipynb',
 'initial_exploration_julia.ipynb']

In [4]:
trx = pd.read_csv('diaries_trx_trunc_loans_start_bal.csv', low_memory = False, dtype = {'new_account_ids': 'object'})

##  Formal Loans (FRMLN)

Step 1: Subset to loans w/ FRMLN designation:

In [5]:
frmln_trx = trx.loc[trx['trx_family_code']=="FRMLN"]
frmln_trx.shape

(717, 64)

Step 2: What are the different types of formal loans and how many are there?

In [6]:
frmln_trx.loc[frmln_trx['unique_accnts']==1].trx_type_desc.value_counts()

Individual Business or Agriculture Loan      30
Consumer/ personal loan (not payday loan)    28
Joint liability loan                         17
Name: trx_type_desc, dtype: int64

In [7]:
frmln_trx.loc[frmln_trx['unique_accnts']==1].trx_type_code.value_counts()

2760    30
2762    28
3247    17
Name: trx_type_code, dtype: int64

Step 2: Let's look at standard deviations of the payment amounts:

In [8]:
for idx, acct_id in enumerate(list(frmln_trx.account_ids.unique())):
    print(idx, acct_id)
    loan_df = frmln_trx.loc[frmln_trx['account_ids']==acct_id]    
    loan_df = loan_df.copy()
    loan_df.sort_values("trx_stdtime_days_acc", inplace=True)
    
    #subset down only to payments
    payment_idxs = [idx for idx, purpose in enumerate(list(loan_df['trx_prx_purpose'])) if 'Payment' in purpose]
    payment_df= loan_df.iloc[payment_idxs]
    
    #figure out a vector of time between payments
    time_btw_payments = np.diff(np.array(payment_df.trx_stdtime_days_acc))
    
    print('time btw payments', time_btw_payments)
    print('std of time btw payments', np.std(time_btw_payments))
    print('mean of payment amount', np.mean(payment_df.trx_value_kes))
    print('-------------------------')

0 60137430710900000
time btw payments [31 34]
std of time btw payments 1.5
mean of payment amount 11233.333333333334
-------------------------
1 63136740549700000
time btw payments [30 30 31 31 30]
std of time btw payments 0.4898979485566356
mean of payment amount 2800.0
-------------------------
2 105136540140100000
time btw payments [74 30 31 31 30]
std of time btw payments 17.405746177627663
mean of payment amount 7166.666666666667
-------------------------
3 56134761927800000
time btw payments [29 62 32 28 31]
std of time btw payments 12.877888025604198
mean of payment amount 3575.0
-------------------------
4 112137283351600000
time btw payments [42]
std of time btw payments 0.0
mean of payment amount 5000.0
-------------------------
5 57134649143400000
time btw payments [28 36 27 33 30 28 28]
std of time btw payments 3.070597894314954
mean of payment amount 2050.0
-------------------------
6 105137049319900000
time btw payments [52 24 18]
std of time btw payments 14.817407180595245
mean of payment amount 11098.0
-------------------------
7 57136557858500000
time btw payments [31 30 31 30]
std of time btw payments 0.5
mean of payment amount 1326.0
-------------------------
8 57134702786200000
time btw payments [29 32 30 31 28 28 34 30 29 32 33 26]
std of time btw payments 2.229848026709942
mean of payment amount 2800.0
-------------------------
9 61134770599600000
time btw payments []
std of time btw payments nan
mean of payment amount nan
-------------------------
10 57136539616900000
time btw payments [ 7  7  7 24 55  7 26]
std of time btw payments 16.673332000533065
mean of payment amount 5125.0
-------------------------
11 61135352095000000
time btw payments [29 33 30 27 35 28 31 31 32 29 28]
std of time btw payments 2.2998382983042758
mean of payment amount 6000.0
-------------------------
12 59134726342000000
time btw payments [109  38  35  36   9  41  39  29]
std of time btw payments 27.060118255469618
mean of payment amount 611.1111111111111
-------------------------
13 59134753176900000
time btw payments [ 14  35  49  35 175]
std of time btw payments 57.79134883354082
mean of payment amount 933.3333333333334
-------------------------
14 59134691680100000
time btw payments [ 4 31 55 32 28 31  0]
std of time btw payments 17.282762439813272
mean of payment amount 9487.5
-------------------------
15 84136886562100000
time btw payments [29 32 30  5 56 31 31]
std of time btw payments 13.65762103167671
mean of payment amount 10250.0
-------------------------
16 105137769890900000
time btw payments []
std of time btw payments nan
mean of payment amount nan
-------------------------
17 59134745004500000
time btw payments [15 31]
std of time btw payments 8.0
mean of payment amount 2033.3333333333333
-------------------------
18 57134726357400000
time btw payments [28 29 45]
std of time btw payments 7.788880963698615
mean of payment amount 3137.5
-------------------------
19 59135021173400000
time btw payments []
std of time btw payments nan
mean of payment amount 23000.0
-------------------------
20 57135920565300000
time btw payments [31 30 61 31 58]
std of time btw payments 14.161920773680384
mean of payment amount 2033.3333333333333
-------------------------
21 60136531885600000
time btw payments [161]
std of time btw payments 0.0
mean of payment amount 2850.0
-------------------------
22 59136998025000000
time btw payments [ 0 29 28]
std of time btw payments 13.4412301024373
mean of payment amount 2000.0
-------------------------
23 59136376033300000
time btw payments [ 7  7 42 31 25 22 19 26 16]
std of time btw payments 10.540925533894598
mean of payment amount 950.0
-------------------------
24 61134830133700000
time btw payments [30 31 31 28 31 30 31 30 31 30 31]
std of time btw payments 0.8813963377120598
mean of payment amount 9704.25
-------------------------
25 62135858405800000
time btw payments [34 23 15 32  7  3 21 36  6 48 15 29 11 66]
std of time btw payments 17.031183883975768
mean of payment amount 21266.666666666668
-------------------------
26 61134797983800000
time btw payments [31  0 31  0 32 27 31 30]
std of time btw payments 13.20747894187229
mean of payment amount 2271.1111111111113
-------------------------
27 50136756070500000
time btw payments [31 61 34 58]
std of time btw payments 13.583077707206124
mean of payment amount 4400.0
-------------------------
28 60134752045800000
time btw payments [37 32 28 35 28]
std of time btw payments 3.63318042491699
mean of payment amount 2000.0
-------------------------
29 105137414874400000
time btw payments []
std of time btw payments nan
mean of payment amount 7420.0
-------------------------
30 58134763288300000
time btw payments [72 81 28 35 37 46]
std of time btw payments 19.743494005761885
mean of payment amount 2392.8571428571427
-------------------------
31 61134804533700000
time btw payments [42 28]
std of time btw payments 7.0
mean of payment amount 1200.0
-------------------------
32 61134798041100000
time btw payments [31 31 32 27 31 30]
std of time btw payments 1.5986105077709065
mean of payment amount 2742.8571428571427
-------------------------
33 61135010791300000
time btw payments [35 21 42 28 28]
std of time btw payments 7.138627319029899
mean of payment amount 3000.0
-------------------------
34 59136685821800000
time btw payments [ 7 14  7 14  7  7  6 10  5 14  8 13 14  7  7  7  7 11 17 17]
std of time btw payments 3.800986713999406
mean of payment amount 285.7142857142857
-------------------------
35 61136428866300000
time btw payments []
std of time btw payments nan
mean of payment amount nan
-------------------------
36 61135409324300000
time btw payments [ 31  30  32  21  45  28  28  28 154]
std of time btw payments 39.30915766768871
mean of payment amount 4222.0
-------------------------
37 63136075164500000
time btw payments [29 30 30 31 30 31]
std of time btw payments 0.6871842709362768
mean of payment amount 1400.0
-------------------------
38 63134804220400000
time btw payments [29 34 28 32 28 28 35 28 28 35 28]
std of time btw payments 2.9260867162601962
mean of payment amount 7233.0
-------------------------
39 63134734786300000
time btw payments [35 28 35 35 28 28 28 35 28  2 26 35]
std of time btw payments 8.760311384623012
mean of payment amount 1881.5384615384614
-------------------------
40 63134734844700000
time btw payments [35 21 42 28]
std of time btw payments 7.826237921249264
mean of payment amount 1720.0
-------------------------
41 59134942576600000
time btw payments [ 37  36  51 117  13  32  24]
std of time btw payments 31.61244911068281
mean of payment amount 5200.0
-------------------------
42 59134942516400000
time btw payments [ 37  29  61  61 135]
std of time btw payments 37.446495163099044
mean of payment amount 2333.3333333333335
-------------------------
43 59135900709000000
time btw payments [118  61  68]
std of time btw payments 25.381533094401966
mean of payment amount 1050.0
-------------------------
44 61134788847800000
time btw payments []
std of time btw payments nan
mean of payment amount 2000.0
-------------------------
45 63136808803000000
time btw payments [30 27 64 28]
std of time btw payments 15.481844205391036
mean of payment amount 8271.8
-------------------------
46 61134769746500000
time btw payments [32 24  0 70 29 30 21 61]
std of time btw payments 20.892208475888804
mean of payment amount 5559.444444444444
-------------------------
47 63134752889200000
time btw payments [31]
std of time btw payments 0.0
mean of payment amount 1200.0
-------------------------
48 89137408864000000
time btw payments [88 28]
std of time btw payments 30.0
mean of payment amount 2500.0
-------------------------
49 84136879000800000
time btw payments [30 31 31 28 63 31]
std of time btw payments 12.27010821287064
mean of payment amount 12513.142857142857
-------------------------
50 89138130900700000
time btw payments []
std of time btw payments nan
mean of payment amount 9500.0
-------------------------
51 62134702385700000
time btw payments [ 58 112   7  47]
std of time btw payments 37.489998666310996
mean of payment amount 3300.0
-------------------------
52 105137049848100000
time btw payments []
std of time btw payments nan
mean of payment amount 10000.0
-------------------------
53 56134756074400000
time btw payments [32 30 31 29 30 27 14 13 15 45 39]
std of time btw payments 9.696212091617006
mean of payment amount 13541.666666666666
-------------------------
54 57135840612400000
time btw payments [32 52 36 53]
std of time btw payments 9.364160400164021
mean of payment amount 15000.0
-------------------------
55 61134728400700000
time btw payments [14 21  7 14  7  7 28  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7 91  7
  7  7  7  7  7  7  7]
std of time btw payments 15.261576353678784
mean of payment amount 642.4375
-------------------------
56 79134944405200000
time btw payments [38 85 21]
std of time btw payments 27.067816067549053
mean of payment amount 5011.0
-------------------------
57 105137636847800000
time btw payments [31]
std of time btw payments 0.0
mean of payment amount 1500.0
-------------------------
58 60134978362300000
time btw payments [ 7  7  7  7  7  5  2  7  7  7 21  7  7 21 24  7  7  7 27 14  0  1 33 15]
std of time btw payments 8.356218575940249
mean of payment amount 2804.0
-------------------------
59 59135332895300000
time btw payments [ 37 119  28  35  28  28  35]
std of time btw payments 30.71395348657529
mean of payment amount 6937.5
-------------------------
60 59137629648900000
time btw payments [31]
std of time btw payments 0.0
mean of payment amount 6500.0
-------------------------
61 60135893778700000
time btw payments [56 63 49]
std of time btw payments 5.715476066494082
mean of payment amount 1625.0
-------------------------
62 61134797071300000
time btw payments [35 28 44 35 35 94]
std of time btw payments 22.326491489309785
mean of payment amount 4328.571428571428
-------------------------
63 58134814374400000
time btw payments [  7  12   8   7  14 147  30  31  31  31]
std of time btw payments 39.726061974477155
mean of payment amount 4272.727272727273
-------------------------
64 56135201879700000
time btw payments []
std of time btw payments nan
mean of payment amount 2500.0
-------------------------
65 105137629836900000
time btw payments []
std of time btw payments nan
mean of payment amount 5500.0
-------------------------
66 89138130387400000
time btw payments [ 7 31 25]
std of time btw payments 10.198039027185569
mean of payment amount 9875.0
-------------------------
67 50137023475700000
time btw payments [ 3 18  5 26 35 28 31 26 35]
std of time btw payments 11.274356350191843
mean of payment amount 2000.0
-------------------------
68 59134942469700000
time btw payments [31 32 28 35 28 28 28 35 28 31 32]
std of time btw payments 2.6410616447879907
mean of payment amount 9612.5
-------------------------
69 84136514094000000
time btw payments [36  0 46 31  0 31 29 34]
std of time btw payments 15.711759131300353
mean of payment amount 2200.0
-------------------------
70 59134666467600000
time btw payments [21 21  7 30  7 19 37  4 14  8 14 14 14 27  7  3]
std of time btw payments 9.512943485062864
mean of payment amount 401.47058823529414
-------------------------
71 105137899512900000
time btw payments []
std of time btw payments nan
mean of payment amount 15000.0
-------------------------
72 89136617005000000
time btw payments [33]
std of time btw payments 0.0
mean of payment amount 3900.0
-------------------------
73 59136861465600000
time btw payments [26 67 33 14  6]
std of time btw payments 21.08459153030952
mean of payment amount 1050.0
-------------------------
74 57134683686000000
time btw payments [31 31]
std of time btw payments 0.0
mean of payment amount 7216.666666666667
-------------------------
75 105136910664600000
time btw payments [33  0]
std of time btw payments 16.5
mean of payment amount 3333.3333333333335
-------------------------
76 60136500338400000
time btw payments []
std of time btw payments nan
mean of payment amount 2000.0
-------------------------

/Users/juliacluceru/anaconda3/lib/python3.6/site-packages/numpy/core/_methods.py:135: RuntimeWarning: Degrees of freedom <= 0 for slice
  keepdims=keepdims)
/Users/juliacluceru/anaconda3/lib/python3.6/site-packages/numpy/core/_methods.py:105: RuntimeWarning: invalid value encountered in true_divide
  arrmean, rcount, out=arrmean, casting='unsafe', subok=False)
/Users/juliacluceru/anaconda3/lib/python3.6/site-packages/numpy/core/_methods.py:127: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

In [9]:
acct_id = list(frmln_trx.new_account_ids.unique())[0]

In [10]:
loan_df = frmln_trx.loc[frmln_trx['new_account_ids']==acct_id]    
loan_df = loan_df.copy()
loan_df.sort_values("trx_stdtime_days_acc", inplace=True)

In [11]:
loan_df.trx_stdtime_days_acc.max()

129

In [12]:
loan_df

,Unnamed: 0,Unnamed: 0.1,hh_ids,unique_hhs,first_trx_date_hh,last_trx_date_hh,tot_hh_daysofobs,tot_hh_monthsofobs,interview_designation,int_date,int_month,int_year,int_yr_mo,first_int_date,account_ids,new_account_ids,unique_accnts,m_ids_owner,unique_hm_owner,account_bsheet_desig,account_startclose_balance,account_formal,account_liquid,first_trx_date_acc,last_trx_date_acc,tot_acc_daysofobs,tot_acc_monthsofobs,trx_id,m_ids_trx,trx_date,trx_month,trx_year,trx_yr_mo,trx_dq_round,trx_stdtime_days_hh,trx_stdtime_mnths_hh,trx_stdtime_days_acc,trx_stdtime_mnths_acc,trx_class_code,trx_class_desc,trx_family_code,trx_family_desc,trx_type_code,trx_type_desc,trx_prx_purpose,trx_prx_purpose_fd,trx_fee,trx_bsheet_direction,trx_mode_code,trx_mode_desc,trx_place_incommunity,trx_distance_km,trx_outlet,trx_direction,trx_value_kes,trx_value_usd,ddd_gift,trx_inkind_units,trx_inkind_value_usd,trx_inkind_value_kes,trx_stdtime_mnths_hh_nr,acc_unexplained_trx,bal_evol,start_bal
436,455,7277,KVIHK40,NaN,10sep2012,03oct2013,388,13,04=Diaries Interview,04jun2013,6,2013,2013_06,04sep2012,60137430710900000,60137430710900000.1,1.0,60134547419200000,NaN,Liability,NaN,Formal,NaN,27may2013,03oct2013,129,4,60137430758700000,60134547419200000,27may2013,5,2013,2013_05,14.0,259,8,0,0,findev,"Borrowing, lending, savings or insurance media...",FRMLN,Formal loan,2760,Individual Business or Agriculture Loan,5. Interest accruing,NaN,0.0,Increase,1.0,Cash,NaN,NaN,NaN,NaN,35000.0,411.7647,0,NaN,NaN,NaN,8.931034,0.0,135000.0,100000.0
3138,3200,398018,KVIHK40,NaN,10sep2012,03oct2013,388,13,04=Diaries Interview,04jun2013,6,2013,2013_06,04sep2012,60137430710900000,60137430710900000.1,NaN,60134547419200000,NaN,Liability,NaN,Formal,NaN,27may2013,03oct2013,129,4,60137430753900000,60134547419200000,27may2013,5,2013,2013_05,14.0,259,8,0,0,findev,"Borrowing, lending, savings or insurance media...",FRMLN,Formal loan,2760,Individual Business or Agriculture Loan,2. New borrowing,New borrowing on financial liability,0.0,Increase,1.0,Cash,1.0,0.0,"01=Bank, MFI, SACCO, insurance branch",Inflow,100000.0,1176.4710,0,NaN,NaN,NaN,8.931034,0.0,100000.0,100000.0
1727,1784,124091,KVIHK40,NaN,10sep2012,03oct2013,388,13,04=Diaries Interview,23jul2013,7,2013,2013_07,04sep2012,60137430710900000,60137430710900000.1,NaN,60134547419200000,NaN,Liability,NaN,Formal,NaN,27may2013,03oct2013,129,4,60137589607700000,60134547419200000,06jul2013,7,2013,2013_07,17.0,299,10,40,1,findev,"Borrowing, lending, savings or insurance media...",FRMLN,Formal loan,2760,Individual Business or Agriculture Loan,3. Payments,Repayment on financial liability,0.0,Decrease,1.0,Cash,1.0,0.0,09=At home or work (self or collector/agent),Outflow,11250.0,132.3529,0,NaN,NaN,NaN,10.310340,0.0,123750.0,100000.0
1956,2014,176101,KVIHK40,NaN,10sep2012,03oct2013,388,13,04=Diaries Interview,20aug2013,8,2013,2013_08,04sep2012,60137430710900000,60137430710900000.1,NaN,60134547419200000,NaN,Liability,NaN,Formal,NaN,27may2013,03oct2013,129,4,60138373017000000,60134547419200000,06aug2013,8,2013,2013_08,19.0,330,11,71,2,findev,"Borrowing, lending, savings or insurance media...",FRMLN,Formal loan,2760,Individual Business or Agriculture Loan,3. Payments,Repayment on financial liability,0.0,Decrease,1.0,Cash,1.0,0.0,"12=Other institution (school, clinic, church)",Outflow,11250.0,132.3529,0,NaN,NaN,NaN,11.379310,0.0,112500.0,100000.0
2571,2632,295205,KVIHK40,NaN,10sep2012,03oct2013,388,13,04=Diaries Interview,18sep2013,9,2013,2013_09,04sep2012,60137430710900000,60137430710900000.1,NaN,60134547419200000,NaN,Liability,NaN,Formal,NaN,27may2013,03oct2013,129,4,60138557814100000,60134547419200000,09sep2013,9,2013,2013_09,21.0,364,12,105,3,findev,"Borrowing, lending, savings or insurance media...",FRMLN,Formal loan,2760,Individual Business or Agriculture Loan,3. Payments,Repayment on financial liability,0.0,Decrease,1.0,Cash,1.0,0.0,09=At home or work (self or collector/agent),Outflow,11200.0,131.7647,0,NaN,NaN,NaN,12.551720,0.0,101300.0,100000.0
2,2,27,KVIHK40,NaN,10sep2012,03oct2013,388,13,06=Cleaning interview,04oct2013,10,2013,2013_10,04sep2012,60137430710900000,60137430710900000.1,NaN,60134547419200000,NaN,Liability,Close,Formal,NaN,27may2013,03oct2013,129,4,60138614254500000,60134547419200000,03oct2013,10,2013,2013_10,23.0,388,13,129,4,findev,"Borrowing, lending, savings or insurance media...",FRMLN,Formal loan,2760,Individual Business or Agriculture Loan,6. Closing Balance--End of last DQ,NaN,0.0,NaN,19.0,CLOSING BALANCE,NaN,NaN,NaN,NaN,101300.0,1191.7650,0,NaN,NaN,NaN,13.379310,0.0,101300.0,100000.0

Step 3: Investigate whether someone has a time period over "thresh" days, classify that loan into one category or another.

In [13]:
# def find_borrowers_num_days_threshold(df, thresh, x_days):
#     # df is df of all trx of loans
#     # thresh is the cutoff for num days between loans 
#     # x_days is the number of days we want to look at a loan to evaluate regularity... e.g. 180. Should probably be the same 
#     # as the x_days in the next function as well. For example, if we look at 180 days, we should look at the num 
#     # times w/i that 180 days that someone paid back 180/x_days.floor() times....
    
#     loan_categories = pd.DataFrame()
#     for idx, acct_id in enumerate(list(df.new_account_ids.unique())):
#         print(idx, acct_id)
        
#         loan_df = frmln_trx.loc[frmln_trx['new_account_ids']==acct_id]    
#         loan_df = loan_df.copy()
#         loan_df.sort_values("trx_stdtime_days_acc", inplace=True)
#         owner_id = list(loan_df.m_ids_owner)[0]
#         key1 = 'every_payment_under_'+str(thresh)+'_days'
        
#         ## Create the balance evolution: 
#         loan_df.insert(58,"trx_val_dir",np.zeros(loan_df.shape[0]))

#         for index, row in loan_df.iterrows():
#             if loan_df.loc[index,"trx_bsheet_direction"]=="Increase":
#                 loan_df.at[index,"trx_val_dir"] = loan_df.loc[index,"trx_value_kes"]
#             elif loan_df.loc[index,"trx_bsheet_direction"]=="Decrease":
#                 loan_df.at[index,"trx_val_dir"] = -loan_df.loc[index,"trx_value_kes"]
#             else:
#                 print("Error neither increase nor decrease at index" + str(index))
#         loan_df.insert(59,"bal_evol",np.zeros(loan_df.shape[0]))
        
#         s=0
#         for index,row in loan_df.iterrows():
#             s+=loan_df.loc[index,"trx_val_dir"]
#             loan_df.at[index,"bal_evol"]=s    
        
        
#         #subset down only to payments
#         payment_idxs = [idx for idx, purpose in enumerate(list(loan_df['trx_prx_purpose'])) if 'Payment' in purpose]
#         payment_df= loan_df.iloc[payment_idxs]
        
        
#         # num times they should have paid in x_days
#         num_payments = len(payment_idxs)
#         num_times_should_have_paid = math.floor(x_days/thresh)
#         key2 = 'paid_'+str(num_times_should_have_paid)+"_times_in_"+str(x_days)
        
#         # calculate the array of time between payments: 
#         time_btw_payments = np.diff(np.array(payment_df.trx_stdtime_days_acc))
        
#         print('time btw payments', time_btw_payments)
#         print('std of time btw payments', np.std(time_btw_payments))
#         print('mean of payment amount', np.mean(payment_df.trx_value_kes))
#         print('-------------------------')

#         ints_over_thresh = [x for x in  time_btw_payments if x > thresh]
        
#         if len(ints_over_thresh)>0: 
#             if num_payments >= num_times_should_have_paid: 
#                 loan_categories_line = {'new_account_ids': str(acct_id), 'm_ids_owner': owner_id, key1: 0, key2: 1}
#             else: 
#                 loan_categories_line = {'new_account_ids': str(acct_id), 'm_ids_owner': owner_id, key1: 0, key2: 0}
#         else: 
#             if num_payments >= num_times_should_have_paid:
#                 loan_categories_line = {'new_account_ids': str(acct_id), 'm_ids_owner': owner_id, key1: 1, key2: 1}
#             else: 
#                 loan_categories_line = {'new_account_ids': str(acct_id), 'm_ids_owner': owner_id, key1: 0, key2: 0}
#         loan_categories = loan_categories.append(loan_categories_line, ignore_index = True)        
#     return loan_categories

In [33]:
def find_borrowers_paid_back_in_x_days(df, x_days):
    loan_categories = pd.DataFrame()
    for idx, acct_id in enumerate(list(df.new_account_ids.unique())):
        print(idx, acct_id)
        
        loan_df = frmln_trx.loc[frmln_trx['new_account_ids']==acct_id]    
        loan_df = loan_df.copy()
        loan_df.sort_values("trx_stdtime_days_acc", inplace=True)
        owner_id = list(loan_df.m_ids_owner)[0]

        days_observed = loan_df.trx_stdtime_days_acc.max()
        key = str('paid_back_in_'+ str(x_days)+'_days')
        
        if days_observed >= x_days: 
            # if the num days observed loan is greater than the num days we are looking at (e.g. 150 for 5 mos)
            # then we want to see if they paid back at the last trx before the x_days are up, 
            loan_x_days = loan_df.loc[loan_df['trx_stdtime_days_acc'] <= x_days]
        else:
            loan_x_days = loan_df
        
        if len(loan_x_days.bal_evol) > 0:
            balance_at_x_days = list(loan_x_days.bal_evol)[-1]
#             print(balance_at_x_days)

            if balance_at_x_days <= 0: 
#                 print('less than 0!')
                loan_categories_line = {'new_account_ids': str(acct_id), 'm_ids_owner': owner_id, key: 1}
            else: 
#                 print('gt than 0!')
                loan_categories_line = {'new_account_ids': str(acct_id), 'm_ids_owner': owner_id, key: 0}
        else:
            loan_categories_line = {'new_account_ids': str(acct_id), 'm_ids_owner': owner_id, key: 'too_few_borrowings'}
        
        loan_categories = loan_categories.append(loan_categories_line, ignore_index = True)        
    return loan_categories

In [38]:
borrowers_paid_back_in_150_days_df = find_borrowers_paid_back_in_x_days(frmln_trx, 150)

0 60137430710900000.1
1 63136740549700000.1
2 105136540140100000.1
3 56134761927800000.1
4 112137283351600000.1
5 57134649143400000.1
6 105137049319900000.1
7 57136557858500000.2
8 57134702786200000.1
9 61134770599600000.1
10 57136539616900000.1
11 57136557858500000.1
12 61135352095000000.1
13 59134726342000000.2
14 59134753176900000.1
15 59134691680100000.2
16 84136886562100000.1
17 105137769890900000.1
18 59134745004500000.1
19 57134726357400000.1
20 59135021173400000.2
21 57135920565300000.1
22 60136531885600000.2
23 59136998025000000.1
24 59136376033300000.1
25 61134830133700000.3
26 62135858405800000.0
27 61134797983800000.1
28 50136756070500000.1
29 60134752045800000.1
30 105137414874400000.1
31 58134763288300000.1
32 61134804533700000.1
33 61134798041100000.1
34 61135010791300000.1
35 59136685821800000.1
36 61134770599600000.2
37 61136428866300000.1
38 61135409324300000.3
39 63136075164500000.1
40 63134804220400000.1
41 63134734786300000.2
42 63134734844700000.1
43 59134942576600000.1
44 59134942516400000.1
45 59135900709000000.1
46 61134788847800000.1
47 63136808803000000.1
48 59134942576600000.2
49 61134769746500000.1
50 63134752889200000.1
51 89137408864000000.1
52 84136879000800000.1
53 89138130900700000.1
54 62134702385700000.1
55 105137049848100000.1
56 56134756074400000.2
57 57135840612400000.1
58 61135409324300000.2
59 61134728400700000.1
60 79134944405200000.1
61 105137636847800000.1
62 60134978362300000.1
63 59135332895300000.2
64 59137629648900000.1
65 59135021173400000.1
66 57136557858500000.3
67 60135893778700000.1
68 61134797071300000.1
69 58134814374400000.1
70 56135201879700000.2
71 105137629836900000.1
72 59137629648900000.0
73 89138130387400000.1
74 50137023475700000.1
75 59134942469700000.2
76 105136540140100000.2
77 84136514094000000.1
78 59134666467600000.3
79 59135332895300000.1
80 105137899512900000.1
81 89136617005000000.1
82 61134830133700000.1
83 59136861465600000.1
84 59134691680100000.1
85 59134942469700000.1
86 63134734786300000.1
87 57134683686000000.1
88 105136910664600000.1
89 61135409324300000.0
90 56135201879700000.1
91 61134804533700000.0
92 60136500338400000.1
93 58134763288300000.0
94 60136531885600000.1
95 59135332895300000.0
96 59134726342000000.0
97 59135900709000000.0
98 59134753176900000.0
99 58134814374400000.0
100 56134756074400000.0
101 61134798041100000.3
102 61134798041100000.4
103 61134798041100000.2
104 61134830133700000.2
105 59134691680100000.3

In [39]:
borrowers_paid_back_in_150_days_df

           m_ids_owner       new_account_ids paid_back_in_150_days
0    60134547419200000   60137430710900000.1                     0
1    63134425702500000   63136740549700000.1                     0
2    65134432186900000  105136540140100000.1                     1
3    65134442822400000   56134761927800000.1                     0
4    61134406652800000  112137283351600000.1                     0
5    57134407687800000   57134649143400000.1                     0
6    56134397318700000  105137049319900000.1                     0
7    57134320447800000   57136557858500000.2                     0
8    57134339147100000   57134702786200000.1                     0
9    61134406243400000   61134770599600000.1                     0
10   57134303074500000   57136539616900000.1                     0
11   57134320447800000   57136557858500000.1                     1
12   61134423778900000   61135352095000000.1                     0
13   59134362693600000   59134726342000000.2                     0
14                  HH   59134753176900000.1                     0
15   59134327942800000   59134691680100000.2                     0
16   61134467126800000   84136886562100000.1                     0
17   56134388724900000  105137769890900000.1                     0
18   59134381215900000   59134745004500000.1                     1
19   57134364414700000   57134726357400000.1                     0
20   59134372493300000   59135021173400000.2    too_few_borrowings
21   57134408247700000   57135920565300000.1                     0
22   60134322152600000   60136531885600000.2                     0
23   59134327942800000   59136998025000000.1                     0
24   59134381215900000   59136376033300000.1                     0
25   61134467335400000   61134830133700000.3                     0
26   62134443073700000   62135858405800000.0                     1
27   61134338082500000   61134797983800000.1                     0
28   64134445268900000   50136756070500000.1                     0
29   60134433892200000   60134752045800000.1                     0
30   65134441422200000  105137414874400000.1                     0
31   58134382346100000   58134763288300000.1                     0
32   61134442496500000   61134804533700000.1                     1
33   61134338082500000   61134798041100000.1                     0
34   61134382134100000   61135010791300000.1                     0
35   59134399785800000   59136685821800000.1                     0
36   61134406243400000   61134770599600000.2    too_few_borrowings
37   61134470104500000   61136428866300000.1                     0
38   61134381034300000   61135409324300000.3    too_few_borrowings
39   63134382172900000   63136075164500000.1                     0
40   63134433360400000   63134804220400000.1                     0
41   63134363237200000   63134734786300000.2    too_few_borrowings
42   63134363237200000   63134734844700000.1                     1
43   59134311227800000   59134942576600000.1                     0
44   59134311227800000   59134942516400000.1                     0
45   59134388500400000   59135900709000000.1                     0
46   61134491524800000   61134788847800000.1                     0
47   63134459785700000   63136808803000000.1                     0
48   59134311227800000   59134942576600000.2    too_few_borrowings
49   61134479318400000   61134769746500000.1                     0
50   63134382172900000   63134752889200000.1                     1
51   79134829266800000   89137408864000000.1                     1
52   61134469982600000   84136879000800000.1                     0
53   64134482630800000   89138130900700000.1                     0
54   62134347056700000   62134702385700000.1                     0
55   65134441422200000  105137049848100000.1                     1
56   56134388724900000   56134756074400000.2                     0
57   57134322015900000   57135840612400000.1                     0
58   61134381034300000   61135409324300000.2    too_few_borrowings
59   61134394294700000   61134728400700000.1                     0
60   64134445268900000   79134944405200000.1                     1
61   65134436228800000  105137636847800000.1                     0
62   60134547419200000   60134978362300000.1                     0
63   59134379470300000   59135332895300000.2    too_few_borrowings
64                  HH   59137629648900000.1    too_few_borrowings
65   59134372493300000   59135021173400000.1                     1
66   57134320447800000   57136557858500000.3                     1
67                  HH   60135893778700000.1                     0
68   61134553127800000   61134797071300000.1                     0
69   58134433254800000   58134814374400000.1                     0
70   65134442822400000   56135201879700000.2    too_few_borrowings
71   56134397318700000  105137629836900000.1                     1
72                  HH   59137629648900000.0                     0
73   64134452134100000   89138130387400000.1                     0
74   79135062746000000   50137023475700000.1                     0
75   59134311227800000   59134942469700000.2                     1
76   65134432186900000  105136540140100000.2                     0
77   56134329355600000   84136514094000000.1                     0
78                  HH   59134666467600000.3                     0
79   59134379470300000   59135332895300000.1                     0
80   65134433094700000  105137899512900000.1                     0
81   79134829266800000   89136617005000000.1                     1
82   61134467335400000   61134830133700000.1                     0
83   59134337917700000   59136861465600000.1                     0
84   59134327942800000   59134691680100000.1                     1
85   59134311227800000   59134942469700000.1                     0
86   63134363237200000   63134734786300000.1                     0
87   57134320447800000   57134683686000000.1                     1
88   65134433094700000  105136910664600000.1                     0
89   61134381034300000   61135409324300000.0                     1
90   65134442822400000   56135201879700000.1                     1
91   61134442496500000   61134804533700000.0                     1
92   60134380370600000   60136500338400000.1                     0
93   58134382346100000   58134763288300000.0                     1
94   60134322152600000   60136531885600000.1                     0
95   59134379470300000   59135332895300000.0                     1
96   59134362693600000   59134726342000000.0                     1
97   59134388500400000   59135900709000000.0                     1
98                  HH   59134753176900000.0                     1
99   58134433254800000   58134814374400000.0                     1
100  56134388724900000   56134756074400000.0                     1
101  61134338082500000   61134798041100000.3    too_few_borrowings
102  61134338082500000   61134798041100000.4    too_few_borrowings
103  61134338082500000   61134798041100000.2                     1
104  61134467335400000   61134830133700000.2                     1
105  59134327942800000   59134691680100000.3    too_few_borrowings

In [40]:
def find_borrowers_num_days_threshold(df, borrowers_paid_back_in_x_days_df, thresh, x_days):
    
    # df is df of all trx of loans
    # thresh is the cutoff for num days between loans 
    # x_days = days of observation of the loan 

    loan_categories = pd.DataFrame()
    
    for idx, acct_id in enumerate(list(df.new_account_ids.unique())):
        
        print(idx, acct_id)
        
        loan_df = frmln_trx.loc[frmln_trx['new_account_ids']==acct_id]    
        loan_df = loan_df.copy()
        loan_df.sort_values("trx_stdtime_days_acc", inplace=True)
        owner_id = list(loan_df.m_ids_owner)[0]
        key1 = 'every_payment_under_'+str(thresh)+'_days'
        

        #subset down only to payments
        payment_idxs = [idx for idx, purpose in enumerate(list(loan_df['trx_prx_purpose'])) if 'Payment' in purpose]
        payment_df= loan_df.iloc[payment_idxs]
        
        # calculate the array of time between payments: 
        time_btw_payments = np.diff(np.array(payment_df.trx_stdtime_days_acc))
        
        # starting time 
        starting_time = list(loan_df.trx_stdtime_days_acc)[0]
        ending_time = list(loan_df.trx_stdtime_days_acc)[-1]
        num_to_add_to_time_btw_payments = x_days+starting_time - ending_time
        
        key_lookup = 'paid_back_in_'+str(x_days)+'_days'
        
        paid_back_x_days = borrowers_paid_back_in_150_days_df.loc[borrowers_paid_back_in_150_days_df['account_ids']==acct_id][key_lookup]
        
        if paid_back_x_days == 0: 
            np.append(time_btw_payments, num_to_add_to_time_btw_payments)
        else: 
            time_btw_payments = time_btw_payments
        
        print('time btw payments', time_btw_payments)
        print('std of time btw payments', np.std(time_btw_payments))
        print('mean of payment amount', np.mean(payment_df.trx_value_kes))
        print('-------------------------')

        ints_over_thresh = [x for x in  time_btw_payments if x > thresh]
        
        if len(ints_over_thresh)>0: 
            loan_categories_line = {'new_account_ids': str(acct_id), 'm_ids_owner': owner_id, key1: 0}
        else: 
            loan_categories_line = {'new_account_ids': str(acct_id), 'm_ids_owner': owner_id, key1: 1}
        loan_categories = loan_categories.append(loan_categories_line, ignore_index = True)        
    return loan_categories

In [41]:
z = x.merge(y, 'outer', ['new_account_ids', 'm_ids_owner'])

In [42]:
z.shape

(106, 4)

In [44]:
def create_outcomes(df, thresh, x_days): 
    
    x = find_borrowers_paid_back_in_x_days(df, x_days)
    y = find_borrowers_num_days_threshold(df, x, thresh, x_days)
    
    
    z = x.merge(y, 'outer', ['new_account_ids', 'm_ids_owner'])
    return z

In [45]:
outcomes = create_outcomes(frmln_trx, 33, 150)

0 60137430710900000.1
1 63136740549700000.1
2 105136540140100000.1
3 56134761927800000.1
4 112137283351600000.1
5 57134649143400000.1
6 105137049319900000.1
7 57136557858500000.2
8 57134702786200000.1
9 61134770599600000.1
10 57136539616900000.1
11 57136557858500000.1
12 61135352095000000.1
13 59134726342000000.2
14 59134753176900000.1
15 59134691680100000.2
16 84136886562100000.1
17 105137769890900000.1
18 59134745004500000.1
19 57134726357400000.1
20 59135021173400000.2
21 57135920565300000.1
22 60136531885600000.2
23 59136998025000000.1
24 59136376033300000.1
25 61134830133700000.3
26 62135858405800000.0
27 61134797983800000.1
28 50136756070500000.1
29 60134752045800000.1
30 105137414874400000.1
31 58134763288300000.1
32 61134804533700000.1
33 61134798041100000.1
34 61135010791300000.1
35 59136685821800000.1
36 61134770599600000.2
37 61136428866300000.1
38 61135409324300000.3
39 63136075164500000.1
40 63134804220400000.1
41 63134734786300000.2
42 63134734844700000.1
43 59134942576600000.1
44 59134942516400000.1
45 59135900709000000.1
46 61134788847800000.1
47 63136808803000000.1
48 59134942576600000.2
49 61134769746500000.1
50 63134752889200000.1
51 89137408864000000.1
52 84136879000800000.1
53 89138130900700000.1
54 62134702385700000.1
55 105137049848100000.1
56 56134756074400000.2
57 57135840612400000.1
58 61135409324300000.2
59 61134728400700000.1
60 79134944405200000.1
61 105137636847800000.1
62 60134978362300000.1
63 59135332895300000.2
64 59137629648900000.1
65 59135021173400000.1
66 57136557858500000.3
67 60135893778700000.1
68 61134797071300000.1
69 58134814374400000.1
70 56135201879700000.2
71 105137629836900000.1
72 59137629648900000.0
73 89138130387400000.1
74 50137023475700000.1
75 59134942469700000.2
76 105136540140100000.2
77 84136514094000000.1
78 59134666467600000.3
79 59135332895300000.1
80 105137899512900000.1
81 89136617005000000.1
82 61134830133700000.1
83 59136861465600000.1
84 59134691680100000.1
85 59134942469700000.1
86 63134734786300000.1
87 57134683686000000.1
88 105136910664600000.1
89 61135409324300000.0
90 56135201879700000.1
91 61134804533700000.0
92 60136500338400000.1
93 58134763288300000.0
94 60136531885600000.1
95 59135332895300000.0
96 59134726342000000.0
97 59135900709000000.0
98 59134753176900000.0
99 58134814374400000.0
100 56134756074400000.0
101 61134798041100000.3
102 61134798041100000.4
103 61134798041100000.2
104 61134830133700000.2
105 59134691680100000.3
0 60137430710900000.1

KeyError: 'account_ids'

In [46]:
outcomes.head(20)

,every_payment_under_33_days,m_ids_owner,new_account_ids,paid_back_in_150_days
0,0.0,60134547419200000,60137430710900000.1,0
1,1.0,63134425702500000,63136740549700000.1,0
2,1.0,65134432186900000,105136540140100000.1,1
3,0.0,65134442822400000,56134761927800000.1,0
4,0.0,61134406652800000,112137283351600000.1,0
5,0.0,57134407687800000,57134649143400000.1,0
6,0.0,56134397318700000,105137049319900000.1,0
7,1.0,57134320447800000,57136557858500000.2,0
8,0.0,57134339147100000,57134702786200000.1,0
9,1.0,61134406243400000,61134770599600000.1,0
10,0.0,57134303074500000,57136539616900000.1,0
11,1.0,57134320447800000,57136557858500000.1,1
12,0.0,61134423778900000,61135352095000000.1,0
13,0.0,59134362693600000,59134726342000000.2,0
14,0.0,HH,59134753176900000.1,0
15,1.0,59134327942800000,59134691680100000.2,0
16,0.0,61134467126800000,84136886562100000.1,0
17,1.0,56134388724900000,105137769890900000.1,0
18,1.0,59134381215900000,59134745004500000.1,1
19,0.0,57134364414700000,57134726357400000.1,0

In [28]:
outcomes.to_csv('everyPaymentUnder33_paidWithin150.csv', index = False)