In [38]:
import pandas as pd 
import os 
import glob 
from collections import Counter

# Merging

In [39]:
glob.glob('../datasets/*csv')

['../datasets/cons_wb_go_edu_demos.csv',
 '../datasets/income.csv',
 '../datasets/cons_wb_go_edu_demos_inc_pov_hou_rem.csv',
 '../datasets/edu_hh_ind_merge.csv',
 '../datasets/wellbeing_goingson.csv',
 '../datasets/goingson.csv',
 '../datasets/demos_merged.csv',
 '../datasets/cons_wb_go_edu_demos_inc.csv',
 '../datasets/pov_hou_rem_merge_rev4.csv',
 '../datasets/wellbeing.csv',
 '../datasets/pov_hou_rem_merge_rev1.csv',
 '../datasets/consumption_mapped_to_m_ids.csv']

In [40]:
predictors = pd.read_csv('../datasets/cons_wb_go_edu_demos_inc_pov_hou_rem.csv', dtype = {'m_ids_owner': 'object'})

In [41]:
glob.glob('*csv')

['loan_outcomes_33_150.csv',
 'individual_outcomes_33_150.csv',
 'binary_train.csv',
 'all_data.csv',
 'binary_test.csv',
 'data.csv',
 'diaries_trx_trunc_loans_start_bal.csv',
 'binary_y_train.csv',
 'data_merged_nocatvars.csv',
 'binary_x_train.csv',
 'binary_x_test.csv',
 'binary_y_test.csv']

In [42]:
outcome = pd.read_csv('individual_outcomes_33_150.csv', dtype = {'m_ids_owner': 'object'})

In [43]:
print(predictors.shape)
print(outcome.shape)

(670, 174)
(139, 4)

In [44]:
predictors.head()

,m_ids_owner,hh_ids,con_pur_hh_meanptrx,con_pur_hh_sdptrx,con_pur_hh_minpti,con_pur_hh_meanpti,con_pur_hh_medpti,con_pur_hh_maxpti,con_pur_hh_meanpti_ALC,con_pur_hh_medpti_ALC,...,hh_inf_toilet_type,hh_inf_toilet_shared,hh_inf_housing_type,hh_inf_electricity_access,hh_inf_interiorcond,hh_asset_internet_access,hh_otherprop_any,hh_otherprop_N,hh_otherprop1_value,hh_othershamba_N
0,58134383397900000,KELDL02,107.9147,286.7984,3293,14372.27,15640.0,23670,204.5455,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,58134383535800000,KELDL02,107.9147,286.7984,3293,14372.27,15640.0,23670,204.5455,0.0,...,1.0,0.0,2.0,2.0,3.0,0.0,0.0,NaN,NaN,NaN
2,HH,KVIHC16,115.6588,345.8901,1070,5825.00,5470.0,15380,0.0000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,59134423954300000,KVIHC16,115.6588,345.8901,1070,5825.00,5470.0,15380,0.0000,0.0,...,2.0,0.0,1.0,0.0,3.0,0.0,0.0,NaN,NaN,NaN
4,65134441430300000,KELDK21,1061.1900,4257.9390,1150,26529.75,17300.0,75020,0.0000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
outcome.head()

,loans,m_ids_owner,owner_score,binarize_score
0,"['56134804374600000.3', '56134804374600000.1',...",65134441430300000,0.75,1
1,"['60137430710900000.1', '60134978362300000.1']",60134547419200000,0.50,999
2,"['63136740549700000.1', '63136740416600000.2',...",63134425702500000,1.00,1
3,"['89136459180500000.2', '89136459180500000.1']",64134429266300000,1.00,1
4,"['105136540140100000.1', '105136540140100000.2']",65134432186900000,1.00,1

In [46]:
 outcome = outcome.drop(['loans'], axis = 1)

In [47]:
outcome.shape

(139, 3)

In [48]:
data = outcome.merge(predictors, on = 'm_ids_owner', how = 'left')

In [49]:
data.shape

(139, 176)

In [50]:
data.to_csv('all_data.csv', index = False)