In [1]:
import os
import pandas as pd 
import glob
import random 
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline 
import math

In [2]:
pd.set_option('display.max_columns',200)
pd.set_option('display.max_rows',680)

## Read in loan outcomes:

In [3]:
outcomes = pd.read_csv('loan_outcomes_33_150.csv', dtype = {'new_account_ids': 'object'})

In [4]:
outcomes.shape

(344, 4)

In [5]:
outcomes.head()

,m_ids_owner,new_account_ids,paid_back_in_150_days,every_payment_under_33_days
0,65134441430300000,56134804374600000.3,1.0,1.0
1,60134547419200000,60137430710900000.1,0.0,0.0
2,63134425702500000,63136740549700000.1,0.0,1.0
3,64134429266300000,89136459180500000.2,1.0,1.0
4,65134432186900000,105136540140100000.1,1.0,1.0

In [6]:
len(outcomes.m_ids_owner.unique())

139

## First categorize loans:

In [7]:
outcomes.shape[1]

4

In [8]:
# outcomes.insert(outcomes.shape[1],"loan_cat", np.zeros(outcomes.shape[0]))

In [9]:
outcomes.dtypes

m_ids_owner                     object
new_account_ids                 object
paid_back_in_150_days          float64
every_payment_under_33_days    float64
dtype: object

In [10]:
outcomes = outcomes[['m_ids_owner', 'new_account_ids', 'every_payment_under_33_days', 
       'paid_back_in_150_days']]

In [11]:
outcomes.head()

,m_ids_owner,new_account_ids,every_payment_under_33_days,paid_back_in_150_days
0,65134441430300000,56134804374600000.3,1.0,1.0
1,60134547419200000,60137430710900000.1,0.0,0.0
2,63134425702500000,63136740549700000.1,1.0,0.0
3,64134429266300000,89136459180500000.2,1.0,1.0
4,65134432186900000,105136540140100000.1,1.0,1.0

In [12]:
outcomes.shape

(344, 4)

## This creates a binary outcome per loan:

It will give loans a score of 1 if they meet either of our criteria, else 0m

In [13]:
def score_loan_binary(outcomes, x_days, thresh): 
    # x_days = paid back in x days (e.g. 150)
    # thresh = regularity threshold (e.g. 33 days)
    new_outcomes = outcomes.copy()
    
    key_x_days = 'paid_back_in_'+str(x_days)+"_days"
    key_thresh = 'every_payment_under_'+str(thresh)+'_days'
    
    #insert loan category 
    new_outcomes.insert(new_outcomes.shape[1],"binary_loan_score", np.zeros(new_outcomes.shape[0]))
    
    for idx, row in new_outcomes.iterrows():
        
        if row[key_x_days] == 1:
            new_outcomes.at[idx,'binary_loan_score'] = 1
        else: 
            if row[key_thresh] == 1: 
                new_outcomes.at[idx,'binary_loan_score'] = 1
            else: 
                new_outcomes.at[idx,'binary_loan_score'] = 0
    return new_outcomes

In [14]:
new_outcomes = score_loan_binary(outcomes, 150, 33)

In [15]:
new_outcomes.binary_loan_score.value_counts()

1.0    278
0.0     66
Name: binary_loan_score, dtype: int64

In [16]:
outcomes.shape

(344, 4)

In [17]:
new_outcomes.shape

(344, 5)

In [18]:
binary_outcomes = new_outcomes.copy()

## This creates a scaled score for a loan, weighting things however you like:

In [19]:
def score_loan_continuous(outcomes, x_days, thresh, weight_regularity = 0.5): 
    # x_days = paid back in x days (e.g. 150)
    # thresh = regularity threshold (e.g. 33 days)
    # weight_regularity = do we want to weight regularity a bit higher than weight_paidback? default = 0.5
    
    weight_paidback = 1-weight_regularity 
    
    new_outcomes = outcomes.copy()
    
    # determines the keys 
    key_x_days = 'paid_back_in_'+str(x_days)+"_days"
    key_thresh = 'every_payment_under_'+str(thresh)+'_days'
    
    #insert loan category 
    new_outcomes.insert(new_outcomes.shape[1],"continuous_loan_score", np.zeros(new_outcomes.shape[0]))
    
    for idx, row in new_outcomes.iterrows():
        if row[key_x_days] == 1:
            if row[key_thresh] == 1: 
                new_outcomes.at[idx,'continuous_loan_score'] = 1
            else: 
                new_outcomes.at[idx,'continuous_loan_score'] = weight_paidback
        else: 
            if row['every_payment_under_33_days'] == 1: 
                new_outcomes.at[idx,'continuous_loan_score'] = weight_regularity
            else: 
                new_outcomes.at[idx,'continuous_loan_score'] = 0
    return new_outcomes

In [20]:
cont_outcomes = score_loan_continuous(binary_outcomes, 150, 33, 0.5)

In [21]:
cont_outcomes.shape

(344, 6)

In [22]:
cont_outcomes.head()

,m_ids_owner,new_account_ids,every_payment_under_33_days,paid_back_in_150_days,binary_loan_score,continuous_loan_score
0,65134441430300000,56134804374600000.3,1.0,1.0,1.0,1.0
1,60134547419200000,60137430710900000.1,0.0,0.0,0.0,0.0
2,63134425702500000,63136740549700000.1,1.0,0.0,1.0,0.5
3,64134429266300000,89136459180500000.2,1.0,1.0,1.0,1.0
4,65134432186900000,105136540140100000.1,1.0,1.0,1.0,1.0

## This creates outcomes on a per-person basis:

In [23]:
outcomes_perperson = pd.DataFrame()

In [24]:
def create_perperson_outcomes(outcomes_total, binary_or_cont = 'binary', good_thresh = 0.75, bad_thresh = 0.25): 
    
    outcomes_perperson = pd.DataFrame()
    if binary_or_cont == 'binary': 
        for m_ids_owner in list(outcomes_total.m_ids_owner.unique()): 
            
            # take all loans for that person :
            owner_df = outcomes_total.loc[outcomes_total['m_ids_owner']==m_ids_owner]
            
            # calc mean of loan paying 
            owner_score = np.mean(owner_df.binary_loan_score)
            
            # add that to outcomes_perperson DF
            outcomes_perperson_line = {'m_ids_owner': m_ids_owner, 'loans': list(owner_df.new_account_ids), 'owner_score': owner_score}
            outcomes_perperson = outcomes_perperson.append(outcomes_perperson_line, ignore_index= True)
    
        outcomes_perperson['binarize_score'] = [1 if x >= good_thresh else 0 if x <= bad_thresh else 999 for x in outcomes_perperson.owner_score]
    
    else: 
        for m_ids_owner in list(outcomes_total.m_ids_owner.unique()): 
            
            # take all loans for that person :
            owner_df = outcomes_total.loc[outcomes_total['m_ids_owner']==m_ids_owner]
            
            # calc mean of loan paying 
            owner_score = np.mean(owner_df.continuous_loan_score)
            
            # add that to outcomes_perperson DF
            outcomes_perperson_line = {'m_ids_owner': m_ids_owner, 'loans': list(owner_df.new_account_ids), 'owner_score': owner_score}
            outcomes_perperson = outcomes_perperson.append(outcomes_perperson_line, ignore_index= True)
    
        outcomes_perperson['binarize_score'] = [1 if x >= good_thresh else 0 if x <= bad_thresh else 999 for x in outcomes_perperson.owner_score]
    
    return outcomes_perperson

In [25]:
outcomes_perperson = create_perperson_outcomes(cont_outcomes, 'binary')

In [26]:
outcomes_perperson.binarize_score.value_counts()

1      90
999    25
0      24
Name: binarize_score, dtype: int64

In [27]:
outcomes_perperson.head()

,loans,m_ids_owner,owner_score,binarize_score
0,"[56134804374600000.3, 56134804374600000.1, 105...",65134441430300000,0.75,1
1,"[60137430710900000.1, 60134978362300000.1]",60134547419200000,0.50,999
2,"[63136740549700000.1, 63136740416600000.2, 631...",63134425702500000,1.00,1
3,"[89136459180500000.2, 89136459180500000.1]",64134429266300000,1.00,1
4,"[105136540140100000.1, 105136540140100000.2]",65134432186900000,1.00,1

In [28]:
outcomes_perperson.to_csv('individual_outcomes_33_150.csv', index = False)