In [3]:
import pandas as pd
import glob
import os
from sklearn.model_selection import train_test_split

In [56]:
glob.glob('*.csv')

['loan_outcomes_33_150.csv',
 'individual_outcomes_33_150.csv',
 'data.csv',
 'diaries_trx_trunc_loans_start_bal.csv',
 'binary_y_train.csv',
 'data_merged_nocatvars.csv',
 'binary_x_train.csv',
 'binary_x_test.csv',
 'binary_y_test.csv']

In [57]:
data = pd.read_csv('data_merged_nocatvars.csv')

In [58]:
data.shape

(139, 102)

In [59]:
## dropping the "HH" owner ID b/c it is nonsense:

In [60]:
idx = data[data['m_ids_owner']=="HH"].index
list(idx)[0]

35

In [61]:
data = data.drop(list(idx)[0])

In [62]:
data.head()

,m_ids_owner,owner_score,binarize_score,hh_ids,con_pur_hh_meanptrx,con_pur_hh_sdptrx,con_pur_hh_minpti,con_pur_hh_meanpti,con_pur_hh_medpti,con_pur_hh_maxpti,...,dem_i_relhead_s_or_d,never_married,tribe_Kalenjin,tribe_Kamba,tribe_Kikuyu,tribe_Kisii,tribe_Luhya,tribe_Luo,tribe_Mijikenda/Swahili,tribe_Taita/Taveta
0,65134441430300000,0.75,1,KELDK21,1061.1900,4257.9390,1150,26529.750,17300.0,75020,...,0,1,1,0,0,0,0,0,0,0
1,60134547419200000,0.50,999,KVIHK40,213.3567,406.9379,1810,14703.830,15589.5,29414,...,0,1,0,0,0,0,1,0,0,0
2,63134425702500000,1.00,1,KMAKE06,153.4010,1022.1200,120,5036.667,4232.5,18320,...,0,1,0,1,0,0,0,0,0,0
3,64134429266300000,1.00,1,KNBOK05,273.7134,1146.3220,3920,30884.000,29395.5,67102,...,0,1,0,0,1,0,0,0,0,0
4,65134432186900000,1.00,1,KELDK37,217.1206,648.0765,10,9752.333,8557.5,26320,...,0,1,1,0,0,0,0,0,0,0

In [63]:
data = data.loc[data['binarize_score'] != 999]

In [64]:
data.binarize_score.value_counts()

1    90
0    24
Name: binarize_score, dtype: int64

In [65]:
labels = data.binarize_score 
data = data.drop(['binarize_score'], axis = 1)

In [66]:
x_train, x_test, y_train, y_test = train_test_split(data, labels, stratify = labels, random_state=42, test_size = 0.2 )

In [67]:
x_train.to_csv('binary_x_train.csv', index =0)
x_test.to_csv('binary_x_test.csv', index =0)
y_train.to_csv('binary_y_train.csv', index = 0)
y_test.to_csv('binary_y_test.csv', index = 0)