## Imports

In [24]:
# basic imports
import os 
import glob

# sci python and visualization
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('ggplot')
%matplotlib inline
from sklearn.preprocessing import StandardScaler

# model selection and performance
from sklearn.model_selection import train_test_split,cross_val_score,KFold
from sklearn.metrics import accuracy_score, r2_score, roc_auc_score, classification_report,confusion_matrix
from sklearn.feature_selection import SelectKBest,chi2

#models
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from numpy import array
from numpy import argmax
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
# decorations
from IPython.display import YouTubeVideo

import warnings
warnings.filterwarnings('ignore')

np.random.seed(2)

In [25]:
pd.set_option('display.max_columns',200)
pd.set_option('display.max_rows',680)

In [26]:
glob.glob('*')

['1_Pure_Truncation_Start_Bal_Ella_Version2-editedJulia.ipynb',
 '3_individual_outcome_determination.ipynb',
 '5_format_data.ipynb',
 'loan_outcomes_33_150.csv',
 '7_MLexplore.ipynb',
 'individual_outcomes_33_150.csv',
 'binary_train.csv',
 'all_data.csv',
 'binary_test.csv',
 'data_merged_noMissingData.csv',
 'data.csv',
 '4_merge_predictors_with_outcome.ipynb',
 '2_loan_outcome_determination.ipynb',
 'diaries_trx_trunc_loans_start_bal.csv',
 'binary_y_train.csv',
 'Pure_Truncation_Start_Bal_Ella_Version2.ipynb',
 '6_train_test_split.ipynb',
 'data_merged_nocatvars.csv',
 'heatmap.jpg',
 'binary_x_train.csv',
 'binary_x_test.csv',
 'binary_y_test.csv']

In [27]:
x_train = pd.read_csv('binary_x_train.csv')
x_test  = pd.read_csv('binary_x_test.csv')
y_train = pd.read_csv('binary_y_train.csv')
y_test  = pd.read_csv('binary_y_test.csv')

In [28]:
x_train.shape

(91, 98)

In [32]:
x_train.head()

,m_ids_owner,owner_score,hh_ids,con_pur_hh_meanptrx,con_pur_hh_sdptrx,con_pur_hh_minpti,con_pur_hh_meanpti,con_pur_hh_medpti,con_pur_hh_maxpti,con_pur_hh_meanpti_ALC,con_pur_hh_medpti_ALC,con_pur_hh_meanpti_CLN,con_pur_hh_medpti_CLN,con_pur_hh_meanpti_CLTH,con_pur_hh_medpti_CLTH,con_pur_hh_meanpti_COMM,con_pur_hh_medpti_COMM,con_pur_hh_meanpti_EDU,con_pur_hh_medpti_EDU,con_pur_hh_meanpti_ENRGY,con_pur_hh_medpti_ENRGY,con_pur_hh_meanpti_ENT,con_pur_hh_medpti_ENT,con_pur_hh_meanpti_FOOD,con_pur_hh_medpti_FOOD,con_pur_hh_meanpti_H20,con_pur_hh_medpti_H20,con_pur_hh_meanpti_HSNG,con_pur_hh_medpti_HSNG,con_pur_hh_meanpti_MED,con_pur_hh_medpti_MED,con_pur_hh_meanpti_OTH,con_pur_hh_medpti_OTH,con_pur_hh_meanpti_PERS,con_pur_hh_medpti_PERS,con_pur_hh_meanpti_REL,con_pur_hh_medpti_REL,con_pur_hh_meanpti_TRNSP,con_pur_hh_medpti_TRNSP,happiness,economically,relationships,confidence,police,doctor,unsafe,utilities,asset_taken,miss_app,miss_inc,romantic,hungry,school_sent,edu_i_enrolled,edu_i_attain,dem_i_male,dem_i_age_yrs,dem_i_age_workage,dem_i_hhead,dem_urban,dem_hh_size_x,dem_hh_meanage,dem_hh_ages0_4,dem_hh_ages5_14,dem_hh_ages15_17,dem_hh_ages0_17,dem_hh_ages15plus,dem_hh_ages18plus,dem_hh_ages65plus,dem_hh_ages20_30,dem_hh_workage,dem_hh_dependents,dem_hh_agehead,dem_hh_malehead,dem_pae_oecd,dem_pae_kihbs,dem_i_relhead_h_or_w,dem_i_relhead_hh_head,dem_i_relhead_parent,dem_i_relhead_s_or_d,married,never_married,separated,widowed,tribe_Kalenjin,tribe_Kamba,tribe_Kikuyu,tribe_Kisii,tribe_Luhya,tribe_Luo,tribe_Mijikenda/Swahili,tribe_Taita/Taveta,inc_i_dom_AGRI,inc_i_dom_CITMPC,inc_i_dom_NEINCG,inc_i_dom_REI,inc_i_dom_RIOI,inc_i_dom_SEI
0,57134372270400000,1.0,KMOMB02,52.56366,120.5954,3765,8257.272,7985.0,15107,0.0,0.0,280.00000,260.0,472.7273,170,260.72730,228.0,295.45460,230.0,535.4545,500.0,10.90909,0,4053.818,4150.0,478.1818,560.0,663.6364,0.0,229.0909,170,236.3636,150.0,191.818200,90.0,370.00000,110.0,179.0909,160.0,4.000000,3.055556,4.555556,4.777778,0.000000,0.095238,0.047619,0.142857,0.0,0.000000,0.095238,0.0,0.000000,0.214286,0.0,4,1,39.0,1.0,1.0,1.0,5.0,18.60000,1.0,1.0,0.0,2.0,3.0,3.0,0.0,2.0,0.600000,0.400000,39.0,1.0,3.4,3.89,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0
1,65134433094700000,1.0,KELDK15,149.76850,725.8261,3060,18059.580,14207.5,46115,0.0,0.0,432.08330,395.0,591.6667,0,1133.33300,1450.0,2260.00000,0.0,1035.0000,940.0,0.00000,0,5735.000,5035.0,0.0000,0.0,5020.8330,0.0,779.1667,0,464.1667,350.0,58.333330,0.0,395.83330,75.0,154.1667,0.0,4.500000,3.909091,4.954545,4.954545,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,2,1,30.0,1.0,1.0,0.0,5.0,15.80000,1.0,1.0,0.0,2.0,3.0,3.0,0.0,2.0,0.600000,0.400000,30.0,1.0,3.4,3.89,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0
2,59134390567400000,1.0,KVIHC15,56.41905,137.7125,50,2468.333,2647.5,4970,0.0,0.0,60.83333,75.0,0.0000,0,54.16667,60.0,66.66666,0.0,164.1667,165.0,0.00000,0,1187.500,1097.5,0.0000,0.0,0.0000,0.0,266.6667,0,0.0000,0.0,5.833333,0.0,34.16667,10.0,628.3333,245.0,3.906250,3.375000,4.343750,3.906250,0.000000,0.222222,0.000000,0.000000,0.0,0.111111,0.166667,0.0,0.166667,0.214286,0.0,2,0,71.0,0.0,0.0,0.0,5.0,39.00000,0.0,1.0,0.0,1.0,4.0,4.0,2.0,1.0,0.400000,0.600000,73.0,1.0,3.6,4.65,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0
3,65134432186900000,1.0,KELDK37,217.12060,648.0765,10,9752.333,8557.5,26320,0.0,0.0,132.50000,0.0,400.0000,0,431.66670,420.0,3760.83300,500.0,416.6667,100.0,0.00000,0,3425.667,3150.0,0.0000,0.0,0.0000,0.0,154.1667,0,509.1667,0.0,77.500000,0.0,32.50000,0.0,411.6667,120.0,3.944444,3.777778,4.777778,4.666667,0.071429,0.000000,0.000000,0.000000,0.0,0.000000,0.083333,0.0,0.000000,0.333333,0.0,2,1,29.0,1.0,1.0,0.0,6.0,13.83333,2.0,2.0,0.0,4.0,2.0,2.0,0.0,2.0,0.333333,0.666667,29.0,1.0,3.7,3.78,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0
4,63134362976500000,1.0,KMAKE07,129.12860,514.8032,2913,5939.917,4845.0,20170,0.0,0.0,85.58334,60.0,416.6667,0,158.91670,160.0,162.50000,0.0,145.5000,107.5,0.00000,0,4204.917,2665.0,0.0000,0.0,0.0000,0.0,128.3333,0,12.5000,0.0,9.166667,0.0,70.83334,0.0,545.0000,370.0,3.730769,3.038462,4.192308,4.153846,0.000000,0.058824,0.058824,0.000000,0.0,0.000000,0.117647,0.0,0.000000,0.000000,0.0,2,1,55.0,1.0,1.0,0.0,6.0,27.66667,0.0,1.0,1.0,2.0,5.0,4.0,0.0,2.0,0.833333,0.166667,55.0,1.0,4.3,5.65,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1

In [29]:
y_train.shape

(91, 1)

In [33]:
y_train.head(10)

   owner_score_bin
0                1
1                1
2                1
3                1
4                1
5                1
6                1
7                0
8                1
9                1

In [34]:
x_train = x_train.drop(['owner_score'], axis = 1)
x_test  = x_test.drop(['owner_score'], axis = 1)

In [35]:
y_train.columns = ['outcome']
y_test.columns = ['outcome']

## Associations:

In [36]:
associations = pd.concat([x_train,y_train], axis=1)

In [37]:
associations.outcome.value_counts(normalize=True)

1    0.791209
0    0.208791
Name: outcome, dtype: float64

In [38]:
# corr = associations[associations.columns].corr()
# plt.figure(figsize=(30, 30))
# sns.heatmap(corr, annot = True, cmap='coolwarm')

## It appears that there is a lot of correlation among a few features; this makes sense b/c some are mean, some are median measures of the same thing. Let's only keep one of those for now & redo the correlation plot:

In [39]:
med_cols = [col for col in x_train.columns if 'med' in col]
med_cols

['con_pur_hh_medpti',
 'con_pur_hh_medpti_ALC',
 'con_pur_hh_medpti_CLN',
 'con_pur_hh_medpti_CLTH',
 'con_pur_hh_medpti_COMM',
 'con_pur_hh_medpti_EDU',
 'con_pur_hh_medpti_ENRGY',
 'con_pur_hh_medpti_ENT',
 'con_pur_hh_medpti_FOOD',
 'con_pur_hh_medpti_H20',
 'con_pur_hh_medpti_HSNG',
 'con_pur_hh_medpti_MED',
 'con_pur_hh_medpti_OTH',
 'con_pur_hh_medpti_PERS',
 'con_pur_hh_medpti_REL',
 'con_pur_hh_medpti_TRNSP']

In [40]:
x_train = x_train.drop(med_cols, axis = 1)
x_test  = x_test.drop(med_cols, axis = 1)

In [41]:
associations = pd.concat([x_train,y_train], axis=1)

In [42]:
associations.outcome.value_counts(normalize=True)

1    0.791209
0    0.208791
Name: outcome, dtype: float64

In [ ]:
corr = associations[associations.columns].corr()
plt.figure(figsize=(50, 50))
sns.heatmap(corr, annot = True, cmap='coolwarm')
plt.savefig('heatmap.jpg')

## Inspecting missing values:

In [16]:
x_train.describe().loc['count'].value_counts()

91.0    82
90.0    21
83.0     7
29.0     3
33.0     3
31.0     2
88.0     2
69.0     1
53.0     1
40.0     1
47.0     1
25.0     1
30.0     1
84.0     1
7.0      1
5.0      1
13.0     1
12.0     1
89.0     1
Name: count, dtype: int64

In [18]:
x_train.isna().sum()

m_ids_owner                  0
hh_ids                       0
con_pur_hh_meanptrx          0
con_pur_hh_sdptrx            0
con_pur_hh_minpti            0
con_pur_hh_meanpti           0
con_pur_hh_maxpti            0
con_pur_hh_meanpti_ALC       0
con_pur_hh_meanpti_CLN       0
con_pur_hh_meanpti_CLTH      0
con_pur_hh_meanpti_COMM      0
con_pur_hh_meanpti_EDU       0
con_pur_hh_meanpti_ENRGY     0
con_pur_hh_meanpti_ENT       0
con_pur_hh_meanpti_FOOD      0
con_pur_hh_meanpti_H20       0
con_pur_hh_meanpti_HSNG      0
con_pur_hh_meanpti_MED       0
con_pur_hh_meanpti_OTH       0
con_pur_hh_meanpti_PERS      0
con_pur_hh_meanpti_REL       0
con_pur_hh_meanpti_TRNSP     0
happiness                    0
economically                 0
relationships                0
confidence                   0
police                       0
doctor                       0
unsafe                       0
utilities                    0
asset_taken                  0
miss_app                     0
miss_inc                     0
romantic                     0
hungry                       0
school_sent                  0
m_ids_x                      0
edu_i_enrolled               0
edu_i_attain                 0
edu_i_attain_yrs             1
edu_hh_child613inschool     22
edu_hh_child1417inschool    38
edu_hh_girls613inschool     51
edu_hh_girls1417inschool    58
edu_hh_boys613inschool      44
edu_hh_boys1417inschool     60
edu_hh_headattain_yrs        1
m_ids_y                      0
dem_i_male                   0
dem_i_age_yrs                0
dem_i_age_workage            0
dem_i_hhead                  0
dem_i_children_tot           3
dem_i_children_inhh          3
dem_urban                    0
dem_hh_size                  0
dem_hh_meanage               0
dem_hh_ages0_4               0
dem_hh_ages5_14              0
dem_hh_ages15_17             0
dem_hh_ages0_17              0
dem_hh_ages15plus            0
dem_hh_ages18plus            0
dem_hh_ages65plus            0
dem_hh_ages20_30             0
dem_hh_workage               0
dem_hh_dependents            0
dem_hh_agehead               0
dem_hh_malehead              0
dem_pae_oecd                 0
dem_pae_kihbs                0
hh_income                    1
hh_income_only               1
inc_i_unique_sources         1
inc_i_meanptrx               2
inc_i_sdptrx                 7
inc_i_minpti                 1
inc_i_meanpti                1
inc_i_sdpti                  8
inc_i_iqrpti                 1
inc_i_maxpti                 1
inc_i_meanptrx_AGRI         58
inc_i_sdptrx_AGRI           62
inc_i_meanpti_AGRI           1
inc_i_sdpti_AGRI             8
inc_i_iqrpti_AGRI            1
inc_i_meanptrx_CITMPC       62
inc_i_sdptrx_CITMPC         62
inc_i_meanpti_CITMPC         1
inc_i_sdpti_CITMPC           8
inc_i_iqrpti_CITMPC          1
inc_i_meanptrx_NEINCG       84
inc_i_sdptrx_NEINCG         86
inc_i_meanpti_NEINCG         1
inc_i_sdpti_NEINCG           8
inc_i_iqrpti_NEINCG          1
inc_i_meanptrx_REI          78
inc_i_sdptrx_REI            79
inc_i_meanpti_REI            1
inc_i_sdpti_REI              8
inc_i_iqrpti_REI             1
inc_i_meanptrx_RIOI         61
inc_i_sdptrx_RIOI           66
inc_i_meanpti_RIOI           1
inc_i_sdpti_RIOI             8
inc_i_iqrpti_RIOI            1
inc_i_meanptrx_SEI          58
inc_i_sdptrx_SEI            60
inc_i_meanpti_SEI            1
inc_i_sdpti_SEI              8
inc_i_iqrpti_SEI             1
dem_i_relhead_h_or_w         0
dem_i_relhead_hh_head        0
dem_i_relhead_parent         0
dem_i_relhead_s_or_d         0
married                      0
never_married                0
separated                    0
widowed                      0
tribe_Kalenjin               0
tribe_Kamba                  0
tribe_Kikuyu                 0
tribe_Kisii                  0
tribe_Luhya                  0
tribe_Luo                    0
tribe_Mijikenda/Swahili      0
tribe_Taita/Taveta           0
inc_i_dom_AGRI               0
inc_i_dom_CITMPC             0
inc_i_dom_NEINCG             0
inc_i_dom_REI                0
inc_i_dom_RIOI               0
inc_i_dom_SEI                0
dtype: int64

## Feature selection:

We may not have to do this, but let's see what pops out:

In [16]:
x_train.shape

(91, 84)

In [17]:
x_train.dtypes[x_train.dtypes=='object']

hh_ids    object
dtype: object

In [20]:
x_train_hhids = x_train.hh_ids

In [22]:
x_train = x_train.drop(['hh_ids'], axis =1)

In [23]:
select_top_20 = SelectKBest(score_func=chi2, k = 20)
fit = select_top_20.fit(x_train,y_train)
features_20 = fit.transform(x_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').